@import "../../styles/colors.scss";

.playerWrapper {
  width: 100%;
  height: 100%;
}

.blackTitle {
  color: var(--text-color-main);
  font-weight: bold;
}

.purpleTitle {
  color: $highlight-purple;
  font-weight: bold;
}

.nextStepWrapper {
  color: var(--text-color-main);
}

.nextStepLink {
  border: 2px solid var(--text-color-main);
  border-radius: 5px;
  color: var(--text-color-main);
  background-color: var(--surface-background-color);
}

.nextStepLink:hover {
  background-color: $highlight-purple;
  color: $white;
  border-color: $highlight-purple;
}

.nextStepWrapper:hover {
  text-decoration: none;
}

.videoPreview {
  box-shadow: var(--surface-background-color-alt) 4px 4px 12px 0px;
}
