openapi: 3.1.0
info:
  version: 1.0.0
  title: GrowthBook REST API
  description: >
    GrowthBook offers a full REST API for interacting with the application.


    Request data can use either JSON or Form data encoding (with proper
    `Content-Type` headers). All response bodies are JSON-encoded.


    The API base URL for GrowthBook Cloud is `https://api.growthbook.io`. For
    self-hosted deployments, it is the same as your API_HOST environment
    variable (defaults to `http://localhost:3100`). The rest of these docs will
    assume you are using GrowthBook Cloud.


    ## Authentication


    We support both the HTTP Basic and Bearer authentication schemes for
    convenience.


    You first need to generate a new API Key in GrowthBook. Different keys have
    different permissions:


    - **Personal Access Tokens**: These are sensitive and provide the same level
    of access as the user has to an organization. These can be created by going
    to `Personal Access Tokens` under the your user menu.

    - **Secret Keys**: These are sensitive and provide the level of access for
    the role, which currently is either `admin` or `readonly`. Only Admins with
    the `manageApiKeys` permission can manage Secret Keys on behalf of an
    organization. These can be created by going to `Settings -> API Keys`


    If using HTTP Basic auth, pass the Secret Key as the username and leave the
    password blank:


    ```bash

    curl https://api.growthbook.io/api/v1 \
      -u secret_abc123DEF456:
    # The ":" at the end stops curl from asking for a password

    ```


    If using Bearer auth, pass the Secret Key as the token:


    ```bash

    curl https://api.growthbook.io/api/v1 \

    -H "Authorization: Bearer secret_abc123DEF456"

    ```


    ## Errors


    The API may return the following error status codes:


    - **400** - Bad Request - Often due to a missing required parameter

    - **401** - Unauthorized - No valid API key provided

    - **402** - Request Failed - The parameters are valid, but the request
    failed

    - **403** - Forbidden - Provided API key does not have the required access

    - **404** - Not Found - Unknown API route or requested resource

    - **429** - Too Many Requests - You exceeded the rate limit of 60 requests
    per minute. Try again later.

    - **5XX** - Server Error - Something went wrong on GrowthBook's end (these
    are rare)


    The response body will be a JSON object with the following properties:


    - **message** - Information about the error
servers:
  - url: https://api.growthbook.io/api/v1
    description: GrowthBook Cloud
  - url: https://{domain}/api/v1
    description: Self-hosted GrowthBook
tags:
  - name: projects
    x-displayName: Projects
    description: Projects are used to organize your feature flags and experiments
  - name: environments
    x-displayName: Environments
    description: >-
      GrowthBook comes with one environment by default (production), but you can
      add as many as you need. When used with feature flags, you can
      enable/disable feature flags on a per-environment basis.
  - name: features
    x-displayName: Feature Flags
    description: Control your feature flags programatically
  - name: data-sources
    x-displayName: Data Sources
    description: How GrowthBook connects and queries your data
  - name: fact-tables
    x-displayName: Fact Tables
    description: Fact Tables describe the shape of your data warehouse tables
  - name: fact-metrics
    x-displayName: Fact Metrics
    description: Fact Metrics are metrics built on top of Fact Table definitions
  - name: metrics
    x-displayName: Metrics (legacy)
    description: Metrics used as goals and guardrails for experiments
  - name: experiments
    x-displayName: Experiments
    description: Experiments (A/B Tests)
  - name: snapshots
    x-displayName: Experiment Snapshots
    description: Experiment Snapshots (the individual updates of an experiment)
  - name: dimensions
    x-displayName: Dimensions
    description: Dimensions used during experiment analysis
  - name: segments
    x-displayName: Segments
    description: Segments used during experiment analysis
  - name: sdk-connections
    x-displayName: SDK Connections
    description: Client keys and settings for connecting SDKs to a GrowthBook instance
  - name: visual-changesets
    x-displayName: Visual Changesets
    description: Groups of visual changes made by the visual editor to a single page
  - name: saved-groups
    x-displayName: Saved Groups
    description: >-
      Defined sets of attribute values which can be used with feature rules for
      targeting features at particular users.
  - name: organizations
    x-displayName: Organizations
    description: >-
      Organizations are used for multi-org deployments where different teams can
      run their own isolated feature flags and experiments. These endpoints are
      only via a super-admin's Personal Access Token.
  - name: members
    x-displayName: Members
    description: Members are users who have been invited to an organization.
  - name: code-references
    x-displayName: Code References
    description: >-
      Intended for use with our code reference CI utility,
      [`gb-find-code-refs`](https://github.com/growthbook/gb-find-code-refs).
  - name: archetypes
    x-displayName: Archetypes
    description: >-
      Archetypes allow you to simulate the result of targeting rules on pre-set
      user attributes
  - name: queries
    x-displayName: Queries
    description: Retrieve queries used in experiments to calculate results.
  - name: settings
    x-displayName: Settings
    description: Get the organization settings.
  - name: attributes
    x-displayName: Attributes
    description: Used when targeting feature flags and experiments.
  - name: usage
    x-displayName: Usage
    description: Usage information for metrics in experiments.
  - name: Archetype_model
    x-displayName: Archetype
    description: <SchemaDefinition schemaRef="#/components/schemas/Archetype" />
  - name: Attribute_model
    x-displayName: Attribute
    description: <SchemaDefinition schemaRef="#/components/schemas/Attribute" />
  - name: CodeRef_model
    x-displayName: CodeRef
    description: <SchemaDefinition schemaRef="#/components/schemas/CodeRef" />
  - name: DataSource_model
    x-displayName: DataSource
    description: <SchemaDefinition schemaRef="#/components/schemas/DataSource" />
  - name: Dimension_model
    x-displayName: Dimension
    description: <SchemaDefinition schemaRef="#/components/schemas/Dimension" />
  - name: Environment_model
    x-displayName: Environment
    description: <SchemaDefinition schemaRef="#/components/schemas/Environment" />
  - name: Experiment_model
    x-displayName: Experiment
    description: <SchemaDefinition schemaRef="#/components/schemas/Experiment" />
  - name: ExperimentAnalysisSettings_model
    x-displayName: ExperimentAnalysisSettings
    description: >-
      <SchemaDefinition
      schemaRef="#/components/schemas/ExperimentAnalysisSettings" />
  - name: ExperimentMetric_model
    x-displayName: ExperimentMetric
    description: <SchemaDefinition schemaRef="#/components/schemas/ExperimentMetric" />
  - name: ExperimentResults_model
    x-displayName: ExperimentResults
    description: <SchemaDefinition schemaRef="#/components/schemas/ExperimentResults" />
  - name: ExperimentSnapshot_model
    x-displayName: ExperimentSnapshot
    description: <SchemaDefinition schemaRef="#/components/schemas/ExperimentSnapshot" />
  - name: ExperimentWithEnhancedStatus_model
    x-displayName: ExperimentWithEnhancedStatus
    description: >-
      <SchemaDefinition
      schemaRef="#/components/schemas/ExperimentWithEnhancedStatus" />
  - name: FactMetric_model
    x-displayName: FactMetric
    description: <SchemaDefinition schemaRef="#/components/schemas/FactMetric" />
  - name: FactTable_model
    x-displayName: FactTable
    description: <SchemaDefinition schemaRef="#/components/schemas/FactTable" />
  - name: FactTableColumn_model
    x-displayName: FactTableColumn
    description: <SchemaDefinition schemaRef="#/components/schemas/FactTableColumn" />
  - name: FactTableFilter_model
    x-displayName: FactTableFilter
    description: <SchemaDefinition schemaRef="#/components/schemas/FactTableFilter" />
  - name: Feature_model
    x-displayName: Feature
    description: <SchemaDefinition schemaRef="#/components/schemas/Feature" />
  - name: FeatureDefinition_model
    x-displayName: FeatureDefinition
    description: <SchemaDefinition schemaRef="#/components/schemas/FeatureDefinition" />
  - name: FeatureEnvironment_model
    x-displayName: FeatureEnvironment
    description: <SchemaDefinition schemaRef="#/components/schemas/FeatureEnvironment" />
  - name: FeatureExperimentRefRule_model
    x-displayName: FeatureExperimentRefRule
    description: >-
      <SchemaDefinition
      schemaRef="#/components/schemas/FeatureExperimentRefRule" />
  - name: FeatureExperimentRule_model
    x-displayName: FeatureExperimentRule
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/FeatureExperimentRule"
      />
  - name: FeatureForceRule_model
    x-displayName: FeatureForceRule
    description: <SchemaDefinition schemaRef="#/components/schemas/FeatureForceRule" />
  - name: FeatureRevision_model
    x-displayName: FeatureRevision
    description: <SchemaDefinition schemaRef="#/components/schemas/FeatureRevision" />
  - name: FeatureRolloutRule_model
    x-displayName: FeatureRolloutRule
    description: <SchemaDefinition schemaRef="#/components/schemas/FeatureRolloutRule" />
  - name: FeatureRule_model
    x-displayName: FeatureRule
    description: <SchemaDefinition schemaRef="#/components/schemas/FeatureRule" />
  - name: FeatureSafeRolloutRule_model
    x-displayName: FeatureSafeRolloutRule
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/FeatureSafeRolloutRule"
      />
  - name: FeatureWithRevisions_model
    x-displayName: FeatureWithRevisions
    description: <SchemaDefinition schemaRef="#/components/schemas/FeatureWithRevisions" />
  - name: LookbackOverride_model
    x-displayName: LookbackOverride
    description: <SchemaDefinition schemaRef="#/components/schemas/LookbackOverride" />
  - name: Member_model
    x-displayName: Member
    description: <SchemaDefinition schemaRef="#/components/schemas/Member" />
  - name: Metric_model
    x-displayName: Metric
    description: <SchemaDefinition schemaRef="#/components/schemas/Metric" />
  - name: MetricAnalysis_model
    x-displayName: MetricAnalysis
    description: <SchemaDefinition schemaRef="#/components/schemas/MetricAnalysis" />
  - name: MetricUsage_model
    x-displayName: MetricUsage
    description: <SchemaDefinition schemaRef="#/components/schemas/MetricUsage" />
  - name: Organization_model
    x-displayName: Organization
    description: <SchemaDefinition schemaRef="#/components/schemas/Organization" />
  - name: PaginationFields_model
    x-displayName: PaginationFields
    description: <SchemaDefinition schemaRef="#/components/schemas/PaginationFields" />
  - name: Project_model
    x-displayName: Project
    description: <SchemaDefinition schemaRef="#/components/schemas/Project" />
  - name: Query_model
    x-displayName: Query
    description: <SchemaDefinition schemaRef="#/components/schemas/Query" />
  - name: RampSchedule_model
    x-displayName: RampSchedule
    description: <SchemaDefinition schemaRef="#/components/schemas/RampSchedule" />
  - name: SavedGroup_model
    x-displayName: SavedGroup
    description: <SchemaDefinition schemaRef="#/components/schemas/SavedGroup" />
  - name: ScheduleRule_model
    x-displayName: ScheduleRule
    description: <SchemaDefinition schemaRef="#/components/schemas/ScheduleRule" />
  - name: SdkConnection_model
    x-displayName: SdkConnection
    description: <SchemaDefinition schemaRef="#/components/schemas/SdkConnection" />
  - name: Segment_model
    x-displayName: Segment
    description: <SchemaDefinition schemaRef="#/components/schemas/Segment" />
  - name: Settings_model
    x-displayName: Settings
    description: <SchemaDefinition schemaRef="#/components/schemas/Settings" />
  - name: VisualChange_model
    x-displayName: VisualChange
    description: <SchemaDefinition schemaRef="#/components/schemas/VisualChange" />
  - name: VisualChangeset_model
    x-displayName: VisualChangeset
    description: <SchemaDefinition schemaRef="#/components/schemas/VisualChangeset" />
  - name: AnalyticsExploration_model
    x-displayName: AnalyticsExploration
    description: <SchemaDefinition schemaRef="#/components/schemas/AnalyticsExploration" />
  - name: CustomField_model
    x-displayName: CustomField
    description: <SchemaDefinition schemaRef="#/components/schemas/CustomField" />
  - name: Dashboard_model
    x-displayName: Dashboard
    description: <SchemaDefinition schemaRef="#/components/schemas/Dashboard" />
  - name: ExperimentTemplate_model
    x-displayName: ExperimentTemplate
    description: <SchemaDefinition schemaRef="#/components/schemas/ExperimentTemplate" />
  - name: MetricGroup_model
    x-displayName: MetricGroup
    description: <SchemaDefinition schemaRef="#/components/schemas/MetricGroup" />
  - name: RampScheduleTemplate_model
    x-displayName: RampScheduleTemplate
    description: <SchemaDefinition schemaRef="#/components/schemas/RampScheduleTemplate" />
  - name: Team_model
    x-displayName: Team
    description: <SchemaDefinition schemaRef="#/components/schemas/Team" />
paths:
  /features:
    get:
      $ref: ./paths/listFeatures.yaml
    post:
      $ref: ./paths/postFeature.yaml
  /features/{id}:
    get:
      $ref: ./paths/getFeature.yaml
    post:
      $ref: ./paths/updateFeature.yaml
    delete:
      $ref: ./paths/deleteFeature.yaml
  /features/{id}/toggle:
    $ref: ./paths/toggleFeature.yaml
  /features/{id}/revert:
    $ref: ./paths/revertFeature.yaml
  /features/{id}/revisions:
    get:
      $ref: ./paths/getFeatureRevisions.yaml
  /stale-features:
    get:
      $ref: ./paths/getFeatureStale.yaml
  /feature-keys:
    get:
      $ref: ./paths/getFeatureKeys.yaml
  /projects:
    get:
      $ref: ./paths/listProjects.yaml
    post:
      $ref: ./paths/postProject.yaml
  /projects/{id}:
    get:
      $ref: ./paths/getProject.yaml
    put:
      $ref: ./paths/putProject.yaml
    delete:
      $ref: ./paths/deleteProject.yaml
  /dimensions:
    get:
      $ref: ./paths/listDimensions.yaml
    post:
      $ref: ./paths/postDimension.yaml
  /dimensions/{id}:
    get:
      $ref: ./paths/getDimension.yaml
    post:
      $ref: ./paths/updateDimension.yaml
    delete:
      $ref: ./paths/deleteDimension.yaml
  /segments:
    get:
      $ref: ./paths/listSegments.yaml
    post:
      $ref: ./paths/postSegment.yaml
  /segments/{id}:
    get:
      $ref: ./paths/getSegment.yaml
    post:
      $ref: ./paths/updateSegment.yaml
    delete:
      $ref: ./paths/deleteSegment.yaml
  /sdk-connections:
    get:
      $ref: ./paths/listSdkConnections.yaml
    post:
      $ref: ./paths/postSdkConnection.yaml
  /sdk-connections/{id}:
    get:
      $ref: ./paths/getSdkConnection.yaml
    put:
      $ref: ./paths/putSdkConnection.yaml
    delete:
      $ref: ./paths/deleteSdkConnection.yaml
  /sdk-connections/lookup/{key}:
    get:
      $ref: ./paths/lookupSdkConnectionByKey.yaml
  /data-sources:
    $ref: ./paths/listDataSources.yaml
  /data-sources/{id}:
    $ref: ./paths/getDataSource.yaml
  /experiments:
    get:
      $ref: ./paths/listExperiments.yaml
    post:
      $ref: ./paths/postExperiment.yaml
  /experiment-names:
    get:
      $ref: ./paths/getExperimentNames.yaml
  /experiments/{id}:
    get:
      $ref: ./paths/getExperiment.yaml
    post:
      $ref: ./paths/updateExperiment.yaml
  /experiments/{id}/snapshot:
    $ref: ./paths/postExperimentSnapshot.yaml
  /experiments/{id}/variation/{variationId}/screenshot/upload:
    $ref: ./paths/postVariationImageUpload.yaml
  /experiments/{id}/variation/{variationId}/screenshot:
    delete:
      $ref: ./paths/deleteVariationScreenshot.yaml
  /experiments/{id}/results:
    $ref: ./paths/getExperimentResults.yaml
  /experiments/{id}/visual-changesets:
    get:
      $ref: ./paths/listVisualChangesets.yaml
    post:
      $ref: ./paths/postVisualChangesets.yaml
  /snapshots/{id}:
    $ref: ./paths/getExperimentSnapshot.yaml
  /metrics:
    get:
      $ref: ./paths/listMetrics.yaml
    post:
      $ref: ./paths/postMetric.yaml
  /metrics/{id}:
    get:
      $ref: ./paths/getMetric.yaml
    put:
      $ref: ./paths/putMetric.yaml
    delete:
      $ref: ./paths/deleteMetric.yaml
  /usage/metrics:
    get:
      $ref: ./paths/getMetricUsage.yaml
  /visual-changesets/{id}:
    get:
      $ref: ./paths/getVisualChangeset.yaml
    put:
      $ref: ./paths/putVisualChangeset.yaml
  /visual-changesets/{id}/visual-change:
    $ref: ./paths/postVisualChange.yaml
  /visual-changesets/{id}/visual-change/{visualChangeId}:
    $ref: ./paths/putVisualChange.yaml
  /saved-groups:
    get:
      $ref: ./paths/listSavedGroups.yaml
    post:
      $ref: ./paths/postSavedGroup.yaml
  /saved-groups/{id}:
    get:
      $ref: ./paths/getSavedGroup.yaml
    post:
      $ref: ./paths/updateSavedGroup.yaml
    delete:
      $ref: ./paths/deleteSavedGroup.yaml
  /organizations:
    get:
      $ref: ./paths/listOrganizations.yaml
    post:
      $ref: ./paths/postOrganization.yaml
  /organizations/{id}:
    put:
      $ref: ./paths/putOrganization.yaml
  /attributes:
    get:
      $ref: ./paths/listAttributes.yaml
    post:
      $ref: ./paths/postAttribute.yaml
  /attributes/${property}:
    put:
      $ref: ./paths/putAttribute.yaml
    delete:
      $ref: ./paths/deleteAttribute.yaml
  /archetypes:
    get:
      $ref: ./paths/listArchetypes.yaml
    post:
      $ref: ./paths/postArchetype.yaml
  /archetypes/${id}:
    get:
      $ref: ./paths/getArchetype.yaml
    put:
      $ref: ./paths/putArchetype.yaml
    delete:
      $ref: ./paths/deleteArchetype.yaml
  /members:
    get:
      $ref: ./paths/listMembers.yaml
  /members/{id}:
    delete:
      $ref: ./paths/deleteMember.yaml
  /members/{id}/role:
    post:
      $ref: ./paths/updateMemberRole.yaml
  /environments:
    get:
      $ref: ./paths/listEnvironments.yaml
    post:
      $ref: ./paths/postEnvironment.yaml
  /environments/${id}:
    put:
      $ref: ./paths/putEnvironment.yaml
    delete:
      $ref: ./paths/deleteEnvironment.yaml
  /fact-tables:
    get:
      $ref: ./paths/listFactTables.yaml
    post:
      $ref: ./paths/postFactTable.yaml
  /fact-tables/{id}:
    get:
      $ref: ./paths/getFactTable.yaml
    post:
      $ref: ./paths/updateFactTable.yaml
    delete:
      $ref: ./paths/deleteFactTable.yaml
  /fact-tables/{factTableId}/filters:
    get:
      $ref: ./paths/listFactTableFilters.yaml
    post:
      $ref: ./paths/postFactTableFilter.yaml
  /fact-tables/{factTableId}/filters/{id}:
    get:
      $ref: ./paths/getFactTableFilter.yaml
    post:
      $ref: ./paths/updateFactTableFilter.yaml
    delete:
      $ref: ./paths/deleteFactTableFilter.yaml
  /fact-metrics:
    get:
      $ref: ./paths/listFactMetrics.yaml
    post:
      $ref: ./paths/postFactMetric.yaml
  /fact-metrics/{id}:
    get:
      $ref: ./paths/getFactMetric.yaml
    post:
      $ref: ./paths/updateFactMetric.yaml
    delete:
      $ref: ./paths/deleteFactMetric.yaml
  /fact-metrics/{id}/analysis:
    $ref: ./paths/postFactMetricAnalysis.yaml
  /bulk-import/facts:
    post:
      $ref: ./paths/postBulkImportFacts.yaml
  /code-refs:
    post:
      $ref: ./paths/postCodeRefs.yaml
    get:
      $ref: ./paths/listCodeRefs.yaml
  /code-refs/{id}:
    get:
      $ref: ./paths/getCodeRefs.yaml
  /queries/{id}:
    get:
      $ref: ./paths/getQuery.yaml
  /settings:
    get:
      $ref: ./paths/getSettings.yaml
  /product-analytics/metric-exploration:
    post:
      $skipValidatorGeneration: true
      parameters:
        - name: cache
          in: query
          required: false
          schema:
            description: >-
              Controls cache behavior for this exploration: `preferred`
              (default) returns a cached result if one exists, otherwise runs a
              new query; `never` always runs a new query, ignoring any cached
              results; `required` only returns a cached result, if none exists
              returns exploration: null with a message
            type: string
            enum:
              - preferred
              - required
              - never
      tags:
        - AnalyticsExplorations
      summary: Create a Metric based visualization
      operationId: postMetricExploration
      x-codeSamples:
        - lang: cURL
          source: >-
            curl -X POST
            https://api.growthbook.io/api/v1/product-analytics/metric-exploration
            -d '{ ... }' -u secret_abc123DEF456
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $schema: https://json-schema.org/draft/2020-12/schema
              type: object
              properties:
                datasource:
                  description: ID of the datasource to query
                  type: string
                dimensions:
                  type: array
                  items:
                    anyOf:
                      - type: object
                        properties:
                          dimensionType:
                            type: string
                            const: date
                          column:
                            anyOf:
                              - type: string
                              - type: 'null'
                          dateGranularity:
                            type: string
                            enum:
                              - auto
                              - hour
                              - day
                              - week
                              - month
                              - year
                        required:
                          - dimensionType
                          - column
                          - dateGranularity
                        additionalProperties: false
                      - type: object
                        properties:
                          dimensionType:
                            type: string
                            const: dynamic
                          column:
                            anyOf:
                              - type: string
                              - type: 'null'
                          maxValues:
                            type: number
                        required:
                          - dimensionType
                          - column
                          - maxValues
                        additionalProperties: false
                      - type: object
                        properties:
                          dimensionType:
                            type: string
                            const: static
                          column:
                            type: string
                          values:
                            type: array
                            items:
                              type: string
                        required:
                          - dimensionType
                          - column
                          - values
                        additionalProperties: false
                      - type: object
                        properties:
                          dimensionType:
                            type: string
                            const: slice
                          slices:
                            type: array
                            items:
                              type: object
                              properties:
                                name:
                                  type: string
                                filters:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      operator:
                                        type: string
                                        enum:
                                          - '='
                                          - '!='
                                          - <
                                          - <=
                                          - '>'
                                          - '>='
                                          - in
                                          - not_in
                                          - contains
                                          - not_contains
                                          - starts_with
                                          - ends_with
                                          - is_null
                                          - not_null
                                          - is_true
                                          - is_false
                                          - sql_expr
                                          - saved_filter
                                      column:
                                        type: string
                                      values:
                                        type: array
                                        items:
                                          type: string
                                    required:
                                      - operator
                                    additionalProperties: false
                              required:
                                - name
                                - filters
                              additionalProperties: false
                        required:
                          - dimensionType
                          - slices
                        additionalProperties: false
                chartType:
                  type: string
                  enum:
                    - line
                    - area
                    - timeseries-table
                    - table
                    - bar
                    - stackedBar
                    - horizontalBar
                    - stackedHorizontalBar
                    - bigNumber
                dateRange:
                  type: object
                  properties:
                    predefined:
                      type: string
                      enum:
                        - today
                        - last7Days
                        - last30Days
                        - last90Days
                        - customLookback
                        - customDateRange
                    lookbackValue:
                      anyOf:
                        - type: number
                        - type: 'null'
                    lookbackUnit:
                      anyOf:
                        - type: string
                          enum:
                            - hour
                            - day
                            - week
                            - month
                        - type: 'null'
                    startDate:
                      anyOf:
                        - type: string
                        - type: 'null'
                    endDate:
                      anyOf:
                        - type: string
                        - type: 'null'
                  required:
                    - predefined
                    - lookbackValue
                    - lookbackUnit
                    - startDate
                    - endDate
                  additionalProperties: false
                type:
                  type: string
                  const: metric
                dataset:
                  type: object
                  properties:
                    type:
                      type: string
                      const: metric
                    values:
                      type: array
                      items:
                        type: object
                        properties:
                          name:
                            type: string
                          rowFilters:
                            type: array
                            items:
                              type: object
                              properties:
                                operator:
                                  type: string
                                  enum:
                                    - '='
                                    - '!='
                                    - <
                                    - <=
                                    - '>'
                                    - '>='
                                    - in
                                    - not_in
                                    - contains
                                    - not_contains
                                    - starts_with
                                    - ends_with
                                    - is_null
                                    - not_null
                                    - is_true
                                    - is_false
                                    - sql_expr
                                    - saved_filter
                                column:
                                  type: string
                                values:
                                  type: array
                                  items:
                                    type: string
                              required:
                                - operator
                              additionalProperties: false
                          type:
                            type: string
                            const: metric
                          metricId:
                            type: string
                          unit:
                            anyOf:
                              - type: string
                              - type: 'null'
                          denominatorUnit:
                            anyOf:
                              - type: string
                              - type: 'null'
                        required:
                          - name
                          - rowFilters
                          - type
                          - metricId
                          - unit
                          - denominatorUnit
                        additionalProperties: false
                  required:
                    - type
                    - values
                  additionalProperties: false
              required:
                - datasource
                - dimensions
                - chartType
                - dateRange
                - type
                - dataset
              additionalProperties: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                type: object
                properties:
                  exploration:
                    anyOf:
                      - type: object
                        properties:
                          id:
                            type: string
                          dateCreated:
                            type: string
                            format: date-time
                            pattern: >-
                              ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
                          dateUpdated:
                            type: string
                            format: date-time
                            pattern: >-
                              ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
                          datasource:
                            type: string
                          status:
                            type: string
                            enum:
                              - running
                              - success
                              - error
                          dateStart:
                            type: string
                          dateEnd:
                            type: string
                          error:
                            anyOf:
                              - type: string
                              - type: 'null'
                          result:
                            type: object
                            properties:
                              rows:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    dimensions:
                                      type: array
                                      items:
                                        anyOf:
                                          - type: string
                                          - type: 'null'
                                    values:
                                      type: array
                                      items:
                                        type: object
                                        properties:
                                          metricId:
                                            type: string
                                          numerator:
                                            anyOf:
                                              - type: number
                                              - type: 'null'
                                          denominator:
                                            anyOf:
                                              - type: number
                                              - type: 'null'
                                        required:
                                          - metricId
                                          - numerator
                                          - denominator
                                        additionalProperties: false
                                  required:
                                    - dimensions
                                    - values
                                  additionalProperties: false
                            required:
                              - rows
                            additionalProperties: false
                          config:
                            type: object
                            properties:
                              datasource:
                                description: ID of the datasource to query
                                type: string
                              dimensions:
                                type: array
                                items:
                                  anyOf:
                                    - type: object
                                      properties:
                                        dimensionType:
                                          type: string
                                          const: date
                                        column:
                                          anyOf:
                                            - type: string
                                            - type: 'null'
                                        dateGranularity:
                                          type: string
                                          enum:
                                            - auto
                                            - hour
                                            - day
                                            - week
                                            - month
                                            - year
                                      required:
                                        - dimensionType
                                        - column
                                        - dateGranularity
                                      additionalProperties: false
                                    - type: object
                                      properties:
                                        dimensionType:
                                          type: string
                                          const: dynamic
                                        column:
                                          anyOf:
                                            - type: string
                                            - type: 'null'
                                        maxValues:
                                          type: number
                                      required:
                                        - dimensionType
                                        - column
                                        - maxValues
                                      additionalProperties: false
                                    - type: object
                                      properties:
                                        dimensionType:
                                          type: string
                                          const: static
                                        column:
                                          type: string
                                        values:
                                          type: array
                                          items:
                                            type: string
                                      required:
                                        - dimensionType
                                        - column
                                        - values
                                      additionalProperties: false
                                    - type: object
                                      properties:
                                        dimensionType:
                                          type: string
                                          const: slice
                                        slices:
                                          type: array
                                          items:
                                            type: object
                                            properties:
                                              name:
                                                type: string
                                              filters:
                                                type: array
                                                items:
                                                  type: object
                                                  properties:
                                                    operator:
                                                      type: string
                                                      enum:
                                                        - '='
                                                        - '!='
                                                        - <
                                                        - <=
                                                        - '>'
                                                        - '>='
                                                        - in
                                                        - not_in
                                                        - contains
                                                        - not_contains
                                                        - starts_with
                                                        - ends_with
                                                        - is_null
                                                        - not_null
                                                        - is_true
                                                        - is_false
                                                        - sql_expr
                                                        - saved_filter
                                                    column:
                                                      type: string
                                                    values:
                                                      type: array
                                                      items:
                                                        type: string
                                                  required:
                                                    - operator
                                                  additionalProperties: false
                                            required:
                                              - name
                                              - filters
                                            additionalProperties: false
                                      required:
                                        - dimensionType
                                        - slices
                                      additionalProperties: false
                              chartType:
                                type: string
                                enum:
                                  - line
                                  - area
                                  - timeseries-table
                                  - table
                                  - bar
                                  - stackedBar
                                  - horizontalBar
                                  - stackedHorizontalBar
                                  - bigNumber
                              dateRange:
                                type: object
                                properties:
                                  predefined:
                                    type: string
                                    enum:
                                      - today
                                      - last7Days
                                      - last30Days
                                      - last90Days
                                      - customLookback
                                      - customDateRange
                                  lookbackValue:
                                    anyOf:
                                      - type: number
                                      - type: 'null'
                                  lookbackUnit:
                                    anyOf:
                                      - type: string
                                        enum:
                                          - hour
                                          - day
                                          - week
                                          - month
                                      - type: 'null'
                                  startDate:
                                    anyOf:
                                      - type: string
                                      - type: 'null'
                                  endDate:
                                    anyOf:
                                      - type: string
                                      - type: 'null'
                                required:
                                  - predefined
                                  - lookbackValue
                                  - lookbackUnit
                                  - startDate
                                  - endDate
                                additionalProperties: false
                              type:
                                type: string
                                const: metric
                              dataset:
                                type: object
                                properties:
                                  type:
                                    type: string
                                    const: metric
                                  values:
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        name:
                                          type: string
                                        rowFilters:
                                          type: array
                                          items:
                                            type: object
                                            properties:
                                              operator:
                                                type: string
                                                enum:
                                                  - '='
                                                  - '!='
                                                  - <
                                                  - <=
                                                  - '>'
                                                  - '>='
                                                  - in
                                                  - not_in
                                                  - contains
                                                  - not_contains
                                                  - starts_with
                                                  - ends_with
                                                  - is_null
                                                  - not_null
                                                  - is_true
                                                  - is_false
                                                  - sql_expr
                                                  - saved_filter
                                              column:
                                                type: string
                                              values:
                                                type: array
                                                items:
                                                  type: string
                                            required:
                                              - operator
                                            additionalProperties: false
                                        type:
                                          type: string
                                          const: metric
                                        metricId:
                                          type: string
                                        unit:
                                          anyOf:
                                            - type: string
                                            - type: 'null'
                                        denominatorUnit:
                                          anyOf:
                                            - type: string
                                            - type: 'null'
                                      required:
                                        - name
                                        - rowFilters
                                        - type
                                        - metricId
                                        - unit
                                        - denominatorUnit
                                      additionalProperties: false
                                required:
                                  - type
                                  - values
                                additionalProperties: false
                            required:
                              - datasource
                              - dimensions
                              - chartType
                              - dateRange
                              - type
                              - dataset
                            additionalProperties: false
                        required:
                          - id
                          - dateCreated
                          - dateUpdated
                          - datasource
                          - status
                          - dateStart
                          - dateEnd
                          - result
                          - config
                        additionalProperties: false
                      - type: 'null'
                  query:
                    anyOf:
                      - type: object
                        properties:
                          id:
                            type: string
                          organization:
                            type: string
                          datasource:
                            type: string
                          language:
                            type: string
                          query:
                            type: string
                          queryType:
                            type: string
                          createdAt:
                            type: string
                          startedAt:
                            type: string
                          status:
                            type: string
                            enum:
                              - running
                              - queued
                              - failed
                              - partially-succeeded
                              - succeeded
                          externalId:
                            type: string
                          dependencies:
                            type: array
                            items:
                              type: string
                          runAtEnd:
                            type: boolean
                        required:
                          - id
                          - organization
                          - datasource
                          - language
                          - query
                          - queryType
                          - createdAt
                          - startedAt
                          - status
                          - externalId
                          - dependencies
                          - runAtEnd
                        additionalProperties: false
                      - type: 'null'
                  explorationUrl:
                    description: >-
                      A direct link to view this exploration in the GrowthBook
                      Application.
                    type: string
                  message:
                    description: >-
                      Present when `exploration` is null, explaining why no
                      result was returned.
                    type: string
                required:
                  - exploration
                  - query
                additionalProperties: false
  /product-analytics/fact-table-exploration:
    post:
      $skipValidatorGeneration: true
      parameters:
        - name: cache
          in: query
          required: false
          schema:
            description: >-
              Controls cache behavior for this exploration: `preferred`
              (default) returns a cached result if one exists, otherwise runs a
              new query; `never` always runs a new query, ignoring any cached
              results; `required` only returns a cached result, if none exists
              returns exploration: null with a message
            type: string
            enum:
              - preferred
              - required
              - never
      tags:
        - AnalyticsExplorations
      summary: Run a Fact Table based visualization
      operationId: postFactTableExploration
      x-codeSamples:
        - lang: cURL
          source: >-
            curl -X POST
            https://api.growthbook.io/api/v1/product-analytics/fact-table-exploration
            -d '{ ... }' -u secret_abc123DEF456
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $schema: https://json-schema.org/draft/2020-12/schema
              type: object
              properties:
                datasource:
                  description: ID of the datasource to query
                  type: string
                dimensions:
                  type: array
                  items:
                    anyOf:
                      - type: object
                        properties:
                          dimensionType:
                            type: string
                            const: date
                          column:
                            anyOf:
                              - type: string
                              - type: 'null'
                          dateGranularity:
                            type: string
                            enum:
                              - auto
                              - hour
                              - day
                              - week
                              - month
                              - year
                        required:
                          - dimensionType
                          - column
                          - dateGranularity
                        additionalProperties: false
                      - type: object
                        properties:
                          dimensionType:
                            type: string
                            const: dynamic
                          column:
                            anyOf:
                              - type: string
                              - type: 'null'
                          maxValues:
                            type: number
                        required:
                          - dimensionType
                          - column
                          - maxValues
                        additionalProperties: false
                      - type: object
                        properties:
                          dimensionType:
                            type: string
                            const: static
                          column:
                            type: string
                          values:
                            type: array
                            items:
                              type: string
                        required:
                          - dimensionType
                          - column
                          - values
                        additionalProperties: false
                      - type: object
                        properties:
                          dimensionType:
                            type: string
                            const: slice
                          slices:
                            type: array
                            items:
                              type: object
                              properties:
                                name:
                                  type: string
                                filters:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      operator:
                                        type: string
                                        enum:
                                          - '='
                                          - '!='
                                          - <
                                          - <=
                                          - '>'
                                          - '>='
                                          - in
                                          - not_in
                                          - contains
                                          - not_contains
                                          - starts_with
                                          - ends_with
                                          - is_null
                                          - not_null
                                          - is_true
                                          - is_false
                                          - sql_expr
                                          - saved_filter
                                      column:
                                        type: string
                                      values:
                                        type: array
                                        items:
                                          type: string
                                    required:
                                      - operator
                                    additionalProperties: false
                              required:
                                - name
                                - filters
                              additionalProperties: false
                        required:
                          - dimensionType
                          - slices
                        additionalProperties: false
                chartType:
                  type: string
                  enum:
                    - line
                    - area
                    - timeseries-table
                    - table
                    - bar
                    - stackedBar
                    - horizontalBar
                    - stackedHorizontalBar
                    - bigNumber
                dateRange:
                  type: object
                  properties:
                    predefined:
                      type: string
                      enum:
                        - today
                        - last7Days
                        - last30Days
                        - last90Days
                        - customLookback
                        - customDateRange
                    lookbackValue:
                      anyOf:
                        - type: number
                        - type: 'null'
                    lookbackUnit:
                      anyOf:
                        - type: string
                          enum:
                            - hour
                            - day
                            - week
                            - month
                        - type: 'null'
                    startDate:
                      anyOf:
                        - type: string
                        - type: 'null'
                    endDate:
                      anyOf:
                        - type: string
                        - type: 'null'
                  required:
                    - predefined
                    - lookbackValue
                    - lookbackUnit
                    - startDate
                    - endDate
                  additionalProperties: false
                type:
                  type: string
                  const: fact_table
                dataset:
                  type: object
                  properties:
                    type:
                      type: string
                      const: fact_table
                    factTableId:
                      anyOf:
                        - type: string
                        - type: 'null'
                    values:
                      type: array
                      items:
                        type: object
                        properties:
                          name:
                            type: string
                          rowFilters:
                            type: array
                            items:
                              type: object
                              properties:
                                operator:
                                  type: string
                                  enum:
                                    - '='
                                    - '!='
                                    - <
                                    - <=
                                    - '>'
                                    - '>='
                                    - in
                                    - not_in
                                    - contains
                                    - not_contains
                                    - starts_with
                                    - ends_with
                                    - is_null
                                    - not_null
                                    - is_true
                                    - is_false
                                    - sql_expr
                                    - saved_filter
                                column:
                                  type: string
                                values:
                                  type: array
                                  items:
                                    type: string
                              required:
                                - operator
                              additionalProperties: false
                          type:
                            type: string
                            const: fact_table
                          valueType:
                            type: string
                            enum:
                              - unit_count
                              - count
                              - sum
                          valueColumn:
                            anyOf:
                              - type: string
                              - type: 'null'
                          unit:
                            anyOf:
                              - type: string
                              - type: 'null'
                        required:
                          - name
                          - rowFilters
                          - type
                          - valueType
                          - valueColumn
                          - unit
                        additionalProperties: false
                  required:
                    - type
                    - factTableId
                    - values
                  additionalProperties: false
              required:
                - datasource
                - dimensions
                - chartType
                - dateRange
                - type
                - dataset
              additionalProperties: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                type: object
                properties:
                  exploration:
                    anyOf:
                      - type: object
                        properties:
                          id:
                            type: string
                          dateCreated:
                            type: string
                            format: date-time
                            pattern: >-
                              ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
                          dateUpdated:
                            type: string
                            format: date-time
                            pattern: >-
                              ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
                          datasource:
                            type: string
                          status:
                            type: string
                            enum:
                              - running
                              - success
                              - error
                          dateStart:
                            type: string
                          dateEnd:
                            type: string
                          error:
                            anyOf:
                              - type: string
                              - type: 'null'
                          result:
                            type: object
                            properties:
                              rows:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    dimensions:
                                      type: array
                                      items:
                                        anyOf:
                                          - type: string
                                          - type: 'null'
                                    values:
                                      type: array
                                      items:
                                        type: object
                                        properties:
                                          metricId:
                                            type: string
                                          numerator:
                                            anyOf:
                                              - type: number
                                              - type: 'null'
                                          denominator:
                                            anyOf:
                                              - type: number
                                              - type: 'null'
                                        required:
                                          - metricId
                                          - numerator
                                          - denominator
                                        additionalProperties: false
                                  required:
                                    - dimensions
                                    - values
                                  additionalProperties: false
                            required:
                              - rows
                            additionalProperties: false
                          config:
                            type: object
                            properties:
                              datasource:
                                description: ID of the datasource to query
                                type: string
                              dimensions:
                                type: array
                                items:
                                  anyOf:
                                    - type: object
                                      properties:
                                        dimensionType:
                                          type: string
                                          const: date
                                        column:
                                          anyOf:
                                            - type: string
                                            - type: 'null'
                                        dateGranularity:
                                          type: string
                                          enum:
                                            - auto
                                            - hour
                                            - day
                                            - week
                                            - month
                                            - year
                                      required:
                                        - dimensionType
                                        - column
                                        - dateGranularity
                                      additionalProperties: false
                                    - type: object
                                      properties:
                                        dimensionType:
                                          type: string
                                          const: dynamic
                                        column:
                                          anyOf:
                                            - type: string
                                            - type: 'null'
                                        maxValues:
                                          type: number
                                      required:
                                        - dimensionType
                                        - column
                                        - maxValues
                                      additionalProperties: false
                                    - type: object
                                      properties:
                                        dimensionType:
                                          type: string
                                          const: static
                                        column:
                                          type: string
                                        values:
                                          type: array
                                          items:
                                            type: string
                                      required:
                                        - dimensionType
                                        - column
                                        - values
                                      additionalProperties: false
                                    - type: object
                                      properties:
                                        dimensionType:
                                          type: string
                                          const: slice
                                        slices:
                                          type: array
                                          items:
                                            type: object
                                            properties:
                                              name:
                                                type: string
                                              filters:
                                                type: array
                                                items:
                                                  type: object
                                                  properties:
                                                    operator:
                                                      type: string
                                                      enum:
                                                        - '='
                                                        - '!='
                                                        - <
                                                        - <=
                                                        - '>'
                                                        - '>='
                                                        - in
                                                        - not_in
                                                        - contains
                                                        - not_contains
                                                        - starts_with
                                                        - ends_with
                                                        - is_null
                                                        - not_null
                                                        - is_true
                                                        - is_false
                                                        - sql_expr
                                                        - saved_filter
                                                    column:
                                                      type: string
                                                    values:
                                                      type: array
                                                      items:
                                                        type: string
                                                  required:
                                                    - operator
                                                  additionalProperties: false
                                            required:
                                              - name
                                              - filters
                                            additionalProperties: false
                                      required:
                                        - dimensionType
                                        - slices
                                      additionalProperties: false
                              chartType:
                                type: string
                                enum:
                                  - line
                                  - area
                                  - timeseries-table
                                  - table
                                  - bar
                                  - stackedBar
                                  - horizontalBar
                                  - stackedHorizontalBar
                                  - bigNumber
                              dateRange:
                                type: object
                                properties:
                                  predefined:
                                    type: string
                                    enum:
                                      - today
                                      - last7Days
                                      - last30Days
                                      - last90Days
                                      - customLookback
                                      - customDateRange
                                  lookbackValue:
                                    anyOf:
                                      - type: number
                                      - type: 'null'
                                  lookbackUnit:
                                    anyOf:
                                      - type: string
                                        enum:
                                          - hour
                                          - day
                                          - week
                                          - month
                                      - type: 'null'
                                  startDate:
                                    anyOf:
                                      - type: string
                                      - type: 'null'
                                  endDate:
                                    anyOf:
                                      - type: string
                                      - type: 'null'
                                required:
                                  - predefined
                                  - lookbackValue
                                  - lookbackUnit
                                  - startDate
                                  - endDate
                                additionalProperties: false
                              type:
                                type: string
                                const: fact_table
                              dataset:
                                type: object
                                properties:
                                  type:
                                    type: string
                                    const: fact_table
                                  factTableId:
                                    anyOf:
                                      - type: string
                                      - type: 'null'
                                  values:
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        name:
                                          type: string
                                        rowFilters:
                                          type: array
                                          items:
                                            type: object
                                            properties:
                                              operator:
                                                type: string
                                                enum:
                                                  - '='
                                                  - '!='
                                                  - <
                                                  - <=
                                                  - '>'
                                                  - '>='
                                                  - in
                                                  - not_in
                                                  - contains
                                                  - not_contains
                                                  - starts_with
                                                  - ends_with
                                                  - is_null
                                                  - not_null
                                                  - is_true
                                                  - is_false
                                                  - sql_expr
                                                  - saved_filter
                                              column:
                                                type: string
                                              values:
                                                type: array
                                                items:
                                                  type: string
                                            required:
                                              - operator
                                            additionalProperties: false
                                        type:
                                          type: string
                                          const: fact_table
                                        valueType:
                                          type: string
                                          enum:
                                            - unit_count
                                            - count
                                            - sum
                                        valueColumn:
                                          anyOf:
                                            - type: string
                                            - type: 'null'
                                        unit:
                                          anyOf:
                                            - type: string
                                            - type: 'null'
                                      required:
                                        - name
                                        - rowFilters
                                        - type
                                        - valueType
                                        - valueColumn
                                        - unit
                                      additionalProperties: false
                                required:
                                  - type
                                  - factTableId
                                  - values
                                additionalProperties: false
                            required:
                              - datasource
                              - dimensions
                              - chartType
                              - dateRange
                              - type
                              - dataset
                            additionalProperties: false
                        required:
                          - id
                          - dateCreated
                          - dateUpdated
                          - datasource
                          - status
                          - dateStart
                          - dateEnd
                          - result
                          - config
                        additionalProperties: false
                      - type: 'null'
                  query:
                    anyOf:
                      - type: object
                        properties:
                          id:
                            type: string
                          organization:
                            type: string
                          datasource:
                            type: string
                          language:
                            type: string
                          query:
                            type: string
                          queryType:
                            type: string
                          createdAt:
                            type: string
                          startedAt:
                            type: string
                          status:
                            type: string
                            enum:
                              - running
                              - queued
                              - failed
                              - partially-succeeded
                              - succeeded
                          externalId:
                            type: string
                          dependencies:
                            type: array
                            items:
                              type: string
                          runAtEnd:
                            type: boolean
                        required:
                          - id
                          - organization
                          - datasource
                          - language
                          - query
                          - queryType
                          - createdAt
                          - startedAt
                          - status
                          - externalId
                          - dependencies
                          - runAtEnd
                        additionalProperties: false
                      - type: 'null'
                  explorationUrl:
                    description: >-
                      A direct link to view this exploration in the GrowthBook
                      Application.
                    type: string
                  message:
                    description: >-
                      Present when `exploration` is null, explaining why no
                      result was returned.
                    type: string
                required:
                  - exploration
                  - query
                additionalProperties: false
  /product-analytics/data-source-exploration:
    post:
      $skipValidatorGeneration: true
      parameters:
        - name: cache
          in: query
          required: false
          schema:
            description: >-
              Controls cache behavior for this exploration: `preferred`
              (default) returns a cached result if one exists, otherwise runs a
              new query; `never` always runs a new query, ignoring any cached
              results; `required` only returns a cached result, if none exists
              returns exploration: null with a message
            type: string
            enum:
              - preferred
              - required
              - never
      tags:
        - AnalyticsExplorations
      summary: Create a Data Source based visualization
      operationId: postDataSourceExploration
      x-codeSamples:
        - lang: cURL
          source: >-
            curl -X POST
            https://api.growthbook.io/api/v1/product-analytics/data-source-exploration
            -d '{ ... }' -u secret_abc123DEF456
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $schema: https://json-schema.org/draft/2020-12/schema
              type: object
              properties:
                datasource:
                  description: ID of the datasource to query
                  type: string
                dimensions:
                  type: array
                  items:
                    anyOf:
                      - type: object
                        properties:
                          dimensionType:
                            type: string
                            const: date
                          column:
                            anyOf:
                              - type: string
                              - type: 'null'
                          dateGranularity:
                            type: string
                            enum:
                              - auto
                              - hour
                              - day
                              - week
                              - month
                              - year
                        required:
                          - dimensionType
                          - column
                          - dateGranularity
                        additionalProperties: false
                      - type: object
                        properties:
                          dimensionType:
                            type: string
                            const: dynamic
                          column:
                            anyOf:
                              - type: string
                              - type: 'null'
                          maxValues:
                            type: number
                        required:
                          - dimensionType
                          - column
                          - maxValues
                        additionalProperties: false
                      - type: object
                        properties:
                          dimensionType:
                            type: string
                            const: static
                          column:
                            type: string
                          values:
                            type: array
                            items:
                              type: string
                        required:
                          - dimensionType
                          - column
                          - values
                        additionalProperties: false
                      - type: object
                        properties:
                          dimensionType:
                            type: string
                            const: slice
                          slices:
                            type: array
                            items:
                              type: object
                              properties:
                                name:
                                  type: string
                                filters:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      operator:
                                        type: string
                                        enum:
                                          - '='
                                          - '!='
                                          - <
                                          - <=
                                          - '>'
                                          - '>='
                                          - in
                                          - not_in
                                          - contains
                                          - not_contains
                                          - starts_with
                                          - ends_with
                                          - is_null
                                          - not_null
                                          - is_true
                                          - is_false
                                          - sql_expr
                                          - saved_filter
                                      column:
                                        type: string
                                      values:
                                        type: array
                                        items:
                                          type: string
                                    required:
                                      - operator
                                    additionalProperties: false
                              required:
                                - name
                                - filters
                              additionalProperties: false
                        required:
                          - dimensionType
                          - slices
                        additionalProperties: false
                chartType:
                  type: string
                  enum:
                    - line
                    - area
                    - timeseries-table
                    - table
                    - bar
                    - stackedBar
                    - horizontalBar
                    - stackedHorizontalBar
                    - bigNumber
                dateRange:
                  type: object
                  properties:
                    predefined:
                      type: string
                      enum:
                        - today
                        - last7Days
                        - last30Days
                        - last90Days
                        - customLookback
                        - customDateRange
                    lookbackValue:
                      anyOf:
                        - type: number
                        - type: 'null'
                    lookbackUnit:
                      anyOf:
                        - type: string
                          enum:
                            - hour
                            - day
                            - week
                            - month
                        - type: 'null'
                    startDate:
                      anyOf:
                        - type: string
                        - type: 'null'
                    endDate:
                      anyOf:
                        - type: string
                        - type: 'null'
                  required:
                    - predefined
                    - lookbackValue
                    - lookbackUnit
                    - startDate
                    - endDate
                  additionalProperties: false
                type:
                  type: string
                  const: data_source
                dataset:
                  type: object
                  properties:
                    type:
                      type: string
                      const: data_source
                    table:
                      type: string
                    path:
                      type: string
                    timestampColumn:
                      type: string
                    columnTypes:
                      type: object
                      propertyNames:
                        type: string
                      additionalProperties:
                        type: string
                        enum:
                          - string
                          - number
                          - date
                          - boolean
                          - other
                    values:
                      type: array
                      items:
                        type: object
                        properties:
                          name:
                            type: string
                          rowFilters:
                            type: array
                            items:
                              type: object
                              properties:
                                operator:
                                  type: string
                                  enum:
                                    - '='
                                    - '!='
                                    - <
                                    - <=
                                    - '>'
                                    - '>='
                                    - in
                                    - not_in
                                    - contains
                                    - not_contains
                                    - starts_with
                                    - ends_with
                                    - is_null
                                    - not_null
                                    - is_true
                                    - is_false
                                    - sql_expr
                                    - saved_filter
                                column:
                                  type: string
                                values:
                                  type: array
                                  items:
                                    type: string
                              required:
                                - operator
                              additionalProperties: false
                          type:
                            type: string
                            const: data_source
                          valueType:
                            type: string
                            enum:
                              - unit_count
                              - count
                              - sum
                          valueColumn:
                            anyOf:
                              - type: string
                              - type: 'null'
                          unit:
                            anyOf:
                              - type: string
                              - type: 'null'
                        required:
                          - name
                          - rowFilters
                          - type
                          - valueType
                          - valueColumn
                          - unit
                        additionalProperties: false
                  required:
                    - type
                    - table
                    - path
                    - timestampColumn
                    - columnTypes
                    - values
                  additionalProperties: false
              required:
                - datasource
                - dimensions
                - chartType
                - dateRange
                - type
                - dataset
              additionalProperties: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                type: object
                properties:
                  exploration:
                    anyOf:
                      - type: object
                        properties:
                          id:
                            type: string
                          dateCreated:
                            type: string
                            format: date-time
                            pattern: >-
                              ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
                          dateUpdated:
                            type: string
                            format: date-time
                            pattern: >-
                              ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
                          datasource:
                            type: string
                          status:
                            type: string
                            enum:
                              - running
                              - success
                              - error
                          dateStart:
                            type: string
                          dateEnd:
                            type: string
                          error:
                            anyOf:
                              - type: string
                              - type: 'null'
                          result:
                            type: object
                            properties:
                              rows:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    dimensions:
                                      type: array
                                      items:
                                        anyOf:
                                          - type: string
                                          - type: 'null'
                                    values:
                                      type: array
                                      items:
                                        type: object
                                        properties:
                                          metricId:
                                            type: string
                                          numerator:
                                            anyOf:
                                              - type: number
                                              - type: 'null'
                                          denominator:
                                            anyOf:
                                              - type: number
                                              - type: 'null'
                                        required:
[...]
