{
  "openapi": "3.1.0",
  "info": {
    "version": "1.0.0",
    "title": "GrowthBook REST API"
  },
  "servers": [
    {
      "url": "https://api.growthbook.io/api/v1",
      "description": "GrowthBook Cloud"
    },
    {
      "url": "{domain}/api/v1",
      "description": "Self-hosted GrowthBook",
      "variables": {
        "domain": {
          "default": "http://localhost:3100"
        }
      }
    }
  ],
  "paths": {
    "/features": {
      "get": {
        "summary": "Get all features",
        "parameters": [
          {
            "$ref": "components[\"parameters\"][\"limit\"]"
          },
          {
            "$ref": "components[\"parameters\"][\"offset\"]"
          }
        ],
        "operationId": "listFeatures",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "required": ["features"],
                      "properties": {
                        "features": {
                          "type": "array",
                          "items": {
                            "$ref": "components[\"schemas\"][\"Feature\"]"
                          }
                        }
                      }
                    },
                    {
                      "$ref": "components[\"schemas\"][\"PaginationFields\"]"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/features/{id}": {
      "parameters": [
        {
          "$ref": "components[\"parameters\"][\"id\"]"
        }
      ],
      "get": {
        "summary": "Get a single feature",
        "operationId": "getFeature",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["feature"],
                  "properties": {
                    "feature": {
                      "$ref": "components[\"schemas\"][\"Feature\"]"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/features/{id}/toggle": {
      "parameters": [
        {
          "$ref": "components[\"parameters\"][\"id\"]"
        }
      ],
      "requestBody": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "required": ["environments"],
              "properties": {
                "reason": {
                  "type": "string"
                },
                "environments": {
                  "type": "object",
                  "additionalProperties": {
                    "enum": [true, false, "true", "false", "1", "0", 1, 0, ""]
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Toggle a feature in one or more environments",
        "operationId": "toggleFeature",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["feature"],
                  "properties": {
                    "feature": {
                      "$ref": "components[\"schemas\"][\"Feature\"]"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/projects": {
      "get": {
        "summary": "Get all projects",
        "parameters": [
          {
            "$ref": "components[\"parameters\"][\"limit\"]"
          },
          {
            "$ref": "components[\"parameters\"][\"offset\"]"
          }
        ],
        "operationId": "listProjects",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "required": ["projects"],
                      "properties": {
                        "projects": {
                          "type": "array",
                          "items": {
                            "$ref": "components[\"schemas\"][\"Project\"]"
                          }
                        }
                      }
                    },
                    {
                      "$ref": "components[\"schemas\"][\"PaginationFields\"]"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/projects/{id}": {
      "parameters": [
        {
          "$ref": "components[\"parameters\"][\"id\"]"
        }
      ],
      "get": {
        "summary": "Get a single project",
        "operationId": "getProject",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["project"],
                  "properties": {
                    "project": {
                      "$ref": "components[\"schemas\"][\"Project\"]"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/dimensions": {
      "get": {
        "summary": "Get all dimensions",
        "parameters": [
          {
            "$ref": "components[\"parameters\"][\"limit\"]"
          },
          {
            "$ref": "components[\"parameters\"][\"offset\"]"
          }
        ],
        "operationId": "listDimensions",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "required": ["dimensions"],
                      "properties": {
                        "dimensions": {
                          "type": "array",
                          "items": {
                            "$ref": "components[\"schemas\"][\"Dimension\"]"
                          }
                        }
                      }
                    },
                    {
                      "$ref": "components[\"schemas\"][\"PaginationFields\"]"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/dimensions/{id}": {
      "parameters": [
        {
          "$ref": "components[\"parameters\"][\"id\"]"
        }
      ],
      "get": {
        "summary": "Get a single dimension",
        "operationId": "getDimension",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["dimension"],
                  "properties": {
                    "dimension": {
                      "$ref": "components[\"schemas\"][\"Dimension\"]"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/segments": {
      "get": {
        "summary": "Get all segments",
        "parameters": [
          {
            "$ref": "components[\"parameters\"][\"limit\"]"
          },
          {
            "$ref": "components[\"parameters\"][\"offset\"]"
          }
        ],
        "operationId": "listSegments",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "required": ["segments"],
                      "properties": {
                        "segments": {
                          "type": "array",
                          "items": {
                            "$ref": "components[\"schemas\"][\"Segment\"]"
                          }
                        }
                      }
                    },
                    {
                      "$ref": "components[\"schemas\"][\"PaginationFields\"]"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/segments/{id}": {
      "parameters": [
        {
          "$ref": "components[\"parameters\"][\"id\"]"
        }
      ],
      "get": {
        "summary": "Get a single segment",
        "operationId": "getSegment",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["segment"],
                  "properties": {
                    "segment": {
                      "$ref": "components[\"schemas\"][\"Segment\"]"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/metrics": {
      "get": {
        "summary": "Get all metrics",
        "parameters": [
          {
            "$ref": "components[\"parameters\"][\"limit\"]"
          },
          {
            "$ref": "components[\"parameters\"][\"offset\"]"
          }
        ],
        "operationId": "listMetrics",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "required": ["metrics"],
                      "properties": {
                        "metrics": {
                          "type": "array",
                          "items": {
                            "$ref": "components[\"schemas\"][\"Metric\"]"
                          }
                        }
                      }
                    },
                    {
                      "$ref": "components[\"schemas\"][\"PaginationFields\"]"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/metrics/{id}": {
      "parameters": [
        {
          "$ref": "components[\"parameters\"][\"id\"]"
        }
      ],
      "get": {
        "summary": "Get a single metric",
        "operationId": "getMetric",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["metric"],
                  "properties": {
                    "metric": {
                      "$ref": "components[\"schemas\"][\"Metric\"]"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/sdk-connections": {
      "get": {
        "summary": "Get all sdk connections",
        "parameters": [
          {
            "$ref": "components[\"parameters\"][\"limit\"]"
          },
          {
            "$ref": "components[\"parameters\"][\"offset\"]"
          }
        ],
        "operationId": "listSdkConnections",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "required": ["sdkConnections"],
                      "properties": {
                        "connections": {
                          "type": "array",
                          "items": {
                            "$ref": "components[\"schemas\"][\"SdkConnection\"]"
                          }
                        }
                      }
                    },
                    {
                      "$ref": "components[\"schemas\"][\"PaginationFields\"]"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/sdk-connections/{id}": {
      "parameters": [
        {
          "$ref": "components[\"parameters\"][\"id\"]"
        }
      ],
      "get": {
        "summary": "Get a single sdk connection",
        "operationId": "getSdkConnection",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["sdkConnection"],
                  "properties": {
                    "sdkConnection": {
                      "$ref": "components[\"schemas\"][\"SdkConnection\"]"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/data-sources": {
      "get": {
        "summary": "Get all data sources",
        "parameters": [
          {
            "$ref": "components[\"parameters\"][\"limit\"]"
          },
          {
            "$ref": "components[\"parameters\"][\"offset\"]"
          }
        ],
        "operationId": "listDataSources",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "required": ["dataSources"],
                      "properties": {
                        "dataSources": {
                          "type": "array",
                          "items": {
                            "$ref": "components[\"schemas\"][\"DataSource\"]"
                          }
                        }
                      }
                    },
                    {
                      "$ref": "components[\"schemas\"][\"PaginationFields\"]"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/data-sources/{id}": {
      "parameters": [
        {
          "$ref": "components[\"parameters\"][\"id\"]"
        }
      ],
      "get": {
        "summary": "Get a single data source",
        "operationId": "getDataSource",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["dataSource"],
                  "properties": {
                    "dataSource": {
                      "$ref": "components[\"schemas\"][\"DataSource\"]"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/experiments": {
      "get": {
        "summary": "Get all experiments",
        "parameters": [
          {
            "$ref": "components[\"parameters\"][\"limit\"]"
          },
          {
            "$ref": "components[\"parameters\"][\"offset\"]"
          }
        ],
        "operationId": "listExperiments",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "required": ["experiments"],
                      "properties": {
                        "experiments": {
                          "type": "array",
                          "items": {
                            "$ref": "components[\"schemas\"][\"Experiment\"]"
                          }
                        }
                      }
                    },
                    {
                      "$ref": "components[\"schemas\"][\"PaginationFields\"]"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/experiments/{id}": {
      "parameters": [
        {
          "$ref": "components[\"parameters\"][\"id\"]"
        }
      ],
      "get": {
        "summary": "Get a single experiment",
        "operationId": "getExperiment",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["experiment"],
                  "properties": {
                    "experiment": {
                      "$ref": "components[\"schemas\"][\"Experiment\"]"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/experiments/{id}/results": {
      "parameters": [
        {
          "$ref": "components[\"parameters\"][\"id\"]"
        },
        {
          "name": "phase",
          "in": "query",
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "dimension",
          "in": "query",
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "summary": "Get results for an experiment",
        "operationId": "getExperimentResults",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["experiment"],
                  "properties": {
                    "result": {
                      "$ref": "components[\"schemas\"][\"ExperimentResults\"]"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "id": {
        "name": "id",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "limit": {
        "name": "limit",
        "in": "query",
        "schema": {
          "type": "integer",
          "min": 1,
          "max": 100
        }
      },
      "offset": {
        "name": "offset",
        "in": "query",
        "schema": {
          "type": "integer",
          "min": 0
        }
      }
    },
    "schemas": {
      "PaginationFields": {
        "type": "object",
        "required": [
          "limit",
          "offset",
          "count",
          "total",
          "hasMore",
          "nextOffset"
        ],
        "properties": {
          "limit": {
            "type": "integer"
          },
          "offset": {
            "type": "integer"
          },
          "count": {
            "type": "integer"
          },
          "total": {
            "type": "integer"
          },
          "hasMore": {
            "type": "boolean"
          },
          "nextOffset": {
            "type": ["integer", "null"]
          }
        }
      },
      "Dimension": {
        "type": "object",
        "required": [
          "id",
          "dateCreated",
          "dateUpdated",
          "owner",
          "datasourceId",
          "identifierType",
          "name",
          "query"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "dateCreated": {
            "type": "string"
          },
          "dateUpdated": {
            "type": "string"
          },
          "owner": {
            "type": "string"
          },
          "datasourceId": {
            "type": "string"
          },
          "identifierType": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "query": {
            "type": "string"
          }
        }
      },
      "Metric": {
        "type": "object",
        "required": [
          "id",
          "dateCreated",
          "dateUpdated",
          "owner",
          "datasourceId",
          "name",
          "description",
          "type",
          "tags",
          "projects",
          "archived",
          "behavior",
          "query"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "dateCreated": {
            "type": "string"
          },
          "dateUpdated": {
            "type": "string"
          },
          "owner": {
            "type": "string"
          },
          "datasourceId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "projects": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "archived": {
            "type": "boolean"
          },
          "behavior": {
            "type": "object",
            "required": [
              "goal",
              "cap",
              "conversionWindowStart",
              "conversionWindowEnd",
              "riskThresholdSuccess",
              "riskThresholdDanger",
              "minPercentChange",
              "maxPercentChange",
              "minSampleSize"
            ],
            "properties": {
              "goal": {
                "type": "string",
                "enum": ["increase", "decrease"]
              },
              "cap": {
                "type": "number"
              },
              "conversionWindowStart": {
                "type": "number"
              },
              "conversionWindowEnd": {
                "type": "number"
              },
              "riskThresholdSuccess": {
                "type": "number"
              },
              "riskThresholdDanger": {
                "type": "number"
              },
              "minPercentChange": {
                "type": "number"
              },
              "maxPercentChange": {
                "type": "number"
              },
              "minSampleSize": {
                "type": "number"
              }
            }
          },
          "sql": {
            "type": "object",
            "required": [
              "identifierTypes",
              "conversionSQL",
              "userAggregationSQL",
              "denominatorMetricId"
            ],
            "properties": {
              "identifierTypes": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "conversionSQL": {
                "type": "string"
              },
              "userAggregationSQL": {
                "type": "string"
              },
              "denominatorMetricId": {
                "type": "string"
              },
              "builder": {
                "type": "object",
                "required": [
                  "identifierTypeColumns",
                  "tableName",
                  "valueColumnName",
                  "timestampColumnName",
                  "conditions"
                ],
                "properties": {
                  "identifierTypeColumns": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": ["identifierType", "columnName"],
                      "properties": {
                        "identifierType": {
                          "type": "string"
                        },
                        "columnName": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "tableName": {
                    "type": "string"
                  },
                  "valueColumnName": {
                    "type": "string"
                  },
                  "timestampColumnName": {
                    "type": "string"
                  },
                  "conditions": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": ["column", "operator", "value"],
                      "properties": {
                        "column": {
                          "type": "string"
                        },
                        "operator": {
                          "type": "string"
                        },
                        "value": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "mixpanel": {
            "type": "object",
            "required": [
              "eventName",
              "eventValue",
              "userAggregation",
              "conditions"
            ],
            "properties": {
              "eventName": {
                "type": "string"
              },
              "eventValue": {
                "type": "string"
              },
              "userAggregation": {
                "type": "string"
              },
              "conditions": {
                "type": "array",
                "items": {
                  "type": "object",
                  "required": ["property", "operator", "value"],
                  "properties": {
                    "property": {
                      "type": "string"
                    },
                    "operator": {
                      "type": "string"
                    },
                    "value": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "Project": {
        "type": "object",
        "required": ["id", "name", "dateCreated", "dateUpdated"],
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "dateCreated": {
            "type": "string",
            "format": "date-time"
          },
          "dateUpdated": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Segment": {
        "type": "object",
        "required": [
          "id",
          "owner",
          "datasourceId",
          "identifierType",
          "name",
          "query",
          "dateCreated",
          "dateUpdated"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "owner": {
            "type": "string"
          },
          "datasourceId": {
            "type": "string"
          },
          "identifierType": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "query": {
            "type": "string"
          },
          "dateCreated": {
            "type": "string"
          },
          "dateUpdated": {
            "type": "string"
          }
        }
      },
      "Feature": {
        "type": "object",
        "required": [
          "id",
          "dateCreated",
          "dateUpdated",
          "archived",
          "description",
          "owner",
          "project",
          "valueType",
          "defaultValue",
          "tags",
          "environments",
          "revision"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "dateCreated": {
            "type": "string",
            "format": "date-time"
          },
          "dateUpdated": {
            "type": "string",
            "format": "date-time"
          },
          "archived": {
            "type": "boolean"
          },
          "description": {
            "type": "string"
          },
          "owner": {
            "type": "string"
          },
          "project": {
            "type": "string"
          },
          "valueType": {
            "type": "string",
            "enum": ["boolean", "string", "number", "json"]
          },
          "defaultValue": {
            "type": "string"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "environments": {
            "type": "object",
            "additionalProperties": {
              "$ref": "components[\"schemas\"][\"FeatureEnvironment\"]"
            }
          },
          "revision": {
            "type": "object",
            "required": ["version", "comment", "date", "publishedBy"],
            "properties": {
              "version": {
                "type": "integer"
              },
              "comment": {
                "type": "string"
              },
              "date": {
                "type": "string",
                "format": "date-time"
              },
              "publishedBy": {
                "type": "string"
              }
            }
          }
        }
      },
      "FeatureEnvironment": {
        "type": "object",
        "required": ["enabled", "defaultValue", "rules"],
        "properties": {
          "enabled": {
            "type": "boolean"
          },
          "defaultValue": {
            "type": "string"
          },
          "rules": {
            "type": "array",
            "items": {
              "$ref": "components[\"schemas\"][\"FeatureRule\"]"
            }
          },
          "definition": {
            "$ref": "components[\"schemas\"][\"FeatureDefinition\"]"
          },
          "draft": {
            "type": "object",
            "required": ["enabled", "defaultValue", "rules"],
            "properties": {
              "enabled": {
                "type": "boolean"
              },
              "defaultValue": {
                "type": "string"
              },
              "rules": {
                "type": "array",
                "items": {
                  "$ref": "components[\"schemas\"][\"FeatureRule\"]"
                }
              },
              "definition": {
                "$ref": "components[\"schemas\"][\"FeatureDefinition\"]"
              }
            }
          }
        }
      },
      "FeatureRule": {
        "anyOf": [
          {
            "$ref": "components[\"schemas\"][\"FeatureForceRule\"]"
          },
          {
            "$ref": "components[\"schemas\"][\"FeatureRolloutRule\"]"
          },
          {
            "$ref": "components[\"schemas\"][\"FeatureExperimentRule\"]"
          }
        ]
      },
      "FeatureDefinition": {
        "type": "object",
        "required": ["defaultValue"],
        "properties": {
          "defaultValue": {
            "type": {}
          },
          "rules": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "force": {
                  "type": {}
                },
                "weights": {
                  "type": "array",
                  "items": "number"
                },
                "variations": {
                  "type": "array",
                  "items": {
                    "type": {}
                  }
                },
                "hashAttribute": {
                  "type": "string"
                },
                "namespace": {
                  "type": "array",
                  "prefixItems": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "number"
                    },
                    {
                      "type": "number"
                    }
                  ],
                  "items": false
                },
                "key": {
                  "type": "string"
                },
                "coverage": {
                  "type": "number"
                },
                "condition": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        }
      },
      "FeatureForceRule": {
        "type": "object",
        "required": [
          "description",
          "condition",
          "id",
          "enabled",
          "type",
          "value"
        ],
        "properties": {
          "description": {
            "type": "string"
          },
          "condition": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "enabled": {
            "type": "boolean"
          },
          "type": {
            "type": "string"
          },
          "value": {
            "type": "string"
          }
        }
      },
      "FeatureRolloutRule": {
        "type": "object",
        "required": [
          "description",
          "condition",
          "id",
          "enabled",
          "type",
          "value",
          "coverage",
          "hashAttribute"
        ],
        "properties": {
          "description": {
            "type": "string"
          },
          "condition": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "enabled": {
            "type": "boolean"
          },
          "type": {
            "type": "string"
          },
          "value": {
            "type": "string"
          },
          "coverage": {
            "type": "number"
          },
          "hashAttribute": {
            "type": "string"
          }
        }
      },
      "FeatureExperimentRule": {
        "type": "object",
        "required": ["description", "condition", "id", "enabled", "type"],
        "properties": {
          "description": {
            "type": "string"
          },
          "condition": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "enabled": {
            "type": "boolean"
          },
          "type": {
            "type": "string"
          },
          "trackingKey": {
            "type": "string"
          },
          "hashAttribute": {
            "type": "string"
          },
          "namespace": {
            "type": "obect",
            "required": ["enabled", "name", "range"],
            "properties": {
              "enabled": {
                "type": "boolean"
              },
              "name": {
                "type": "string"
              },
              "range": {
                "type": "array",
                "prefixItems": [
                  {
                    "type": "number"
                  },
                  {
                    "type": "number"
                  }
                ],
                "items": false
              }
            }
          },
          "coverage": {
            "type": "number"
          },
          "value": {
            "type": "array",
            "items": {
              "type": "object",
              "required": ["value", "weight"],
              "properties": {
                "value": {
                  "type": "string"
                },
                "weight": {
                  "type": "number"
                },
                "name": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "SdkConnection": {
        "type": "object",
        "required": [
          "id",
          "dateCreated",
          "dateUpdated",
          "name",
          "languages",
          "environment",
          "project",
          "encryptPayload",
          "encryptionKey",
          "key",
          "proxyEnabled",
          "proxyHost",
          "proxySigningKey"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "dateCreated": {
            "type": "string",
            "format": "date-time"
          },
          "dateUpdated": {
            "type": "string",
            "format": "date-time"
          },
          "name": {
            "type": "string"
          },
          "languages": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "environment": {
            "type": "string"
          },
          "project": {
            "type": "string"
          },
          "encryptPayload": {
            "type": "boolean"
          },
          "encryptionKey": {
            "type": "string"
          },
          "key": {
            "type": "string"
          },
          "proxyEnabled": {
            "type": "boolean"
          },
          "proxyHost": {
            "type": "string"
          },
          "proxySigningKey": {
            "type": "string"
          }
        }
      },
      "Experiment": {
        "type": "object",
        "required": [
          "id",
          "dateCreated",
          "dateUpdated",
          "name",
          "project",
          "hypothesis",
          "description",
          "tags",
          "owner",
          "archived",
          "status",
          "autoRefresh",
          "variations",
          "phases",
          "settings"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "dateCreated": {
            "type": "string",
            "format": "date-time"
          },
          "dateUpdated": {
            "type": "string",
            "format": "date-time"
          },
          "name": {
            "type": "string"
          },
          "project": {
            "type": "string"
          },
          "hypothesis": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "owner": {
            "type": "string"
          },
          "archived": {
            "type": "boolean"
          },
          "status": {
            "type": "string"
          },
          "autoRefresh": {
            "type": "boolean"
          },
          "variations": {
            "type": "array",
            "items": {
              "type": "object",
              "required": [
                "variationId",
                "key",
                "name",
                "description",
                "screenshots"
              ],
              "properties": {
                "variationId": {
                  "type": "string"
                },
                "key": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "description": {
                  "type": "string"
                },
                "screenshots": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "phases": {
            "type": "array",
            "items": {
              "type": "object",
              "required": [
                "name",
                "dateStarted",
                "dateEnded",
                "reasonForStopping",
                "seed",
                "coverage",
                "trafficSplit",
                "targetingCondition"
              ],
              "properties": {
                "name": {
                  "type": "string"
                },
                "dateStarted": {
                  "type": "string"
                },
                "dateEnded": {
                  "type": "string"
                },
                "reasonForStopping": {
                  "type": "string"
                },
                "seed": {
                  "type": "string"
                },
                "coverage": {
                  "type": "number"
                },
                "trafficSplit": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "required": ["variationId", "weight"],
                    "properties": {
                      "variationId": {
                        "type": "string"
                      },
                      "weight": {
                        "type": "number"
                      }
                    }
                  }
                },
                "namespace": {
                  "type": "object",
                  "required": ["namespaceId", "range"],
                  "properties": {
                    "namespaceId": {
                      "type": "string"
                    },
                    "range": {
                      "type": "array",
                      "rangeStart": "number",
                      "rangeEnd": "number"
                    }
                  }
                },
                "targetingCondition": {
                  "type": "string"
                }
              }
            }
          },
          "settings": {
            "$ref": "components[\"schemas\"][\"ExperimentAnalysisSettings\"]"
          },
          "resultSummary": {
            "type": "object",
            "required": ["status", "winner", "conclusions"],
            "properties": {
              "status": {
                "type": "string"
              },
              "winner": {
                "type": "string"
              },
              "conclusions": {
                "type": "string"
              }
            }
          }
        }
      },
      "ExperimentMetric": {
        "type": "object",
        "required": ["metricId", "overrides"],
        "properties": {
          "metricId": {
            "type": "string"
          },
          "overrides": {
            "type": "object",
            "properties": {
              "conversionWindowStart": {
                "type": "number"
              },
              "conversionWindowEnd": {
                "type": "number"
              },
              "winRiskThreshold": {
                "type": "number"
              },
              "loseRiskThreshold": {
                "type": "number"
              }
            }
          }
        }
      },
      "ExperimentAnalysisSettings": {
        "type": "object",
        "required": [
          "datasourceId",
          "assignmentQueryId",
          "experimentId",
          "segmentId",
          "queryFilter",
          "inProgressConversions",
          "multipleVariations",
          "attributionModel",
          "statsEngine",
          "goals",
          "guardrails"
        ],
        "properties": {
          "datasourceId": {
            "type": "string"
          },
          "assignmentQueryId": {
            "type": "string"
          },
          "experimentId": {
            "type": "string"
          },
          "segmentId": {
            "type": "string"
          },
          "queryFilter": {
            "type": "string"
          },
          "inProgressConversions": {
            "enum": ["include", "exclude"]
          },
          "multipleVariations": {
            "enum": ["include", "exclude"]
          },
          "attributionModel": {
            "enum": ["firstExposure", "allExposures"]
          },
          "statsEngine": {
            "enum": ["bayesian", "frequentist"]
          },
          "goals": {
            "type": "array",
            "items": {
              "$ref": "components[\"schemas\"][\"ExperimentMetric\"]"
            }
          },
          "guardrails": {
            "type": "array",
            "items": {
              "$ref": "components[\"schemas\"][\"ExperimentMetric\"]"
            }
          },
          "activationMetric": {
            "$ref": "components[\"schemas\"][\"ExperimentMetric\"]"
          }
        }
      },
      "ExperimentResults": {
        "type": "object",
        "required": [
          "id",
          "dateUpdated",
          "experimentId",
          "phase",
          "dimension",
          "dateStart",
          "dateEnd",
          "settings",
          "queryIds",
          "results"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "dateUpdated": {
            "type": "string"
          },
          "experimentId": {
            "type": "string"
          },
          "phase": {
            "type": "string"
          },
          "dateStart": {
            "type": "string"
          },
          "dateEnd": {
            "type": "string"
          },
          "dimension": {
            "type": "object",
            "required": ["type"],
            "properties": {
              "type": {
                "type": "string"
              },
              "id": {
                "type": "string"
              }
            }
          },
          "settings": {
            "$ref": "components[\"schemas\"][\"ExperimentAnalysisSettings\"]"
          },
          "queryIds": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "results": {
            "type": "array",
            "items": {
              "type": "object",
              "required": ["dimension", "totalUsers", "checks", "metrics"],
              "properties": {
                "dimension": {
                  "type": "string"
                },
                "totalUsers": {
                  "type": "number"
                },
                "checks": {
                  "type": "object",
                  "required": ["srm"],
                  "properties": {
                    "srm": {
                      "type": "number"
                    }
                  }
                },
                "metrics": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "required": ["metricId", "variations"],
                    "properties": {
                      "metricId": {
                        "type": "string"
                      },
                      "variations": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "required": ["variationId", "analyses"],
                          "properties": {
                            "variationId": {
                              "type": "string"
                            },
                            "analyses": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "required": [
                                  "engine",
                                  "numerator",
                                  "denominator",
                                  "mean",
                                  "stddev",
                                  "percentChange",
                                  "ciLow",
                                  "ciHigh"
                                ],
                                "properties": {
                                  "engine": {
                                    "enum": ["bayesian", "frequentist"]
                                  },
                                  "numerator": {
                                    "type": "number"
                                  },
                                  "denominator": {
                                    "type": "number"
                                  },
                                  "mean": {
                                    "type": "number"
                                  },
                                  "stddev": {
                                    "type": "number"
                                  },
                                  "percentChange": {
                                    "type": "number"
                                  },
                                  "ciLow": {
                                    "type": "number"
                                  },
                                  "ciHigh": {
                                    "type": "number"
                                  },
                                  "pValue": {
                                    "type": "number"
                                  },
                                  "risk": {
                                    "type": "number"
                                  },
                                  "chanceToBeatControl": {
                                    "type": "number"
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "DataSource": {
        "type": "object",
        "required": [
          "id",
          "dateCreated",
          "dateUpdated",
          "type",
          "name",
          "description",
          "projectIds",
          "eventTracker",
          "identifierTypes",
          "assignmentQueries",
          "identifierJoinQueries"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "dateCreated": {
            "type": "string",
            "format": "date-time"
          },
          "dateUpdated": {
            "type": "string",
            "format": "date-time"
          },
          "type": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "projectIds": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "eventTracker": {
            "type": "string"
          },
          "identifierTypes": {
            "type": "array",
            "items": {
              "type": "object",
              "required": ["id", "description"],
              "properties": {
                "id": {
                  "type": "string"
                },
                "description": {
                  "type": "string"
                }
              }
            }
          },
          "assignmentQueries": {
            "type": "array",
            "items": {
              "type": "object",
              "required": [
                "id",
                "name",
                "description",
                "identifierType",
                "sql",
                "includesNameColumns",
                "dimensionColumns"
              ],
              "properties": {
                "id": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "description": {
                  "type": "string"
                },
                "identifierType": {
                  "type": "string"
                },
                "sql": {
                  "type": "string"
                },
                "includesNameColumns": {
                  "type": "boolean"
                },
                "dimensionColumns": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "identifierJoinQueries": {
            "type": "array",
            "items": {
              "type": "object",
              "required": ["identifierTypes", "sql"],
              "properties": {
                "identifierTypes": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "sql": {
                  "type": "string"
                }
              }
            }
          },
          "mixpanelSettings": {
            "type": "object",
            "required": [
              "viewedExperimentEventName",
              "experimentIdProperty",
              "variationIdProperty",
              "extraUserIdProperty"
            ],
            "properties": {
              "viewedExperimentEventName": {
                "type": "string"
              },
              "experimentIdProperty": {
                "type": "string"
              },
              "variationIdProperty": {
                "type": "string"
              },
              "extraUserIdProperty": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "securitySchemas": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      },
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    },
    "responses": {
      "Error": {
        "type": "object",
        "required": ["message"],
        "properties": {
          "message": {
            "type": "string"
          }
        }
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    },
    {
      "basicAuth": []
    }
  ]
}
