// note, tip, info, warning, danger

// Based on the callout design pattern
.theme-admonition {
  border: none;
  border-radius: 6px;
  box-shadow: none;
  padding: 1rem;

  [class^="admonitionHeading"] {
    font-size: 0.875rem;
    font-weight: 600;
    text-transform: none;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-block-end: 0.25rem;
    line-height: 20px;
  }

  [class^="admonitionIcon"] {
    width: 1rem;
    height: 1rem;
    margin: 0;

    svg {
      fill: currentColor;
      width: 1rem;
      height: 1rem;
    }
  }

  a {
    color: inherit;
    text-decoration-color: currentColor;
  }

  p {
    margin-inline-start: 24px;
    line-height: 1.5 !important;
    font-size: 0.875rem !important;
  }

  &.uppercase {
    [class^="admonitionHeading"] {
      text-transform: uppercase;
    }
  }
}

.theme-admonition-note,
.theme-admonition-info {
  background-color: var(--violet-a3);
  color: var(--violet-a11);
}

.theme-admonition-tip {
  background-color: var(--green-a3);
  color: var(--green-a11);
}

.theme-admonition-caution {
  background-color: var(--amber-a3);
  color: var(--amber-a12);

  svg {
    fill: var(--amber-a11) !important;
  }
}

.theme-admonition-danger {
  background-color: var(--red-a3);
  color: var(--red-a11);
}
