// note, tip, info, warning, danger

// Based on the callout design pattern
.theme-admonition {
  border: none;
  border-radius: 8px;

  svg {
    fill: currentColor !important;
  }

  a {
    color: inherit;
    text-decoration-color: currentColor;
  }
}

.theme-admonition-note,
.theme-admonition-info {
  background-color: var(--violet-a3);
  color: var(--violet-a11);
}

.theme-admonition-tip {
  background-color: var(--green-a3);
  color: var(--green-a11);
}

.theme-admonition-caution {
  background-color: var(--amber-a3);
  color: var(--amber-a12);

  svg {
    fill: var(--amber-a11) !important;
  }
}

.theme-admonition-danger {
  background-color: var(--red-a3);
  color: var(--red-a11);
}
