:root {
  --custom-button-card-padding: 1.5rem;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 1px 2px 0 #0000000d;
  --tw-ring-color: #0f172a0d;
}

[data-theme="light"] {
  --buttoncard-default-background-color: rgba(232, 232, 232, 0.18);
  --buttoncard-default-border-color: rgba(218, 217, 217, 0.47);
  --buttoncard-primary-background-color: #edf1fb;
  --buttoncard-secondary-background-color: #dedef4;
  --buttoncard-tertiary-background-color: #f3ddf3;
  --custom-content-color-light: #484848;
  --custom-color-subtle: rgba(142, 54, 248, 0.49);
  --tw-gradient-from: #60a5fa;
  --tw-gradient-to: rgba(96, 165, 250, 0);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

[data-theme="dark"] {
  --buttoncard-default-background-color: rgba(232, 232, 232, 0.07);
  --buttoncard-default-border-color: rgba(218, 217, 217, 0.16);
  --buttoncard-primary-background-color: rgba(16, 38, 91, 0.79);
  --buttoncard-secondary-background-color: #2c0a53;
  --buttoncard-tertiary-background-color: #3b0a43;
  --custom-content-color-light: #ffffff;
  --custom-color-subtle: rgba(142, 54, 248, 0.49);
  --tw-gradient-from: #60a5fa;
  --tw-gradient-to: rgba(96, 165, 250, 0);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.button-card {
  // &:hover {
  //   color: none !important;
  // }
  height: 100%;
  // padding-bottom: var(--ifm-spacing-horizontal) !important;

  border-radius: 6px;
  // box-shadow: var(--ifm-global-shadow-lw);
  overflow: hidden;

  &.button-card--vertical .button-card__inner {
    display: flex;
    flex-direction: column;
  }

  &.button-card--horizontal .button-card__inner {
    display: flex;
    flex-direction: row;
    gap: var(--ifm-spacing-horizontal);
    align-items: center;

    h3 {
      margin-bottom: 0;
    }
  }

  &.button-card--center {
    text-align: center;
  }
  &.button-card--default {
    .button-card__inner {
      background-color: var(--buttoncard-default-background-color);
      border: 1px solid var(--buttoncard-default-border-color);
    }
  }
  &.button-card--primary {
    .button-card__inner {
      background-color: var(--buttoncard-primary-background-color);
    }
  }
  &.button-card--secondary {
    .button-card__inner {
      background-color: var(--buttoncard-secondary-background-color);
    }
  }
  &.button-card--tertiary {
    .button-card__inner {
      background-color: var(--buttoncard-tertiary-background-color);
      color: var(--buttoncard-tertiary-color);
      border-color: var(--buttoncard-tertiary-border-color);
    }
  }

  .button-card__inner {
    height: 100%;
    transition: all 0.15s ease-in-out;
    padding: var(--custom-button-card-padding);
    border: 1px solid var(--custom-background-color-diff);
    background-color: var(--custom-background-color-diff);
    border-radius: 0.5rem;
    // box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow),
    //   var(--tw-shadow, 0 0 #0000);

    header {
      display: flex;
      align-items: center;
      gap: 0.25rem;
      margin-bottom: 0.3rem;

      svg {
        width: 1em;
        height: 1em;
        // filter: grayscale(100%) contrast(120%);
        // flex-shrink: 0;
      }
    }

    img {
      margin-bottom: 0.8rem;
    }

    h3 {
      color: var(--custom-content-color-emphasis);
      font-size: var(--custom-font-size-lg);
      margin-block-end: 0;
    }

    p {
      color: var(--custom-content-color-light);
      font-size: var(--custom-font-size-sm);
      margin-bottom: 0;
    }

    &:hover {
      border: 1px solid var(--custom-color-subtle);
      text-decoration: none;
    }
  }
}

[data-theme="light"] {
  .button-card {
    &:hover {
      text-decoration: none;

      .button-card__inner {
        border: 1px solid var(--custom-color-subtle);

        box-shadow:
          var(--tw-ring-offset-shadow), var(--tw-ring-shadow),
          var(--tw-shadow, 0 0 #0000);
      }
    }
  }
}

.button-card-grid {
  display: grid;
  gap: 1rem;
  margin-block: 1rem;

  @media (min-width: 768px) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

.button-card-grid-2-3 {
  @media (min-width: 768px) {
    grid-template-columns: repeat(6, minmax(0, 1fr));

    & > * {
      grid-column: span 3;
    }

    & > *:last-child {
      grid-column: span 6;
    }
  }
}
