// Card grids
.button-card-grid {
  display: grid;
  gap: 1rem;
  margin-block: 1rem;

  @media (min-width: 768px) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

// For grids with 3 items. Two in first row, one in second row.
.button-card-grid-3-items {
  @media (min-width: 768px) {
    grid-template-columns: repeat(6, minmax(0, 1fr));

    & > * {
      grid-column: span 3;
    }

    & > *:last-child {
      grid-column: span 6;
    }
  }
}

.button-card {
  height: 100%;
  padding: 1rem;
  border-radius: 6px;
  box-shadow: 0 0 0 1px var(--slate-a5);
  overflow: hidden;
  transition: box-shadow var(--ifm-transition-fast)
    var(--ifm-transition-timing-default);

  &:hover,
  &:focus-within {
    box-shadow: 0 0 0 1px var(--violet-9);
    text-decoration: none;
  }
  // Unused classes that we may use in the future
  // &.button-card--vertical .button-card__inner {
  //   display: flex;
  //   flex-direction: column;
  // }

  // &.button-card--horizontal .button-card__inner {
  //   display: flex;
  //   flex-direction: row;
  //   gap: var(--ifm-spacing-horizontal);
  //   align-items: center;

  //   h3 {
  //     margin-bottom: 0;
  //   }
  // }

  // &.button-card--center {
  //   text-align: center;
  // }
  // &.button-card--default {
  //   .button-card__inner {
  //     border: 1px solid var(--slate-a5);
  //   }
  // }
  // &.button-card--primary {
  //   .button-card__inner {
  //     background-color: var(--buttoncard-primary-background-color);
  //   }
  // }
  // &.button-card--secondary {
  //   .button-card__inner {
  //     background-color: var(--buttoncard-secondary-background-color);
  //   }
  // }
  // &.button-card--tertiary {
  //   .button-card__inner {
  //     background-color: var(--buttoncard-tertiary-background-color);
  //     color: var(--buttoncard-tertiary-color);
  //     border-color: var(--buttoncard-tertiary-border-color);
  //   }
  // }

  .button-card__inner {
    .button-card__content {
      display: flex;
      flex-direction: column;
      gap: 0.25rem;
    }

    header {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      margin-block-end: 0.25rem;
    }

    svg {
      width: 1rem;
      height: 1rem;
      flex-shrink: 0;
      color: var(--color-text-high);
    }

    h3 {
      font-size: 0.875rem;
      font-weight: 600;
      margin-block-end: 0;
      color: var(--color-text-high);
      line-height: 20px;
    }

    img {
      margin-bottom: 0.8rem;
    }

    p {
      color: var(--color-text-mid);
      font-size: 0.875rem;
      margin-bottom: 0;
      max-width: 65ch;
      line-height: 1.5;
      text-wrap: pretty;
    }
    .button-card__description-with-icon {
      margin-left: 24px;
    }
  }
}
