html[data-theme="light"] {
  --sidebar-category-c: var(--c-gray-100);
  --sidebar-border-c: var(--c-gray-0);

  --ifm-menu-color-background-active: var(--c-blue-0);
  --ifm-menu-color: var(--c-indigo-80);
}

html[data-theme="dark"] {
  --sidebar-category-c: var(--c-gray-0);
  --sidebar-border-c: var(--c-gray-90);

  --ifm-menu-color: var(--c-gray-20);
}

:root {
  --doc-sidebar-width: 17.5rem;

  --dropdown-icon-width: 0.625rem;
  --dropdown-icon-height: 0.375rem;
  --dropdown-icon-gap: 0.688rem;

  --ifm-menu-link-padding-vertical: 0.5rem;
  --ifm-menu-color-active: var(--ifm-link-color);

  --sidebar-spacing-horizontal: 1.5rem;
}

//overrides
#__docusaurus {
  [class^="docSidebarContainer"] {
    background: var(--token-primary-bg-c);

    position: sticky;
    top: 0;
    margin-block-start: 0;
    will-change: initial;

    height: 100vh;

    border-inline-end: 1px solid var(--sidebar-border-c);

    > a {
      display: flex;
      align-items: center;
      height: var(--ifm-navbar-height);

      padding-inline-start: var(--sidebar-spacing-horizontal);
      padding-inline-end: var(--sidebar-spacing-horizontal);
    }
  }

  [class^="sidebar_"] {
    max-height: calc(100vh - var(--ifm-navbar-height));
    position: static;

    overflow-y: auto;

    padding-inline-start: var(--sidebar-spacing-horizontal);
    padding-inline-end: var(--sidebar-spacing-horizontal);
    padding-block-start: 1rem;

    > .menu {
      overflow-x: initial;
      padding-block-end: 2rem;
      padding: 0;
    }
  }

  [class^="sidebarLogo"] {
    display: none !important;
  }

  .menu__list {
    display: block !important;
    transition: height 0.35s cubic-bezier(0.36, 0.66, 0.04, 1) 25ms !important;
    will-change: initial !important;

    margin: 0;

    li:last-of-type {
      padding-block-end: 1.5rem;
    }

    .menu__list {
      .menu__link--sublist {
        margin-inline-start: calc(
          -1 * (var(--dropdown-icon-width) + var(--dropdown-icon-gap))
        );

        &::after {
          opacity: 0.6;
        }
      }
    }

    &-item {
      &:not(:first-child) {
        margin-block-start: 0;
      }
      .menu__list {
        .menu__link {
          padding-inline-start: calc(
            var(--dropdown-icon-width) + var(--dropdown-icon-gap)
          );
        }
      }
    }
  }

  .menu__link {
    font-weight: 500;
    font-size: 0.813rem;
    line-height: 16px;
    /* identical to box height */

    display: flex;
    align-items: center;
    letter-spacing: -0.01em;

    transition: opacity 0.2s ease-out;

    &:not(.menu__link--active:not(.menu__link--sublist)) {
      background: initial;
    }

    &:not(.menu__link--active):not(.menu__link--sublist) {
      &:hover,
      &:active,
      &:focus {
        opacity: 0.7;
      }
    }
  }

  .menu__link--sublist {
    padding-inline-start: 0;
    padding-inline-end: 0;

    margin-block-end: 0;

    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: flex-end;

    &::after {
      background: var(--ifm-menu-link-sublist-icon) center /
        var(--dropdown-icon-width) var(--dropdown-icon-height);
      background-repeat: no-repeat;

      min-width: auto;

      width: var(--dropdown-icon-width);
      height: var(--dropdown-icon-height);

      margin-inline-end: var(--dropdown-icon-gap);
      margin-block-end: 0;
    }
  }

  .theme-doc-sidebar-item-category-level-1 {
    > .menu__link {
      color: var(--sidebar-category-c);

      font-weight: 600;
      font-size: 0.938rem;
      line-height: 100%;
    }
  }

  // Language icons in sidebar
  .menu__list-item[class*="sidebar-icon-"] {
    .menu__link {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      &::before {
        content: "";
        display: inline-block;
        width: 16px;
        height: 16px;
        flex-shrink: 0;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  }

  // Server languages
  .menu__list-item.sidebar-icon-node .menu__link::before {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 128 128'%3E%3Cpath fill='%233F873F' d='M66.958.825a6.07 6.07 0 0 0-6.035 0L11.103 29.76c-1.895 1.072-2.96 3.095-2.96 5.24v57.988c0 2.143 1.183 4.167 2.958 5.24l49.82 28.934a6.07 6.07 0 0 0 6.036 0l49.82-28.935c1.894-1.072 2.958-3.096 2.958-5.24V35c0-2.144-1.183-4.167-2.958-5.24z'/%3E%3C/svg%3E");
  }

  .menu__list-item.sidebar-icon-nextjs .menu__link::before {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 180 180'%3E%3Cpath d='M64.002 8.576 128 119.424H0Zm0 0'/%3E%3C/svg%3E");
  }

  .menu__list-item.sidebar-icon-php .menu__link::before {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 128 128'%3E%3Cpath fill='%23777bb3' d='M0 64c0 18.593 28.654 33.667 64 33.667 35.346 0 64-15.074 64-33.667 0-18.593-28.655-33.667-64-33.667C28.654 30.333 0 45.407 0 64Z'/%3E%3C/svg%3E");
  }

  .menu__list-item.sidebar-icon-ruby .menu__link::before {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 128 128'%3E%3Cpath fill='%23E42B1E' d='M97.078 83.214L28.34 124.031l89.003-6.04 6.855-89.745z'/%3E%3C/svg%3E");
  }

  .menu__list-item.sidebar-icon-python .menu__link::before {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 128 128'%3E%3Cpath fill='%235A9FD4' d='M63.391 1.988c-4.222.02-8.252.379-11.8 1.007-10.45 1.846-12.346 5.71-12.346 12.837v9.411h24.693v3.137H29.977c-7.176 0-13.46 4.313-15.426 12.521-2.268 9.405-2.368 15.275 0 25.096 1.755 7.311 5.947 12.519 13.124 12.519h8.491V67.234c0-8.151 7.051-15.34 15.426-15.34h24.665c6.866 0 12.346-5.654 12.346-12.548V15.833c0-6.693-5.646-11.72-12.346-12.837-4.244-.706-8.645-1.027-12.866-1.008z'/%3E%3C/svg%3E");
  }

  .menu__list-item.sidebar-icon-java .menu__link::before {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 128 128'%3E%3Cpath fill='%230074BD' d='M47.617 98.12s-4.767 2.774 3.397 3.71c9.892 1.13 14.947.968 25.845-1.092 0 0 2.871 1.795 6.873 3.351-24.439 10.47-55.308-.607-36.115-5.969z'/%3E%3C/svg%3E");
  }

  .menu__list-item.sidebar-icon-kotlin-jvm .menu__link::before {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 128 128'%3E%3Cpath fill='%23e44857' d='M112.484 112.484H15.516V15.516h96.968L64 64Zm0 0'/%3E%3C/svg%3E");
  }

  .menu__list-item.sidebar-icon-csharp .menu__link::before {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 128 128'%3E%3Cpath fill='%239B4F96' d='M115.4 30.7L67.1 2.9c-.8-.5-1.9-.7-3.1-.7-1.2 0-2.3.3-3.1.7l-48 27.9c-1.7 1-2.9 3.5-2.9 5.4v55.7c0 1.1.2 2.4 1 3.5l106.8-62c-.6-1.2-1.5-2.1-2.4-2.7z'/%3E%3C/svg%3E");
  }

  .menu__list-item.sidebar-icon-go .menu__link::before {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 128 128'%3E%3Cpath fill='%2300ADD8' d='M62.8 4c13.6 0 26.3 1.9 33 15 6 14.6 3.8 30.4 4.8 45.9.8 13.3 2.5 28.6-3.6 40.9-6.5 12.9-22.7 16.2-36 15.7-10.5-.4-23.1-3.8-29.1-13.4-6.9-11.2-3.7-27.9-3.2-40.4.6-14.8-4-29.7.9-44.1C34.5 8.5 48.1 5.1 62.8 4'/%3E%3C/svg%3E");
  }

  .menu__list-item.sidebar-icon-rust .menu__link::before {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 128 128'%3E%3Cpath fill='%23000000' d='M78.8 49.8c10.4 13.4 12.7 22.6 6.8 27.9-27.7 19.4-61.3 7.4-54-37.3C22.1 63 4.5 96.8 43.3 101.6c20.8 3.6 54 2 58.9-16.1-.2-15.9-10.8-22.9-23.4-35.7z'/%3E%3C/svg%3E");
  }

  .menu__list-item.sidebar-icon-elixir .menu__link::before {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 128 128'%3E%3Cpath fill='%234E3454' d='M64.4.5C36.7 13.9 1.9 83.4 30.9 113.9c26.8 33.5 85.4 1.3 68.4-40.5-21.5-36-35-37.9-34.9-72.9z'/%3E%3C/svg%3E");
  }

  // Client languages
  .menu__list-item.sidebar-icon-script-tag .menu__link::before {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 256 256'%3E%3Cpath fill='currentColor' d='M69.12,94.15,28.5,128l40.62,33.85a8,8,0,1,1-10.24,12.29l-48-40a8,8,0,0,1,0-12.29l48-40a8,8,0,0,1,10.24,12.3Zm176,27.7-48-40a8,8,0,1,0-10.24,12.3L227.5,128l-40.62,33.85a8,8,0,1,0,10.24,12.29l48-40a8,8,0,0,0,0-12.29ZM162.73,32.48a8,8,0,0,0-10.25,4.79l-64,176a8,8,0,0,0,4.79,10.26A8.14,8.14,0,0,0,96,224a8,8,0,0,0,7.52-5.27l64-176A8,8,0,0,0,162.73,32.48Z'/%3E%3C/svg%3E");
  }

  .menu__list-item.sidebar-icon-js .menu__link::before {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 128 128'%3E%3Cpath fill='%23F0DB4F' d='M1.408 1.408h125.184v125.185H1.408z'/%3E%3Cpath fill='%23323330' d='M116.347 96.736c-.917-5.711-4.641-10.508-15.672-14.981-3.832-1.761-8.104-3.022-9.377-5.926-.452-1.69-.512-2.642-.226-3.665.821-3.32 4.784-4.355 7.925-3.403 2.023.678 3.938 2.237 5.093 4.724 5.402-3.498 5.391-3.475 9.163-5.879-1.381-2.141-2.118-3.129-3.022-4.045-3.249-3.629-7.676-5.498-14.756-5.355l-3.688.477c-3.534.893-6.902 2.748-8.877 5.235-5.926 6.724-4.236 18.492 2.975 23.335 7.104 5.332 17.54 6.545 18.873 11.531 1.297 6.104-4.486 8.08-10.234 7.378-4.236-.881-6.592-3.034-9.139-6.949-4.688 2.713-4.688 2.713-9.508 5.485 1.143 2.499 2.344 3.63 4.26 5.795 9.068 9.198 31.76 8.746 35.83-5.176.165-.478 1.261-3.666.38-8.581z'/%3E%3C/svg%3E");
  }

  .menu__list-item.sidebar-icon-react .menu__link::before {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 128 128'%3E%3Ccircle fill='%2361DAFB' cx='64' cy='64' r='11.4'/%3E%3Cpath fill='%2361DAFB' d='M107.3 45.2c-2.2-.8-4.5-1.6-6.9-2.3.6-2.4 1.1-4.8 1.5-7.1 2.1-13.2-.2-22.5-6.6-26.1-1.9-1.1-4-1.6-6.4-1.6-7 0-15.9 5.2-24.9 13.9-9-8.7-17.9-13.9-24.9-13.9-2.4 0-4.5.5-6.4 1.6-6.4 3.7-8.7 13-6.6 26.1.4 2.3.9 4.7 1.5 7.1-2.4.7-4.7 1.4-6.9 2.3C8.2 50 1.4 56.6 1.4 64s6.9 14 19.3 18.8c2.2.8 4.5 1.6 6.9 2.3-.6 2.4-1.1 4.8-1.5 7.1-2.1 13.2.2 22.5 6.6 26.1 1.9 1.1 4 1.6 6.4 1.6 7.1 0 16-5.2 24.9-13.9 9 8.7 17.9 13.9 24.9 13.9 2.4 0 4.5-.5 6.4-1.6 6.4-3.7 8.7-13 6.6-26.1-.4-2.3-.9-4.7-1.5-7.1 2.4-.7 4.7-1.4 6.9-2.3 12.5-4.8 19.3-11.4 19.3-18.8s-6.8-14-19.3-18.8z'/%3E%3C/svg%3E");
  }

  .menu__list-item.sidebar-icon-vue .menu__link::before {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 128 128'%3E%3Cpath fill='%2341b883' d='M0 8.934l49.854.158 14.167 24.47 14.432-24.47L128 8.935l-63.834 110.14zm126.98.637l-24.36.02-38.476 66.053L25.691 9.592.942 9.572l63.211 107.89z'/%3E%3C/svg%3E");
  }

  .menu__list-item.sidebar-icon-kotlin .menu__link::before {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 128 128'%3E%3Cpath fill='url(%23a)' d='M112.484 112.484H15.516V15.516h96.968L64 64Zm0 0'/%3E%3C/svg%3E");
  }

  .menu__list-item.sidebar-icon-flutter .menu__link::before {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 128 128'%3E%3Cpath fill='%233FB6D3' d='M12.3 64.2L76.3 0h39.4L32.1 83.6zM76.3 128h39.4L81.6 93.9l34.1-34.8H76.3L42.2 93.5z'/%3E%3C/svg%3E");
  }

  .menu__list-item.sidebar-icon-swift .menu__link::before {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 128 128'%3E%3Cpath fill='%23f05138' d='M126.33 34.06a39.32 39.32 0 00-.79-7.83 28.78 28.78 0 00-2.65-7.58 28.84 28.84 0 00-4.76-6.32 23.42 23.42 0 00-6.62-4.55 27.27 27.27 0 00-7.68-2.53c-2.65-.51-5.56-.51-8.21-.76H30.25a45.46 45.46 0 00-6.09.51 21.82 21.82 0 00-5.82 1.52c-.53.25-1.32.51-1.85.76a33.82 33.82 0 00-5 3.28c-.53.51-1.06.76-1.59 1.26a22.41 22.41 0 00-4.76 6.32 23.61 23.61 0 00-2.65 7.58 78.5 78.5 0 00-.79 7.83v60.39a39.32 39.32 0 00.79 7.83 28.78 28.78 0 002.65 7.58 28.84 28.84 0 004.76 6.32 23.42 23.42 0 006.62 4.55 27.27 27.27 0 007.68 2.53c2.65.51 5.56.51 8.21.76h63.22a45.08 45.08 0 008.21-.76 27.27 27.27 0 007.68-2.53 30.13 30.13 0 006.62-4.55 22.41 22.41 0 004.76-6.32 23.61 23.61 0 002.65-7.58 78.49 78.49 0 00.79-7.83V34.06z'/%3E%3C/svg%3E");
  }

  .menu__list-item.sidebar-icon-react-native .menu__link::before {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 128 128'%3E%3Ccircle fill='%2361DAFB' cx='64' cy='64' r='11.4'/%3E%3Cpath fill='%2361DAFB' d='M107.3 45.2c-2.2-.8-4.5-1.6-6.9-2.3.6-2.4 1.1-4.8 1.5-7.1 2.1-13.2-.2-22.5-6.6-26.1-1.9-1.1-4-1.6-6.4-1.6-7 0-15.9 5.2-24.9 13.9-9-8.7-17.9-13.9-24.9-13.9-2.4 0-4.5.5-6.4 1.6-6.4 3.7-8.7 13-6.6 26.1.4 2.3.9 4.7 1.5 7.1-2.4.7-4.7 1.4-6.9 2.3C8.2 50 1.4 56.6 1.4 64s6.9 14 19.3 18.8c2.2.8 4.5 1.6 6.9 2.3-.6 2.4-1.1 4.8-1.5 7.1-2.1 13.2.2 22.5 6.6 26.1 1.9 1.1 4 1.6 6.4 1.6 7.1 0 16-5.2 24.9-13.9 9 8.7 17.9 13.9 24.9 13.9 2.4 0 4.5-.5 6.4-1.6 6.4-3.7 8.7-13 6.6-26.1-.4-2.3-.9-4.7-1.5-7.1 2.4-.7 4.7-1.4 6.9-2.3 12.5-4.8 19.3-11.4 19.3-18.8s-6.8-14-19.3-18.8z'/%3E%3C/svg%3E");
  }

  // Edge platforms
  .menu__list-item.sidebar-icon-edge-cloudflare .menu__link::before {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 128 128'%3E%3Cpath fill='%23F38020' d='M87.295 89.022c.763-2.617.472-5.015-.8-6.796-1.163-1.635-3.125-2.58-5.488-2.689l-44.737-.581c-.291 0-.545-.145-.691-.363s-.182-.509-.109-.8c.145-.436.581-.763 1.054-.8l45.137-.581c5.342-.254 11.157-4.579 13.192-9.885l2.58-6.723c.109-.291.145-.581.073-.872-2.906-13.158-14.644-22.97-28.672-22.97-12.938 0-23.913 8.359-27.838 19.952a13.35 13.35 0 0 0-9.267-2.58c-6.215.618-11.193 5.597-11.811 11.811-.145 1.599-.036 3.162.327 4.615C10.104 70.051 2 78.337 2 88.549c0 .909.073 1.817.182 2.726a.895.895 0 0 0 .872.763h82.57c.472 0 .909-.327 1.054-.8l.617-2.216z'/%3E%3C/svg%3E");
  }

  .menu__list-item.sidebar-icon-edge-fastly .menu__link::before {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24'%3E%3Cpath fill='%23ff282d' d='M13.919 3.036V1.3h.632V0H9.377v1.3h.631v1.749a10.572 10.572 0 00-8.575 10.384C1.433 19.275 6.17 24 12 24c5.842 0 10.567-4.737 10.567-10.567 0-5.186-3.729-9.486-8.648-10.397zm-1.628 15.826v-.607h-.619v.607c-2.757-.158-4.955-2.38-5.101-5.137h.607v-.62h-.607a5.436 5.436 0 015.101-5.089v.607h.62v-.607a5.435 5.435 0 015.137 5.114h-.607v.619h.607a5.444 5.444 0 01-5.138 5.113z'/%3E%3C/svg%3E");
  }

  .menu__list-item.sidebar-icon-edge-lambda .menu__link::before {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24'%3E%3Cpath fill='%23e57714' d='M4.9855 0c-.2941.0031-.5335.2466-.534.5482L4.446 5.456c0 .1451.06.2835.159.3891a.5322.5322 0 0 0 .3806.1562h3.4282l8.197 17.6805a.5365.5365 0 0 0 .4885.3181h5.811c.2969 0 .5426-.2448.5426-.5482V18.544c0-.3035-.2392-.5482-.5425-.5482h-2.0138L12.7394.3153C12.647.124 12.4564 0 12.2452 0h-7.254Zm.5397 1.0907h6.3678l8.16 17.6804a.5365.5365 0 0 0 .4885.3181h1.8178v3.8173H17.437L9.2402 5.226a.536.536 0 0 0-.4885-.318H5.5223Zm2.0137 8.2366c-.2098.0011-.3937.1193-.4857.3096L.6002 23.2133a.5506.5506 0 0 0 .0313.5282.5334.5334 0 0 0 .4544.25h6.169a.5468.5468 0 0 0 .497-.3096l3.38-7.166a.5405.5405 0 0 0-.0029-.4686L8.036 9.637a.5468.5468 0 0 0-.4942-.3096Zm.0057 1.8036 2.488 5.1522-3.1214 6.6206H1.9465Z'/%3E%3C/svg%3E");
  }

  .menu__list-item.sidebar-icon-edge-other .menu__link::before {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' stroke='currentColor' fill='none' stroke-width='2'%3E%3Cpath d='M11 18.004h-4.343c-2.572 -.004 -4.657 -2.011 -4.657 -4.487c0 -2.475 2.085-4.482 4.657-4.482c.393 -1.762 1.794 -3.2 3.675 -3.773c1.88 -.572 3.956 -.193 5.444 1c1.488 1.19 2.162 3.007 1.77 4.769h.99a3.468 3.468 0 0 1 3.307 2.444'/%3E%3Cpath d='M20 21l2 -2l-2 -2'/%3E%3Cpath d='M17 17l-2 2l2 2'/%3E%3C/svg%3E");
  }
}
