@import "../mixins";

html[data-theme="light"] {
  --sidebar-category-c: var(--c-gray-100);
  --sidebar-border-c: var(--c-gray-0);

  --ifm-menu-color: #445b78; //var(--c-indigo-80);

  --ifm-menu-color-background-active: #f0f6ff;
  --ifm-menu-color-active: #7817d3;
  --sidebar-menu-active-bg: #f0f6ff;
  --sidebar-menu-active-text-c: #fff;
}

html[data-theme="dark"] {
  --sidebar-category-c: var(--c-gray-0);
  --sidebar-border-c: var(--c-gray-90);

  --ifm-menu-color: var(--c-gray-20);

  --ifm-menu-color-background-active: rgb(73, 33, 175);
  --ifm-menu-color-active: #fff;
  --sidebar-menu-active-bg: rgb(73, 33, 175);
  --sidebar-menu-active-text-c: #7817d3;
}

:root {
  --doc-sidebar-width: 17.5rem;

  --dropdown-icon-width: 0.625rem;
  --dropdown-icon-height: 0.375rem;
  --dropdown-icon-gap: 0.688rem;

  --ifm-menu-link-padding-vertical: 0.5rem;
  --ifm-menu-color-active: var(--ifm-link-color);

  --sidebar-spacing-horizontal: 1.5rem;
}

.menu {
  font-size: 85%;

  &__link {
    &--active {
      font-weight: 800;
    }
  }

  &__list-item {
    font-weight: bold;
  }

  .menu__list {
    display: block !important;
    transition: height 0.35s cubic-bezier(0.36, 0.66, 0.04, 1) 25ms !important;
    will-change: initial !important;

    margin: 0;

    li:last-of-type {
      padding-block-end: 0.5rem;
    }

    &-item {
      &:not(:first-child) {
        margin-block-start: 0;
      }

      .menu__list {
        .menu__link {
          padding-inline-start: calc(
            var(--dropdown-icon-width) + var(--dropdown-icon-gap)
          );
        }
      }

      &.beta {
        .menu__link {
          &::after {
            content: "beta";
            @include pill(#7817d3, #fff);
          }
        }
      }

      &.pill-new > .menu__link,
      &.pill-new > div > .menu__link {
        &::after {
          content: "new";
          @include pill(#13a100, #fff);
        }
      }

      &.top-divider {
        border-top: 1px solid #cccccc80;
        margin-top: 5px;
        padding-top: 5px;
      }
    }
  }

  .theme-doc-sidebar-menu {
    margin-right: 1rem;
  }

  .menu__link {
    font-weight: 500;
    font-size: 0.813rem;
    line-height: 16px;
    /* identical to box height */

    display: flex;
    align-items: center;
    letter-spacing: -0.01em;

    transition: opacity 0.2s ease-out;

    &--active {
      //background: rgb(240, 246, 255);
    }

    //&:not(.menu__link--active:not(.menu__link--sublist)) {
    //  background: initial;
    //}

    &:not(.menu__link--active):not(.menu__link--sublist) {
      &:hover,
      &:active,
      &:focus {
        opacity: 0.7;
      }
    }
  }
  .theme-doc-sidebar-item-link-level-1.menu__list-item .menu__link {
    font-size: 0.938rem;
    font-weight: 500;
    line-height: 100%;
    color: var(--sidebar-category-c);
  }
  .theme-doc-sidebar-item-category-level-1 {
    > .menu__link {
      color: var(--sidebar-category-c);

      font-weight: 600;
      font-size: 0.938rem;
      line-height: 100%;
    }
  }

  //.menu__link--sublist {
  //  padding-inline-start: 0;
  //  padding-inline-end: 0;
  //
  //  margin-block-end: 0;
  //
  //  display: flex;
  //  align-items: center;
  //  flex-direction: row-reverse;
  //  justify-content: flex-end;
  //
  //  &::after {
  //    background: var(--ifm-menu-link-sublist-icon) center / var(--dropdown-icon-width) var(--dropdown-icon-height);
  //    background-repeat: no-repeat;
  //
  //    min-width: auto;
  //
  //    width: var(--dropdown-icon-width);
  //    height: var(--dropdown-icon-height);
  //
  //    margin-inline-end: var(--dropdown-icon-gap);
  //    margin-block-end: 0;
  //  }
  //}

  .theme-doc-sidebar-item-category-level-1 {
    > .menu__list-item-collapsible > .menu__link {
      color: var(--sidebar-category-c);

      font-weight: 600;
      font-size: 0.938rem;
      line-height: 100%;
    }
  }

  [class^="iconExternalLink"] {
    width: 9px;
  }
}

//nav bar:
.navbar {
  &__items {
    font-size: 0.9rem;

    .navbar__link {
      svg {
        display: none;
      }
    }
  }
}
