.upgradeModal {
  a {
    color: inherit;
    text-decoration: underline;
  }
}

a.unclickable {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
  :hover {
    text-decoration: none;
  }
  color: grey;
}
