.customMarkdown {
  border-color: var(--custom-markdown-border);
  color: var(--text-color-primary);

  a {
    vertical-align: middle;

    &:hover {
      text-decoration: underline !important;
    }
  }
}
