.markdown {
  pre {
    padding: 12px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: #f6f8fa;
    border-radius: 6px;
  }
  ul,
  ol {
    margin-bottom: 1em;

    &:last-child {
      margin-bottom: 0;
    }
  }
  p:last-child {
    padding-bottom: 0;
    margin-bottom: 0;
  }
  img {
    max-width: 100%;
    border: 1px solid #ccc;
  }
  blockquote {
    padding-left: 16px;
    position: relative;

    &:before {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      display: block;
      width: 4px;
      border-radius: 8px;
      background: #ddd;
      content: "";
    }
  }
  code[class*="language-"] {
    color: #333;
  }
  table {
    border-collapse: collapse;
    margin-bottom: 1em;
    td,
    th {
      border: 1px solid #ddd;
      padding: 8px;
    }
  }
}
