# Build and test artifacts
.git
.github
.gitignore
Dockerfile
docker-compose.yml
.dockerignore
.eslint*
.prettier*
.husky
*.md
**/node_modules
**/coverage
**/.next
**/dist
**/*.log
**/dummy

# Docs
./docs

# Secrets / private data
**/*.env.local
**/config.yml
packages/back-end/uploads

# Python notebooks and caches
packages/stats/**/.pytest_cache
packages/stats/**/__pycache__