# Build and test artifacts
.git
.github
**/node_modules
**/coverage
**/.next
**/dist
**/*.log
**/dummy

# Other packages
packages/docs
packages/sdk-**
packages/stats

# Secrets / private data
**/*.env.local
**/config.yml
packages/back-end/uploads