# Build and test artifacts
.git
.github
node_modules
packages/front-end/.next
packages/back-end/coverage
**/dist
**/*.log

# Docs package
packages/docs
packages/sdk-**

# Secrets / private data
**/*.env.local
**/config.yml
packages/back-end/uploads