{
  "env": {
    "node": true,
    "browser": true,
    "es6": true
  },
  "settings": {
    "react": {
      "version": "detect"
    },
    "import/parsers": {
      "@typescript-eslint/parser": [".ts", ".tsx"]
    },
    "import/resolver": {
      "node": true,
      "typescript": {
        "alwaysTryTypes": true,
        "project": ["packages/*/tsconfig.json"]
      }
    }
  },
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "react",
    "@typescript-eslint",
    "prettier",
    "@next/eslint-plugin-next",
    "no-async-foreach"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:import/recommended",
    "plugin:import/typescript",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended",
    "plugin:@next/eslint-plugin-next/recommended",
    "plugin:react-hooks/recommended"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "rules": {
    "no-unused-expressions": [
      "error",
      {
        "allowShortCircuit": true,
        "enforceForJSX": true,
        "allowTernary": true
      }
    ],
    "no-async-foreach/no-async-foreach": 2,
    "@next/next/no-html-link-for-pages": ["warn", "./packages/front-end/pages"],
    "@next/next/no-img-element": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/no-explicit-any": 1,
    "@typescript-eslint/no-inferrable-types": [
      "warn",
      {
        "ignoreParameters": true
      }
    ],
    "@typescript-eslint/no-unused-vars": [
      "warn",
      {
        "argsIgnorePattern": "^_",
        "varsIgnorePattern": "^_"
      }
    ],
    "no-console": ["warn"],
    "no-restricted-imports": "off",
    "react/react-in-jsx-scope": "off",
    "react/prop-types": "off",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "import/order": [
      "error",
      {
        "groups": [
          "builtin",
          "external",
          "internal",
          "parent",
          "sibling",
          "index",
          "unknown"
        ]
      }
    ],
    "@typescript-eslint/prefer-ts-expect-error": "error"
  },
  "overrides": [
    {
      "files": [
        "./packages/sdk-js/rollup.config.js",
        "./packages/sdk-react/rollup.config.js"
      ],
      "rules": {
        "import/no-named-as-default": "off"
      }
    },
    {
      "files": ["./packages/front-end/**/*.ts*"],
      "excludedFiles": ["./packages/front-end/ui/**/*.ts*"],
      "rules": {
        "no-restricted-imports": [
          "error",
          {
            "paths": [
              {
                "name": "@radix-ui/themes",
                "message": "Don't import Radix directly. Use our design system wrappers from @/ui/ instead.",
                "importNames": [
                  "Avatar",
                  "Badge",
                  "Button",
                  "Callout",
                  "Checkbox",
                  "DataList",
                  "DropdownMenu",
                  "Link",
                  "RadioCards",
                  "RadioGroup",
                  "Select",
                  "Switch",
                  "Table",
                  "Tabs"
                ]
              }
            ],
            "patterns": [
              {
                "group": ["..*"]
              },
              {
                "group": ["*back-end*", "**/sdk-{js,react}*"],
                "message": "front-end can only import from shared or itself."
              }
            ]
          }
        ]
      }
    },
    {
      "files": ["./packages/front-end/**/*.ts*"],
      "rules": {
        "no-restricted-syntax": [
          "error",
          {
            "selector": "MemberExpression[object.object.name='window'][object.property.name='history'][property.name='pushState']",
            "message": "Don't use window.history.pushState directly. Use router.push(url, undefined, { shallow: true }) from next/router instead."
          },
          {
            "selector": "MemberExpression[object.object.name='window'][object.property.name='history'][property.name='replaceState']",
            "message": "Don't use window.history.replaceState directly. Use router.replace(url, undefined, { shallow: true }) from next/router instead."
          }
        ]
      }
    },
    {
      "files": [
        "./packages/docs/pages/_app.tsx",
        "./packages/front-end/components/Auth/InAppHelp.tsx",
        "./packages/front-end/components/Dimensions/DimensionChooser.tsx",
        "./packages/front-end/components/Experiment/ImportExperimentModal.tsx",
        "./packages/front-end/components/Experiment/ManualSnapshotForm.tsx",
        "./packages/front-end/components/Experiment/NewExperimentForm.tsx",
        "./packages/front-end/components/Experiment/VisualEditorScriptMissing.tsx",
        "./packages/front-end/components/Features/CodeSnippetModal.tsx",
        "./packages/front-end/components/Features/DraftModal.tsx",
        "./packages/front-end/components/Features/RuleList.tsx",
        "./packages/front-end/components/Forms/SelectField.tsx",
        "./packages/front-end/components/HomePage/NorthStar.tsx",
        "./packages/front-end/components/Markdown/MarkdownInput.tsx",
        "./packages/front-end/components/Metrics/MetricForm.tsx",
        "./packages/front-end/components/ProtectedPage.tsx",
        "./packages/front-end/components/Queries/RunQueriesButton.tsx",
        "./packages/front-end/components/Segments/PickSegmentModal.tsx",
        "./packages/front-end/components/Settings/UpgradeModal.tsx",
        "./packages/front-end/components/Share/ShareModal.tsx",
        "./packages/front-end/components/Tabs/ControlledTabs.tsx",
        "./packages/front-end/components/TempMessage.tsx",
        "./packages/front-end/pages/experiments/index.tsx",
        "./packages/front-end/pages/idea/*iid*.tsx",
        "./packages/front-end/pages/index.tsx",
        "./packages/front-end/pages/integrations/vercel/index.tsx",
        "./packages/front-end/pages/invitation.tsx",
        "./packages/front-end/pages/metric/*mid*.tsx",
        "./packages/front-end/pages/oauth/callback.tsx",
        "./packages/front-end/pages/report/*rid*.tsx",
        "./packages/front-end/pages/reports.tsx",
        "./packages/front-end/pages/settings/index.tsx",
        "./packages/front-end/pages/settings/team.tsx",
        "./packages/front-end/services/DefinitionsContext.tsx",
        "./packages/front-end/services/features.ts",
        "./packages/front-end/services/search.tsx",
        "./packages/front-end/services/useGlobalMenu.ts",
        "./packages/front-end/services/useSwitchOrg.ts"
      ],
      "rules": {
        "react-hooks/exhaustive-deps": "off"
      }
    },
    {
      "rules": {
        "no-console": "off"
      },
      "files": [
        "./packages/sdk-js/**/*",
        "./packages/front-end/**/*",
        "./packages/back-end/test/**/*",
        "./packages/back-end/src/scripts/**/*",
        "./packages/back-end/**/*.test.{ts,tsx,js,jsx}"
      ]
    },
    {
      "files": ["./packages/back-end/**/*"],
      "excludedFiles": [
        "./packages/back-end/src/util/http.util.ts",
        "./packages/back-end/**/*.test.{ts,tsx,js,jsx}"
      ],
      "rules": {
        "no-restricted-imports": [
          "error",
          {
            "paths": [
              {
                "name": "node-fetch",
                "message": "Use `import { fetch } from \"back-end/src/util/http.util\";` instead.",
                "importNames": ["default"]
              }
            ],
            "patterns": [
              {
                "group": ["..*"]
              },
              {
                "group": ["*front-end*", "**/sdk-{js,react}*"],
                "message": "back-end can only import from shared or itself."
              }
            ]
          }
        ]
      }
    },
    {
      "files": ["./packages/shared/**/*"],
      "rules": {
        "no-restricted-imports": [
          "error",
          {
            "patterns": [
              {
                "group": ["*back-end*", "*front-end*"],
                "message": "shared cannot import from back-end or front-end."
              }
            ]
          }
        ]
      }
    },
    {
      "files": ["./packages/sdk-{js,react}/**/*"],
      "rules": {
        "no-restricted-imports": [
          "error",
          {
            "patterns": [
              {
                "group": ["*back-end*", "*front-end*", "**/shared*"],
                "message": "SDK packages cannot import from internal packages."
              }
            ]
          }
        ]
      }
    }
  ]
}
