{
  "env": {
    "node": true,
    "browser": true,
    "es6": true
  },
  "settings": {
    "react": {
      "version": "detect"
    },
    "import/parsers": {
      "@typescript-eslint/parser": [
        ".ts",
        ".tsx"
      ]
    },
    "import/resolver": {
      "node": true,
      "typescript": {
        "alwaysTryTypes": true,
        "project": [
          "packages/*/tsconfig.json"
        ]
      }
    }
  },
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "react",
    "@typescript-eslint",
    "prettier",
    "@next/eslint-plugin-next"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:import/recommended",
    "plugin:import/typescript",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended",
    "plugin:@next/eslint-plugin-next/recommended",
    "plugin:react-hooks/recommended"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "rules": {
    "@next/next/no-html-link-for-pages": [
      "warn",
      "./packages/front-end/pages"
    ],
    "@next/next/no-img-element": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/no-explicit-any": 1,
    "@typescript-eslint/no-inferrable-types": [
      "warn",
      {
        "ignoreParameters": true
      }
    ],
    "@typescript-eslint/no-unused-vars": [
      "warn",
      {
        "argsIgnorePattern": "^_"
      }
    ],
    "no-console": [
      "warn"
    ],
    "react/react-in-jsx-scope": "off",
    "react/prop-types": "off",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
   "import/order": [
     "error",
     {
       "groups": ["builtin", "external", "internal", "parent", "sibling", "index", "unknown"]
     }
   ]
  },
  "overrides": [
    {
      "files": [
        "./packages/sdk-js/rollup.config.js",
        "./packages/sdk-react/rollup.config.js"
      ],
      "rules": {
        "import/no-named-as-default": "off"
      }
    },
    {
      "files": [
        "./packages/docs/pages/_app.tsx",
        "./packages/front-end/components/Auth/InAppHelp.tsx",
        "./packages/front-end/components/Dimensions/DimensionChooser.tsx",
        "./packages/front-end/components/Experiment/BreakDownResults.tsx",
        "./packages/front-end/components/Experiment/CompactResults.tsx",
        "./packages/front-end/components/Experiment/DateResults.tsx",
        "./packages/front-end/components/Experiment/ImportExperimentModal.tsx",
        "./packages/front-end/components/Experiment/ManualSnapshotForm.tsx",
        "./packages/front-end/components/Experiment/NewExperimentForm.tsx",
        "./packages/front-end/components/Experiment/Results.tsx",
        "./packages/front-end/components/Experiment/ResultsDownloadButton.tsx",
        "./packages/front-end/components/Experiment/VisualEditorScriptMissing.tsx",
        "./packages/front-end/components/Features/CodeSnippetModal.tsx",
        "./packages/front-end/components/Features/ConditionInput.tsx",
        "./packages/front-end/components/Features/DraftModal.tsx",
        "./packages/front-end/components/Features/RuleList.tsx",
        "./packages/front-end/components/Forms/SelectField.tsx",
        "./packages/front-end/components/HomePage/NorthStar.tsx",
        "./packages/front-end/components/Markdown/MarkdownInput.tsx",
        "./packages/front-end/components/Metrics/MetricForm.tsx",
        "./packages/front-end/components/ProtectedPage.tsx",
        "./packages/front-end/components/Queries/RunQueriesButton.tsx",
        "./packages/front-end/components/Segments/PickSegmentModal.tsx",
        "./packages/front-end/components/Settings/UpgradeModal.tsx",
        "./packages/front-end/components/Settings/VisualEditorInstructions.tsx",
        "./packages/front-end/components/Share/ShareModal.tsx",
        "./packages/front-end/components/Tabs/ControlledTabs.tsx",
        "./packages/front-end/components/TempMessage.tsx",
        "./packages/front-end/hooks/useStripeSubscription.ts",
        "./packages/front-end/pages/experiments/designer/*.tsx",
        "./packages/front-end/pages/experiments/index.tsx",
        "./packages/front-end/pages/idea/*iid*.tsx",
        "./packages/front-end/pages/index.tsx",
        "./packages/front-end/pages/integrations/vercel/index.tsx",
        "./packages/front-end/pages/invitation.tsx",
        "./packages/front-end/pages/metric/*mid*.tsx",
        "./packages/front-end/pages/oauth/callback.tsx",
        "./packages/front-end/pages/report/*rid*.tsx",
        "./packages/front-end/pages/reports.tsx",
        "./packages/front-end/pages/settings/index.tsx",
        "./packages/front-end/pages/settings/team.tsx",
        "./packages/front-end/services/DefinitionsContext.tsx",
        "./packages/front-end/services/features.ts",
        "./packages/front-end/services/search.tsx",
        "./packages/front-end/services/useGlobalMenu.ts",
        "./packages/front-end/services/useSwitchOrg.ts"
      ],
      "rules": {
        "react-hooks/exhaustive-deps": "off"
      }
    },
    {
      "rules": {
        "no-console": "off"
      },
      "files": [
        "./packages/sdk-js/**/*",
        "./packages/front-end/**/*",
        "./packages/back-end/test/**/*",
        "./packages/back-end/src/scripts/**/*",
        "./packages/back-end/**/*.test.{ts,tsx,js,jsx}"
      ]
    }
  ]
}
