.metricLabel {
  .metricExternalLinkIcon {
    visibility: hidden;
    position: relative;
    margin-left: 4px;
    top: -1px;
  }

  &:hover {
    .metricExternalLinkIcon {
      visibility: visible;
    }
  }
}

.metricLabelLastWord {
  white-space: nowrap;
}

.metricDrilldownIcon {
  display: inline-flex;
  align-items: center;
  position: relative;
  top: 1px;
  margin-left: 4px;
  cursor: pointer;
  color: var(--color-text-low);

  &:hover {
    color: var(--violet-11);
  }
}
