// Show metric external link icon on row hover
:global(.results-group-row):hover .metricExternalLink {
  visibility: visible !important;
}

.metricExternalLink {
  visibility: hidden;
  margin-left: 4px;
  position: relative;
  top: -1px;
}

.metricLabelLastWord {
  white-space: nowrap;
  display: inline-flex;
  align-items: center;
}
