.expandAnimation {
  overflow: hidden;
  display: block;
  padding-bottom: 1rem;
  animation: expandHeight 0.3s cubic-bezier(0.4, 0, 0.2, 1) forwards;
  width: 100%;
}

@keyframes expandHeight {
  0% {
    max-height: 0;
    overflow: hidden;
  }
  100% {
    max-height: 350px;
    overflow: visible;
  }
}
