.timeSeriesButton {
  border-radius: 4px;
  // background-color: var(--gray-a2);
  padding: 4px;
  color: var(--color-text);
  // font-size: 1.25rem;
  // border: 1px solid var(--gray-a4);
  // position: relative;
  transition: all 0.15s ease-in-out;
  margin-right: 0.25rem;
}

.timeSeriesButton:hover {
  background-color: var(--gray-a3);
  color: var(--color-text);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);
}

.timeSeriesButton.active {
  background-color: var(--gray-a4);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.1);
  transform: translateY(1px);
  border-color: var(--gray-a6);
}

.expanding {
  overflow: hidden;
  display: block;
  column-span: 6;
  width: 100%;
  animation: expandHeight 0.3s ease-in-out forwards;
}

@keyframes expandHeight {
  from {
    height: 0;
  }
  to {
    height: 220px;
  }
}
