@import "../../styles/colors.scss";

.droparea {
  z-index: 910;
  position: relative;
  box-sizing: border-box;
  border: 2px solid transparent;
  overflow: hidden;
  width: 100%;
  height: 100%;
  text-align: center;

  .message {
    display: none;
    position: absolute;
    inset: 0;
    align-items: center;
    justify-content: center;
    padding: 0 4px;
    overflow: hidden;
    line-height: 1.3;
    font-size: 1.2em;
    color: $green;
  }
  .textlink {
    color: $primary-blue;
  }

  &:hover {
    //border: 1px dashed $darker-blue;
    .textlink {
      color: $darker-blue;
    }
  }
}
.droparea.dragging {
  background: rgba(255, 255, 255, 0.9);
  border-color: $green;
  border-style: dashed;

  .message {
    display: flex;
  }
}
