.sqlPreview {
  pre {
    padding-left: var(--space-5) !important;
  }

  pre,
  code {
    white-space: pre-wrap !important;
    overflow-wrap: anywhere !important;
    word-break: normal !important;
  }
}
