import React from "react";
import { NextPage } from "next";

const {{pascalCase pageName}}Page: NextPage = () => {
  return <h1>{{pascalCase pageName}}Page</h1>;
};

export default {{pascalCase pageName}}Page;
