// Copy of the progress-bar-striped class from Bootstrap
.progressBarStriped {
  background-image: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.15) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.15) 50%,
    rgba(255, 255, 255, 0.15) 75%,
    transparent 75%,
    transparent
  );
  background-size: 1rem 1rem;
}

// Rounded corners on first/last ProgressBar segments
.progressBarContainer > *:first-child .segmentWrapper > *:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.progressBarContainer > *:last-child .segmentWrapper > *:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.progressBarContainer
  > *:first-child:last-child
  .segmentWrapper
  > *:first-child:last-child {
  border-radius: 4px;
}
