@use "../../styles/variables";
@import "../../styles/colors.scss";

.sidebar {
  background-color: $dark-purple;
  width: variables.$sidebarwidth;
  flex-direction: column;
  display: flex;
  height: 100%;
  transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
  position: fixed;
  color: #fff;
  z-index: 1000;
  overflow: auto;
}
.sidebarlogo {
  padding: 8px 20px 8px;
  width: variables.$sidebarwidth;
  height: 60px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
.logo {
  width: 36px;
}
.logotext {
  width: 145px;
  margin-left: 8px;
  transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
}

@media (max-width: 1180px) {
  .sidebar {
    width: variables.$expandedwidth;
    left: -(variables.$expandedwidth);
  }
}
