@use "../../styles/variables";
@import "../../styles/colors.scss";

.sidebar {
  background-color: var(--color-landmark);
  width: variables.$sidebarwidth;
  flex-direction: column;
  display: flex;
  height: 100%;
  transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
  position: fixed;
  color: #fff;
  overflow: hidden;
  overflow-y: auto;
  z-index: 1000;
}
.sidebarlogo {
  padding: 8px 20px 8px;
  width: variables.$sidebarwidth;
  height: 56px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
.logo {
  width: 32px;
}
.logotext {
  width: 125px;
  margin-left: 4px;
  transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
}
.userlogo {
  max-width: 225px;
  max-height: 46px;
}
.closebutton {
  display: none !important;
}
.mainmenu {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding: 10px 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 32px;

  a {
    color: #fff;
  }
  ul {
    list-style-type: none;
    margin: 2px 0 0 0;
    padding: 0;
    .first {
      margin-top: 10px;
    }
  }
}

@media (max-width: 1180px) {
  .sidebar {
    width: variables.$expandedwidth;
    left: -(variables.$expandedwidth);
    padding-top: 60px;
    z-index: 1000;
  }
  .sidebaropen {
    left: 0;
  }
  .closebutton {
    position: absolute;
    top: variables.$topbarheight;
    right: 0;
    width: 40px !important;
    height: 40px !important;
    min-height: auto !important;
    padding: 0 !important;
    display: block !important;

    svg {
      display: inline-block;
      width: 36px;
      height: 36px;
      color: #fff;
    }
  }
}
