@import "../../styles/colors.scss";
$sidebarwidth: 240px;
$expandedwidth: 240px;
$collapsedSidebarwidth: 70px;
$topbarheight: 60px;

.link {
  display: block;
  transition: all 0.2s cubic-bezier(0.685, 0.0473, 0.346, 1);
  margin-bottom: 6px;
  border-radius: 4px;

  a {
    display: block;
    padding: 0px 6px 0px;
    transition: all 0.2s cubic-bezier(0.685, 0.0473, 0.346, 1);

    .icon {
      font-size: 1.5em;
      width: 28px;
      margin-right: 10px;
      margin-bottom: 2px;
    }

    span {
      text-align: center;
      vertical-align: middle;
      width: 40px;
      line-height: 20px;
      display: inline-block;
      margin-right: 16px;
    }

    img {
      max-width: 35px;
      max-height: 30px;
      color: #fff;
    }
  }

  &:hover {
    background-color: $violet-9-30;
    @supports (
      background-color: color-mix(in srgb, var(--violet-9) 30%, transparent)
    ) {
      background-color: color-mix(in srgb, var(--violet-9) 30%, transparent);
    }
    a {
      margin-left: 0px;
      text-decoration: none !important;
    }
    /*border-left: 2px solid #fff;*/
  }
  .chevron {
    transition: transform 0.3s;
  }
  &.expanded {
    .chevron {
      transform: rotate(90deg);
    }
  }
  &.selected {
    //background: scale-color($dark-purple, $lightness: +20%);
    background-color: var(--violet-9); //$highlight-purple;
    font-weight: 600;
    a {
      margin-left: 0px;
    }
  }
  &.submenusection {
    margin-bottom: 6px;
    background-color: inherit;
  }
  &.sublink {
    padding-left: 24px;
    margin-bottom: 6px;
    max-height: 40px;
    overflow-y: hidden;
    opacity: 1;
    transition: all 0.3s;

    &.selected {
      //background: scale-color($dark-purple, $lightness: +25%);
      background-color: $highlight-purple;
      a {
        margin-left: 0px;
      }
    }
    &:hover {
      background-color: $violet-9-30;
      @supports (
        background-color: color-mix(in srgb, var(--violet-9) 30%, transparent)
      ) {
        background-color: color-mix(in srgb, var(--violet-9) 30%, transparent);
      }
    }
    .icon {
      font-size: 1.3em;
      width: 28px;
      margin-right: 11px;
      margin-left: 0px;
      margin-bottom: 2px;
    }
    a {
      padding: 0 0 0 20px;
    }
    &.collapsed {
      max-height: 0px;
      opacity: 0;
      padding-bottom: 0;
      margin-bottom: 0;
    }
  }
}
.sublinks {
  margin-bottom: 0;
  overflow-y: hidden;
  max-height: 0;
  opacity: 0;
  transition:
    max-height 0.3s,
    opacity 0.2s,
    margin-bottom 0.3s;
}
.open {
  margin-bottom: 1em !important;
  max-height: 600px;
  opacity: 1;
}
.divider {
  margin-top: 3em;
}
.subdivider {
  margin-top: 1em;
}
.menuSection {
  font-size: 0.8em;
  color: $gray2;
  text-transform: uppercase;
  font-weight: 600;
  padding-left: 10px;
  margin-bottom: 5px;
  letter-spacing: 0.05em;
  line-height: 20px;
}
