@use "../../styles/colors.scss";

$sidebarwidth: 240px;
.topbar {
  position: fixed;
  top: 0;
  left: $sidebarwidth;
  right: 0;
  height: 56px;
  z-index: 945;
  transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
  background-color: var(--surface-background-color);
  border-bottom: 1px solid var(--border-color-alt);
}
.pagetitle {
  font-size: 18px;
  color: var(--text-color-main);
  font-weight: 600;
}
.mobilemenu {
  display: none;
  font-size: 24px;
  line-height: 24px;
}
.userinfo {
  &:hover {
    background: inherit;
  }
}
@media (max-width: 1180px) {
  .pagetitle {
    padding-left: 10px;
  }
  .mobilemenu {
    display: block;
  }
  .topbar {
    left: 0;
  }
}
