@use "../../styles/colors.scss";

$sidebarwidth: 240px;
.topbar {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: $sidebarwidth;
  right: 0;
  //height: 56px;
  height: 70px;
  z-index: 1010;
  background-color: var(--surface-background-color);
  border-bottom: 1px solid var(--border-color-300);
  padding: 0;
}
.guidedstepbar {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 56px;
  left: $sidebarwidth;
  right: 0;
  height: 56px;
  z-index: 995;
}
.pagetitle {
  font-size: 14px;
  line-height: 1.1;
  color: var(--text-color-main);
  font-weight: 600;
  flex: 1;
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  white-space: nowrap;
  vertical-align: middle;
}
.breadcrumblink {
  color: var(--text-color-primary);
  text-decoration: none;

  &:hover {
    color: var(--text-color-primary-hover);
    text-decoration: underline;
  }
}
.mobilemenu {
  display: none;
  font-size: 24px;
  line-height: 24px;
}
.userinfo {
  &:hover {
    background: inherit;
  }
}

.navbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 0 16px;
  @media (max-width: 520px) {
    padding: 0 8px;
  }
}
.siteagent {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 35px;
  padding: 0 16px;
  @media (max-width: 520px) {
    padding: 0 8px;
  }
  background-color: var(--background-highlight);
  box-shadow: 0 4px 4px -2px #00000008 inset;
  font-family: monospace;
  font-weight: 600;

  .siteagent_input {
    background-color: #00dd0018;
    box-shadow: 0 4px 4px -2px #fffa inset, 0 -2px 2px -2px #fffa inset;
    border-color: #00dd0050;
    font-size: 12px;
    width: 400px;
  }
}
.siteagent_results {
  position: fixed;
  top: 70px;
  right: 0;
  background: var(--alert-info-background);
  box-shadow: -2px 2px 6px #0002, 0 4px 4px -2px #00000008 inset;
  padding: 10px 20px;
  width: 550px;
  max-height: 300px;
  overflow-y: scroll;
}

.add-organization {
  hr {
    margin: 0.25em 0.75rem;
  }

  div {
    display: flex;
    justify-content: center;
    align-items: center;

    div {
      width: 1.5rem;
      display: flex;
      justify-content: center;
    }
  }

  img {
    height: 1em;
  }

  a {
    padding: 0.25rem 1.5rem 0.25rem 0rem;
  }
}

@media (max-width: 1180px) {
  .pagetitle {
    padding-left: 10px;
  }
  .mobilemenu {
    display: block;
  }
  .topbar {
    left: 0;
  }
}
