@import "../../styles/colors.scss";
$sidebarwidth: 240px;
.topbar {
  position: fixed;
  top: 0;
  left: $sidebarwidth;
  right: 0;
  height: 60px;
  z-index: 945;
  transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
  background-color: #fff;
  border-bottom: 1px solid #cacaca;
}
.pagetitle {
  padding-left: 5px;
  font-size: 18px;
  color: $main-black;
  font-weight: 600;
}
.mobilemenu {
  display: none;
  font-size: 24px;
}

@media (max-width: 1180px) {
  .mobilemenu {
    display: block;
  }
  .topbar {
    left: 0;
  }
}
