.dropdown {
  position: absolute;
  z-index: 100;
  background-color: var(--surface-background-color);
  width: calc(100% - 15px);
  box-shadow: -1px 2px 4px var(--table-row-hover-background-color);
  max-height: 200px;
  overflow-y: scroll;
}

.dropdown li {
  list-style: none;
  padding: 0.5rem;
  cursor: pointer;
}

.dropdownItem:hover {
  background-color: var(--table-row-hover-background-color);
  border-radius: 5px;
}
