.designer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #333;
  z-index: 99999;
  text-align: center;
}
.screenshotModalImage {
  max-width: 100%;
  max-height: 100%;
}
.screenshotPrompt {
  position: absolute;
  top: 96px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background: #333;
  overflow: hidden auto;

  img {
    max-width: 100%;
  }
}
.screenshotOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.01);
  cursor: crosshair;
  z-index: 99;

  div {
    position: absolute;
    border: 2px dashed #f00;
  }
}
.iframeHolder {
  height: 100%;
  padding-top: 96px;
  box-sizing: border-box;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}
.iframeError {
  position: absolute;
  top: 50%;
  margin-top: -150px;
  height: 300px;
  left: 0;
  right: 0;
  z-index: 1100;
  text-align: center;
}
.topBar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  z-index: 1100;

  img {
    height: 30px;
  }
}
.screenshotIcon {
  font-size: 2em;
}
.closeIcon {
  width: 25px;
  height: 25px;
  line-height: 25px;
  padding: 0;
  margin: 0;
  font-size: 1.3em;
  border-radius: 100px;
}
.subBar {
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  height: 36px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.3);
  z-index: 1090;
}
.breadcrumb {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  direction: rtl;
  text-align: left;
}
.panel {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 300px;
  max-height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.3);

  .closeIcon {
    position: absolute;
    top: 4px;
    right: 4px;
  }
}
