.metricDrilldownModalHeader {
  padding: var(--space-7) var(--space-7) 0;

  > div {
    width: 100%;
  }
}

.metricDrilldownModalBody {
  padding: 0 var(--space-7) var(--space-7);

  // FIXME: Ideally ResultsTable would have this style or a variation and not be overriden here
  :global(.experiment-results th.axis-col) {
    box-shadow: none;
  }

  :global(.results-group-row) {
    box-shadow: 0 0 0 1px var(--gray-a3);

    &:first-of-type {
      border-top-left-radius: var(--radius-3);
      border-top-right-radius: var(--radius-3);
    }
    &:last-of-type {
      border-bottom-left-radius: var(--radius-3);
      border-bottom-right-radius: var(--radius-3);
    }
  }

  :global(
    .experiment-results
      tbody
      tr:last-of-type:not(.slice-collapsed):not(.slice-expanded)
  ) {
    box-shadow: none;
  }

  :global(
    .experiment-results
      tbody
      tr:not(.results-label-row):not(.slice-header-row)
      td:not(.graph-cell):not(:last-child)
  ) {
    box-shadow: var(--gray-a3) -1px 0 inset;
  }

  :global(.experiment-results tbody tr:not(.slice-header-row)) {
    box-shadow: var(--gray-a3) 0 -1px inset;
  }
}
