$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;

$blue: #029dd1;
$darker-blue: #0047bd;
$indigo: #6610f2;
$purple: #4817a1;
$pink: #e83e8c;
$red: #dc3545;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #28a745;
$teal: #11b081;
$cyan: #17a2b8;
$second-blue: #267ba5;

// redesign colors:
$dark-blue: #050549;
$highlight-purple: #7c45ea;
$highlight-purple-light: lighten($highlight-purple, 20%);
$purple-tint: #a3a8c2;
$dark-purple2: #1c0555;
$main-black: #171221;
$primary-blue: #1d63ea;
$premium-yellow: #eca600;
$warning-orange: #cc7b0a;
$gray1: #52597a;
$gray2: #a3a8c2;
$gray3: #c2c5d6;
$gray4: #e0e2eb;
$gray5: #f0f1f5;
$gray6: #f6f7f9;

$main-background: #faf8ff;
$main-background-dark: #10172e;
$surface-background-dark: #212529;
$dark-purple: #391c6d;
$light-grey: #fafafa;
$light-green: #d2f2db;
$lighter-green: #e8f9ed;
$dark-green: #13692a;
$light-red: #ffcbc4;
$lighter-red: #faeeeb;
$dark-red: #540000;
$bg-impact: $blue;

$primary: $primary-blue;
$secondary: $gray-600;
$success: $green;
$info: $cyan;
$warning: $yellow;
$danger: $red;
$premium: $premium-yellow;
$light: $gray-100;
$dark: $gray-800;
$app-border: $gray-300;

$variant-null: var(--slate-10);
$variant-0: var(--blue-8);
$variant-1: var(--teal-10);
$variant-2: var(--orange-10);
$variant-3: var(--pink-10);
$variant-4: var(--amber-10);
$variant-5: var(--mint-10);
$variant-6: var(--lime-11);
$variant-7: var(--cyan-10);
$variant-8: var(--red-10);

$violet-9-30: rgba(123, 97, 219, 0.3);
