.rt-variant-ghost {
  margin: 0 !important;
  height: var(--base-button-height) !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  &:where(.rt-r-size-1) {
    padding-left: var(--space-2) !important;
    padding-right: var(--space-2) !important;
  }
  &:where(.rt-r-size-2) {
    padding-left: var(--space-3) !important;
    padding-right: var(--space-3) !important;
  }
  &:where(.rt-r-size-3) {
    padding-left: var(--space-4) !important;
    padding-right: var(--space-4) !important;
  }
  &:where(.rt-r-size-4) {
    padding-left: var(--space-5) !important;
    padding-right: var(--space-5) !important;
  }
}
