@use "colors";

@mixin light-theme {
  color-scheme: light;
  --text-color-enterprise: #{colors.$dark-blue};
  --background-color: #{colors.$main-background};
  --surface-background-color: #{colors.$white}; //rgba(255, 255, 255, 0.85);
  --surface-background-color-alt: #{darken(colors.$white, 3%)};
  --background-primary-light: #f3eff7;
  --background-highlight: rgba(156, 117, 235, 0.06);
  --table-row-hover-background-color: rgba(0, 0, 0, 0.075); // default Bootstrap
  --table-row-highlight-background-color: #{rgba(124, 69, 234, 0.06)};
  --table-list-background-color: var(--surface-background-color);

  --text-color-main: #{colors.$main-black};
  --text-color-table: #{colors.$gray-900};
  --text-color-th: #{colors.$gray1};
  --text-dark: #343a40; // default Bootstrap .text-dark
  --text-link-color: #007bff; // default Bootstrap
  --text-link-hover-color: #0056b3; // default Bootstrap
  --text-hover-color: #{colors.$black};
  --text-color-muted: #{colors.$gray-600};
  --text-color-on-bright: #{colors.$white};
  --text-color-primary: #{colors.$highlight-purple};
  --text-color-on-background-primary-light: #{colors.$dark-purple};
  --text-color-premium: #{colors.$premium};

  --form-input-group-background: #e9ecef;
  --form-input-group-color: #{colors.$gray-700};
  --form-multivalue-background-color: var(--slate-a3);
  --form-multivalue-text-color: var(--slate-12);
  --form-switch-background: #{colors.$gray-300};
  --form-switch-background-active: #{colors.$purple};

  --markdown-code-background: #f6f8fa;

  --alert-success-background: #d4edda;
  --alert-success-border-color: #c3e6cb;
  --alert-success-color: #155724;

  --alert-info-background: #d1ecf1;
  --alert-info-border-color: #bee5eb;
  --alert-info-color: #0c5460;

  --alert-info-purple-background: #7b45ea0d;
  --alert-info-purple-border-color: #7b45ea1a;
  --alert-info-purple-color: #7b45ea;

  --alert-warn-background: #fff3cd;
  --alert-warn-border-color: #ffeeba;
  --alert-warn-color: #856404;

  --alert-danger-background: rgba(248, 215, 218, 0.68);
  --alert-danger-border-color: #f5c6cb;
  --alert-danger-color: #721c24;

  --alert-premium-background-gradient-1: #fcf8ff;
  --alert-premium-background-gradient-2: #ece0ff;

  --get-started-background-inactive: #ede9fe;
  --get-started-background-gradient-1: #7b45eab2;
  --get-started-background-gradient-2: #7b45ea1a;
  --get-started-box-shadow: #05054920;
  --get-started-hover-text: #{colors.$white};

  --custom-markdown-border: #7b45ea40;

  --border-color-100: #e0e2eb;
  --border-color-200: #dee2e6;
  --border-color-300: #cacaca;

  --diff-removed-background: #ffeef0;
  --diff-removed-background-highlight: #fdb8c0;
  --diff-added-background: #e6ffed;
  --diff-added-background-highlight: #acf2bd;

  --win-background: #d4edda;
  --lose-background: #f8d7da;
  --warn-background: #fff3cd;

  --select-hover-background: #f2f7ff;

  --disabled-background: #eaeaea;
  --disabled-content: #b9bbc6;

  --bg-muted-yellow: #f5f2dc;

  --results-won: #{colors.$success};
  --results-lost: #{colors.$danger};
  --results-dnf: #{colors.$warning};
  --results-inconclusive: #{colors.$secondary};

  --status-running: #{colors.$info};
  --status-draft: #{colors.$warning};
  --status-stopped: #{colors.$secondary};

  --graph-color-1: #73d1f0;
  --graph-color-2: #7388f0;
  --graph-color-3: #ab73f0;
  --graph-color-4: #f073ee;
  --graph-color-5: #f08273;
  --graph-color-6: #dfbb6d;
  --graph-color-7: #a0e572;
  --graph-color-8: #72e1e5;
  --graph-color-9: #1637e6;
  --graph-color-10: #6216e6;
  --graph-color-11: #b916e6;
  --graph-color-12: #e616bc;
  --graph-color-13: #e6161d;
  --graph-color-14: #e67416;
  --graph-color-15: #e6ca16;
  --graph-color-16: #88e616;
  --graph-color-17: #16e6b5;
  --graph-color-18: #14b8ff;

  --header-revision-log: #ebe4ff;

  --callout-grey: #e8e8e8;

  --radio-button-fill: #6e56cf;
  --file-picker-browse: #{colors.$gray-600};

  --step-completed-background: #218358;
  --step-completed-color: #fbfefc;
  --step-color: #6550b9;
}

@mixin dark-theme {
  color-scheme: dark;
  --text-color-enterprise: #{colors.$white};
  --background-color: #{colors.$main-background-dark};
  --surface-background-color: #{colors.$surface-background-dark}; //rgba(0, 0, 0, 0.25);
  --surface-background-color-alt: #{lighten(
      colors.$surface-background-dark,
      4%
    )};
  --table-row-hover-background-color: #{rgba(colors.$gray2, 0.15)};
  --table-row-highlight-background-color: #{lighten(
      colors.$surface-background-dark,
      10%
    )};
  --table-list-background-color: var(--surface-background-color);
  --background-primary-light: #{darken(colors.$dark-purple, 13%)};
  --background-highlight: rgba(220, 204, 255, 0.04);

  --text-color-main: #{colors.$white};
  --text-color-table: #{lighten(colors.$gray2, 10%)};
  --text-color-th: #{colors.$gray6};
  --text-dark: #{colors.$gray6};
  --text-link-color: #{lighten(#007bff, 20%)};
  --text-link-hover-color: #{lighten(#007bff, 10%)};
  --text-hover-color: #{colors.$black};
  --text-color-muted: #{colors.$gray-500};
  --text-color-on-bright: #{colors.$black};
  --text-color-primary: #{colors.$highlight-purple-light};
  --text-color-on-background-primary-light: #{colors.$highlight-purple-light};
  --text-color-premium: #{lighten(colors.$premium, 15%)};

  --form-input-group-background: #{colors.$gray-800};
  --form-input-group-color: #{colors.$gray6};
  --form-multivalue-background-color: var(--slate-a3);
  --form-multivalue-text-color: var(--slate-12);
  --form-switch-background: #{colors.$gray-800};
  --form-switch-background-active: #{colors.$highlight-purple};

  --markdown-code-background: #05054920;

  --alert-success-background: #{darken(#155724, 8%)};
  --alert-success-border-color: #{darken(#155724, 0%)};
  --alert-success-color: #d4edda;

  --alert-info-background: #{darken(#0c5460, 8%)};
  --alert-info-border-color: #{darken(#0c5460, 0%)};
  --alert-info-color: #d1ecf1;

  --alert-info-purple-background: #7b45ea0d;
  --alert-info-purple-border-color: #7b45ea1a;
  --alert-info-purple-color: #7b45ea;

  --alert-warn-background: #{darken(#856404, 15%)};
  --alert-warn-border-color: #{darken(#856404, 8%)};
  --alert-warn-color: #fff3cd;

  --alert-danger-background: #{darken(#721c24, 8%)};
  --alert-danger-border-color: #{darken(#721c24, 0%)};
  --alert-danger-color: #f8d7da;

  --alert-premium-background-gradient-1: #5f5279;
  --alert-premium-background-gradient-2: #3e256e;

  --get-started-background-inactive: #2a2e31;
  --get-started-background-gradient-1: rgba(255, 255, 255, 0.2);
  --get-started-background-gradient-2: rgba(255, 255, 255, 0.2);
  --get-started-box-shadow: #05054920;
  --get-started-hover-text: #{colors.$white};

  --custom-markdown-border: #{colors.$highlight-purple-light};

  --border-color-100: #383838;
  --border-color-200: #323232;
  --border-color-300: #3b3b3b;

  --diff-removed-background: #{rgba(#721c24, 0.35)};
  --diff-removed-background-highlight: #721c24;
  --diff-added-background: #{rgba(#155724, 0.35)};
  --diff-added-background-highlight: #155724;

  --win-background: #0a4947;
  --lose-background: #4f1b1b;
  --warn-background: #505518;

  --select-hover-background: #{colors.$gray-800};

  --disabled-background: #3f3f3f;
  --disabled-content: #b9bbc6;

  --bg-muted-yellow: #4c4a44;

  --results-won: #{colors.$success};
  --results-lost: #{colors.$danger};
  --results-dnf: #{colors.$warning};
  --results-inconclusive: #{colors.$secondary};

  --status-running: #{colors.$info};
  --status-draft: #{colors.$warning};
  --status-stopped: #{colors.$secondary};

  --graph-color-1: #73d1f0;
  --graph-color-2: #7388f0;
  --graph-color-3: #ab73f0;
  --graph-color-4: #f073ee;
  --graph-color-5: #f08273;
  --graph-color-6: #dfbb6d;
  --graph-color-7: #a0e572;
  --graph-color-8: #72e1e5;
  --graph-color-9: #1637e6;
  --graph-color-10: #6216e6;
  --graph-color-11: #b916e6;
  --graph-color-12: #e616bc;
  --graph-color-13: #e6161d;
  --graph-color-14: #e67416;
  --graph-color-15: #e6ca16;
  --graph-color-16: #88e616;
  --graph-color-17: #16e6b5;
  --graph-color-18: #14b8ff;

  --header-revision-log: #33255b;

  --callout-grey: #2a2a2a;

  --radio-button-fill: #6e56cf;
  --file-picker-browse: #{colors.$gray-400};

  --step-completed-background: #3dd68c;
  --step-completed-color: #0e1512;
  --step-color: #baa7ff;
}

.light-theme {
  @include light-theme();
}

.dark-theme {
  @include dark-theme();
}

// OS default
:root:not(.dark-theme):not(.light-theme) {
  @media (prefers-color-scheme: light) {
    @include light-theme();
  }

  @media (prefers-color-scheme: dark) {
    @include dark-theme();
  }
}
