@use "colors";

@mixin light-theme {
  color-scheme: light;
  --background-color: #{colors.$main-background};
  --surface-background-color: #{colors.$white};
  --table-row-hover-background-color: rgba(0, 0, 0, 0.075); // default Bootstrap

  --text-color-main: #{colors.$main-black};
  --text-color-table: #{colors.$gray-900};
  --text-color-th: #{colors.$gray1};
  --text-dark: #343a40; // default Bootstrap .text-dark
  --text-link-color: #007bff; // default Bootstrap
  --text-link-hover-color: #0056b3; // default Bootstrap

  --border-color: #e0e2eb;
  --border-color-alt: #cacaca;
}

@mixin dark-theme {
  color-scheme: dark;
  --background-color: #{colors.$main-background-dark};
  --surface-background-color: #{colors.$surface-background-dark};
  --table-row-hover-background-color: #{rgba(colors.$gray2, 0.15)};

  --text-color-main: #{colors.$white};
  --text-color-table: #{lighten(colors.$gray2, 10%)};
  --text-color-th: #{colors.$gray6};
  --text-dark: #{colors.$gray6};
  --text-link-color: #{lighten(#007bff, 20%)};
  --text-link-hover-color: #{lighten(#007bff, 10%)};

  --border-color: #616161;
  --border-color-alt: #424242;
}

.theme--light {
  @include light-theme();
}

.theme--dark {
  @include dark-theme();
}

// OS default
:root:not(.theme--light):not(.theme--dark) {
  @media (prefers-color-scheme: light) {
    @include light-theme();
  }

  @media (prefers-color-scheme: dark) {
    @include dark-theme();
  }
}
