@import "../styles/colors.scss";

.statusBar {
  height: 4px;
  background-color: $highlight-purple;
  position: relative;
  top: 34px;
  z-index: 1;
  width: 80%;
}

.stepBubble {
  color: $highlight-purple;
  background-color: $white;
  font-weight: bold;
  border-radius: 50%;
  outline: 4px solid $highlight-purple;
  width: 43px;
  height: 43px;
  box-shadow: $gray-500 4px 4px 12px 0px;
  z-index: 3;
  box-sizing: border-box;
}
.completed {
  background-color: $highlight-purple;
  color: $white;
}

.selected {
  background-color: #e2ddf9;
  color: $highlight-purple;
}
