.staleIcon {
  color: var(--yellow-10);
  cursor: pointer;

  &:hover {
    color: var(--amber-10);
  }
}

.staleFadedIcon {
  color: var(--gray-9);
  opacity: 0.5;
  cursor: pointer;

  &:hover {
    opacity: 1;
  }
}
