.timeSeriesButton {
  border-radius: var(--radius-2);
  padding: var(--space-1);
  transition: all 0.15s ease-in-out;
  line-height: 100%;
}

.timeSeriesButton:hover {
  background-color: var(--violet-a4);
  color: var(--violet-a12);
}

.timeSeriesButton.active {
  background-color: var(--violet-a4);
}
