.titleGroup {
  .editBtn {
    opacity: 0;
    transition: opacity 150ms ease;
  }

  &:hover .editBtn {
    opacity: 1;
  }
}

.metricSelect {
  :global(.gb-select__menu) {
    width: 100% !important;
  }
  :global(.gb-select__option) {
    white-space: normal !important;
    word-break: break-word;
  }
}
