.dropdownwrap {
  border-radius: 4px;
}
.open {
  background-color: rgba(255, 255, 255, 0.2);
}
.dropdownmenu {
  background-color: var(--color-panel-solid);
  color: var(--text-color-main);
  box-shadow: 0px 5px 10px rgba(6, 6, 71, 0.075);
  z-index: 1000;
}
