@use "../../styles/colors.scss";

.codeHolder {
  margin: 0.5em 0;

  &.collapsible pre {
    transition: max-height 0.2s;
    max-height: 60em;
    overflow-y: scroll;
  }

  &.collapsed pre {
    max-height: 10em;
  }

  pre {
    margin: 0 !important;
  }
}

.actionButtons {
  border: 1px solid var(--slate-a4);
  border-bottom: none;
}

.message {
  padding: 2px 6px;
  background: colors.$highlight-purple;
  color: #fff;
  position: relative;
  margin-right: 10px;
  display: inline-block;
  border-radius: 3px;
  margin-top: 2px;
}

.arrow {
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -6px;
  border: 6px solid transparent;
  border-left: 6px solid colors.$highlight-purple;
}
