.wrapper {
  width: fit-content;
  position: relative;
}

.button {
  position: relative;
  background-color: var(--color-panel-solid);
  color: var(--text-color-main);
}

.buttonLeft {
  right: 50%;
}

.blurText {
  text-shadow: 0 0 5px var(--text-color-main);
  color: transparent;
}
