.wrapper {
  width: fit-content;
  position: relative;
}

.hideText {
  color: transparent;
  text-shadow: 0 0 5px #3b3b3b;
}

.button {
  position: relative;
  background-color: white;
}

.buttonLeft {
  right: 50%;
}
