@import "../../styles/colors.scss";

.ctaContainer {
  width: 33%;
  display: flex;
  justify-content: center;
  cursor: pointer;
  transition: 200ms all ease-in-out;
  &:hover {
    transform: scale(1.025);
  }
}

.ctaButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30rem;
  height: 18rem;
  border: 1px solid $highlight-purple;
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 1rem;
  text-align: center;
}

.ctaText {
  font-size: 1.2rem;
  color: $highlight-purple;
}
