@property --myColor1 {
  syntax: "<color>";
  initial-value: #ede9fe;
  inherits: false;
}

@property --myColor2 {
  syntax: "<color>";
  initial-value: #ede9fe;
  inherits: false;
}

.getStartedPage {
  hr {
    border-color: var(--border-color-100);
  }
}

.animatedCard {
  --myColor1: var(--get-started-background-inactive);
  --myColor2: var(--get-started-background-inactive);
  -webkit-transition: --myColor1 0.5s, --myColor2 0.5s;
  -ms-transition: --myColor1 0.5s, --myColor2 0.5s;
  transition: --myColor1 1s, --myColor2 1s;
  width: 415px;
  height: 254px;
  background: linear-gradient(var(--myColor1), var(--myColor2));
  border-color: var(--get-started-background-inactive);
  border-style: solid;
  border-radius: 6px;
  border-width: 1px;
  h2 {
    transition: 0.5s;
  }
  p {
    transition: 0.5s;
    color: var(--text-color-muted);
    font-weight: 500;
  }
  .imgActive {
    display: none;
  }
  &:hover {
    --myColor1: var(--get-started-background-gradient-1);
    --myColor2: var(--get-started-background-gradient-2);
    color: var(--get-started-hover-text);
    background: linear-gradient(var(--myColor1), var(--myColor2));
    box-shadow: 2px 2px 5px var(--get-started-box-shadow);
    text-decoration: none;
    p {
      color: rgba(var(--get-started-hover-text), 0.85);
    }
    .imgActive {
      display: inline;
      opacity: 100;
    }
    .imgInactive {
      display: none;
    }
  }
}

.animatedButton {
  width: 415px;
  height: 83px;
  background-color: var(--surface-background-color);
  border-color: var(--border-color-100);
  border-style: solid;
  border-radius: 6px;
  border-width: 1px;
  transition: box-shadow 0.5s;
  .arrowIcon {
    width: 35px;
    height: 35px;
    fill: var(--text-color-muted);
    transition: 1s;
  }
  .chartIcon {
    width: 35px;
    height: 35px;
    fill: var(--text-color-muted);
    transition: 1s;
  }
  #arrow-gradient {
    opacity: 0;
    transition: 3s;
  }
  .imgActive {
    display: none;
  }
  &:hover:not(.disabled) {
    transition: 0.5s;
    box-shadow: 1px 1px 10px var(--get-started-box-shadow);
    .arrowIcon {
      fill: url(#arrow-gradient);
    }
    .chartIcon {
      fill: url(#chart-gradient);
    }
    #arrow-gradient {
      transition: 1s;
      opacity: 1;
    }
    .imgActive {
      display: inline;
      opacity: 100;
    }
    .imgInactive {
      display: none;
    }
  }

  &.disabled {
    cursor: default;
    color: var(--text-color-muted);
    opacity: 0.8;
  }
}

#transp {
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(255, 255, 255, 0.5);
  width: 100%;
  height: 500px;
}

.workspaceSetupLink {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  &:hover:not(.disabled) {
    color: var(--text-color-muted);
    text-decoration: none;
  }

  &.disabled {
    cursor: default;
    color: var(--text-color-muted);
  }
}

#documentationSection {
  background: var(--surface-background-color);
  border-color: var(--border-color-100);
  border-width: 1px;
  border-style: solid;
  min-width: 250px;
  max-width: 250px;
  a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    &:hover {
      color: inherit;
      text-decoration: none;
    }
  }
  h6 {
    font-size: 12px;
  }
}
#featuredDocs {
  font-size: 15px;
  font-weight: 500;
}
#questions {
  font-size: 13px;
  font-weight: 500;
}
