.card {
  background-size: cover;
  cursor: pointer;
  object-fit: cover;
  position: relative;
  height: 100%;
  width: 100%;
}

.playTime {
  position: absolute;
  border-radius: 1rem;
  top: 1rem;
  right: 1rem;
  background-color: var(--color-background);
  color: var(--color-text);
  padding: 0.2rem 0.4rem;
}

.hoverBackground {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);

  .card:hover & {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.hoverText {
  background-color: white;
  padding: var(--space-2) var(--space-4);
  border-radius: var(--radius-6);
  color: #050549;
}
