@mixin pill($background, $foreground) {
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 100%;
  text-transform: uppercase;
  color: $foreground;
  background: $background;
  border-radius: 200px;
  padding: 0.125rem 0.5rem;
  margin-inline-start: 0.5rem;
}
