/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */
@use './components/admonition';
@use './components/markdown';
@use './components/code';
@use './components/menus';
@use './components/button-card';
@use './components/pill';
@use './components/toc';
@use './components/max-width-image';
//@use './components/navbar';

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #7817d3;
  --ifm-color-primary-dark: #6c15be;
  --ifm-color-primary-darker: #6614b3;
  --ifm-color-primary-darkest: #541094;
  --ifm-color-primary-light: #841be6;
  --ifm-color-primary-lighter: #8a26e7;
  --ifm-color-primary-lightest: #9b45eb;
  --ifm-navbar-link-color: #445b78;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  --ifm-alert-border-color: #8a26e7;
  --color-border: #0009321f;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
  --ifm-color-primary: #ba8cf2;
  --ifm-color-primary-dark: #a56aee;
  --ifm-color-primary-darker: #9b59ec;
  --ifm-color-primary-darkest: #7c25e6;
  --ifm-color-primary-light: #cfaef6;
  --ifm-color-primary-lighter: #d9bff8;
  --ifm-color-primary-lightest: #f8f3fe;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
  --ifm-navbar-link-color: #e7d6ff;
  --color-border: #d9edfe25;
}

html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-smoothing: antialiased;
}
