openapi: 3.1.0
info:
  version: 1.0.0
  title: GrowthBook REST API
  description: >
    GrowthBook offers a full REST API for interacting with the application.


    Request data can use either JSON or Form data encoding (with proper
    `Content-Type` headers). All response bodies are JSON-encoded.


    The API base URL for GrowthBook Cloud is `https://api.growthbook.io`. For
    self-hosted deployments, it is the same as your API_HOST environment
    variable (defaults to `http://localhost:3100`). The rest of these docs will
    assume you are using GrowthBook Cloud.


    ## Authentication


    We support both the HTTP Basic and Bearer authentication schemes for
    convenience.


    You first need to generate a new API Key in GrowthBook. Different keys have
    different permissions:


    - **Personal Access Tokens**: These are sensitive and provide the same level
    of access as the user has to an organization. These can be created by going
    to `Personal Access Tokens` under the your user menu.

    - **Secret Keys**: These are sensitive and provide the level of access for
    the role, which currently is either `admin` or `readonly`. Only Admins with
    the `manageApiKeys` permission can manage Secret Keys on behalf of an
    organization. These can be created by going to `Settings -> API Keys`


    If using HTTP Basic auth, pass the Secret Key as the username and leave the
    password blank (when using curl, add `:` at the end of the secret to
    indicate an empty password)


    ```bash

    curl https://api.growthbook.io/api/v1 \
      -u secret_abc123DEF456:
    ```


    If using Bearer auth, pass the Secret Key as the token:


    ```bash

    curl https://api.growthbook.io/api/v1 \

    -H "Authorization: Bearer secret_abc123DEF456"

    ```


    ## Errors


    The API may return the following error status codes:


    - **400** - Bad Request - Often due to a missing required parameter

    - **401** - Unauthorized - No valid API key provided

    - **402** - Request Failed - The parameters are valid, but the request
    failed

    - **403** - Forbidden - Provided API key does not have the required access

    - **404** - Not Found - Unknown API route or requested resource

    - **429** - Too Many Requests - You exceeded the rate limit of 60 requests
    per minute. Try again later.

    - **5XX** - Server Error - Something went wrong on GrowthBook's end (these
    are rare)


    The response body will be a JSON object with the following properties:


    - **message** - Information about the error
servers:
  - url: https://api.growthbook.io/api/v1
    description: GrowthBook Cloud
  - url: https://{domain}/api/v1
    description: Self-hosted GrowthBook
tags:
  - name: projects
    x-displayName: Projects
    description: Projects are used to organize your feature flags and experiments
  - name: environments
    x-displayName: Environments
    description: >-
      GrowthBook comes with one environment by default (production), but you can
      add as many as you need. When used with feature flags, you can
      enable/disable feature flags on a per-environment basis.
  - name: features
    x-displayName: Feature Flags
    description: Control your feature flags programatically
  - name: feature-revisions
    x-displayName: Feature Revisions
    description: >-
      Draft revisions for feature flags, including rules, scheduling, and
      approval workflows.


      These endpoints are in beta and are subject to change.
  - name: ramp-schedules
    x-displayName: Ramp Schedules
    description: >-
      Multi-step rollout schedules that gradually ramp feature rule changes over
      time, with support for interval, approval, and scheduled triggers.
  - name: data-sources
    x-displayName: Data Sources
    description: >-
      How GrowthBook connects and queries your data, including cached database
      schema metadata (information schemas) for tables and columns.
  - name: fact-tables
    x-displayName: Fact Tables
    description: Fact Tables describe the shape of your data warehouse tables
  - name: fact-metrics
    x-displayName: Fact Metrics
    description: Fact Metrics are metrics built on top of Fact Table definitions
  - name: metrics
    x-displayName: Metrics (legacy)
    description: Metrics used as goals and guardrails for experiments
  - name: experiments
    x-displayName: Experiments
    description: Experiments (A/B Tests)
  - name: namespaces
    x-displayName: Namespaces
    description: >-
      Namespaces partition your user population into buckets so that experiments
      using the same hash attribute do not overlap unintentionally. Each
      namespace defines a 0–1 range and individual experiments claim sub-ranges
      within it.
  - name: snapshots
    x-displayName: Experiment Snapshots
    description: Experiment Snapshots (the individual updates of an experiment)
  - name: dimensions
    x-displayName: Dimensions
    description: Dimensions used during experiment analysis
  - name: segments
    x-displayName: Segments
    description: Segments used during experiment analysis
  - name: sdk-connections
    x-displayName: SDK Connections
    description: Client keys and settings for connecting SDKs to a GrowthBook instance
  - name: visual-changesets
    x-displayName: Visual Changesets
    description: Groups of visual changes made by the visual editor to a single page
  - name: saved-groups
    x-displayName: Saved Groups
    description: >-
      Defined sets of attribute values which can be used with feature rules for
      targeting features at particular users.
  - name: organizations
    x-displayName: Organizations
    description: >-
      Organizations are used for multi-org deployments where different teams can
      run their own isolated feature flags and experiments. These endpoints are
      only via a super-admin's Personal Access Token.
  - name: members
    x-displayName: Members
    description: Members are users who have been invited to an organization.
  - name: code-references
    x-displayName: Code References
    description: >-
      Intended for use with our code reference CI utility,
      [`gb-find-code-refs`](https://github.com/growthbook/gb-find-code-refs).
  - name: archetypes
    x-displayName: Archetypes
    description: >-
      Archetypes allow you to simulate the result of targeting rules on pre-set
      user attributes
  - name: queries
    x-displayName: Queries
    description: Retrieve queries used in experiments to calculate results.
  - name: settings
    x-displayName: Settings
    description: Get the organization settings.
  - name: attributes
    x-displayName: Attributes
    description: Used when targeting feature flags and experiments.
  - name: usage
    x-displayName: Usage
    description: Usage information for metrics in experiments.
  - name: Dashboards
    x-displayName: Dashboards
    description: ''
  - name: CustomFields
    x-displayName: Custom Fields
    description: ''
  - name: MetricGroups
    x-displayName: Metric Groups
    description: ''
  - name: Teams
    x-displayName: Teams
    description: ''
  - name: ExperimentTemplates
    x-displayName: Experiment Templates
    description: ''
  - name: AnalyticsExplorations
    x-displayName: Analytics Explorations
    description: ''
  - name: RampScheduleTemplates
    x-displayName: Ramp Schedule Templates
    description: Reusable step configurations for ramp schedules.
  - name: AnalyticsExploration_model
    x-displayName: AnalyticsExploration
    description: <SchemaDefinition schemaRef="#/components/schemas/AnalyticsExploration" />
  - name: Archetype_model
    x-displayName: Archetype
    description: <SchemaDefinition schemaRef="#/components/schemas/Archetype" />
  - name: Attribute_model
    x-displayName: Attribute
    description: <SchemaDefinition schemaRef="#/components/schemas/Attribute" />
  - name: CodeRef_model
    x-displayName: CodeRef
    description: <SchemaDefinition schemaRef="#/components/schemas/CodeRef" />
  - name: CustomField_model
    x-displayName: CustomField
    description: <SchemaDefinition schemaRef="#/components/schemas/CustomField" />
  - name: Dashboard_model
    x-displayName: Dashboard
    description: <SchemaDefinition schemaRef="#/components/schemas/Dashboard" />
  - name: DataSource_model
    x-displayName: DataSource
    description: <SchemaDefinition schemaRef="#/components/schemas/DataSource" />
  - name: Dimension_model
    x-displayName: Dimension
    description: <SchemaDefinition schemaRef="#/components/schemas/Dimension" />
  - name: Environment_model
    x-displayName: Environment
    description: <SchemaDefinition schemaRef="#/components/schemas/Environment" />
  - name: Experiment_model
    x-displayName: Experiment
    description: <SchemaDefinition schemaRef="#/components/schemas/Experiment" />
  - name: ExperimentAnalysisSettings_model
    x-displayName: ExperimentAnalysisSettings
    description: >-
      <SchemaDefinition
      schemaRef="#/components/schemas/ExperimentAnalysisSettings" />
  - name: ExperimentDecisionFrameworkSettings_model
    x-displayName: ExperimentDecisionFrameworkSettings
    description: >-
      <SchemaDefinition
      schemaRef="#/components/schemas/ExperimentDecisionFrameworkSettings" />
  - name: ExperimentMetric_model
    x-displayName: ExperimentMetric
    description: <SchemaDefinition schemaRef="#/components/schemas/ExperimentMetric" />
  - name: ExperimentMetricOverrideEntry_model
    x-displayName: ExperimentMetricOverrideEntry
    description: >-
      <SchemaDefinition
      schemaRef="#/components/schemas/ExperimentMetricOverrideEntry" />
  - name: ExperimentResults_model
    x-displayName: ExperimentResults
    description: <SchemaDefinition schemaRef="#/components/schemas/ExperimentResults" />
  - name: ExperimentSnapshot_model
    x-displayName: ExperimentSnapshot
    description: <SchemaDefinition schemaRef="#/components/schemas/ExperimentSnapshot" />
  - name: ExperimentTemplate_model
    x-displayName: ExperimentTemplate
    description: <SchemaDefinition schemaRef="#/components/schemas/ExperimentTemplate" />
  - name: ExperimentWithEnhancedStatus_model
    x-displayName: ExperimentWithEnhancedStatus
    description: >-
      <SchemaDefinition
      schemaRef="#/components/schemas/ExperimentWithEnhancedStatus" />
  - name: FactMetric_model
    x-displayName: FactMetric
    description: <SchemaDefinition schemaRef="#/components/schemas/FactMetric" />
  - name: FactTable_model
    x-displayName: FactTable
    description: <SchemaDefinition schemaRef="#/components/schemas/FactTable" />
  - name: FactTableColumn_model
    x-displayName: FactTableColumn
    description: <SchemaDefinition schemaRef="#/components/schemas/FactTableColumn" />
  - name: FactTableFilter_model
    x-displayName: FactTableFilter
    description: <SchemaDefinition schemaRef="#/components/schemas/FactTableFilter" />
  - name: Feature_model
    x-displayName: Feature
    description: <SchemaDefinition schemaRef="#/components/schemas/Feature" />
  - name: FeatureBaseRule_model
    x-displayName: FeatureBaseRule
    description: <SchemaDefinition schemaRef="#/components/schemas/FeatureBaseRule" />
  - name: FeatureDefinition_model
    x-displayName: FeatureDefinition
    description: <SchemaDefinition schemaRef="#/components/schemas/FeatureDefinition" />
  - name: FeatureEnvironment_model
    x-displayName: FeatureEnvironment
    description: <SchemaDefinition schemaRef="#/components/schemas/FeatureEnvironment" />
  - name: FeatureExperimentRefRule_model
    x-displayName: FeatureExperimentRefRule
    description: >-
      <SchemaDefinition
      schemaRef="#/components/schemas/FeatureExperimentRefRule" />
  - name: FeatureExperimentRule_model
    x-displayName: FeatureExperimentRule
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/FeatureExperimentRule"
      />
  - name: FeatureForceRule_model
    x-displayName: FeatureForceRule
    description: <SchemaDefinition schemaRef="#/components/schemas/FeatureForceRule" />
  - name: FeatureRevision_model
    x-displayName: FeatureRevision
    description: <SchemaDefinition schemaRef="#/components/schemas/FeatureRevision" />
  - name: FeatureRolloutRule_model
    x-displayName: FeatureRolloutRule
    description: <SchemaDefinition schemaRef="#/components/schemas/FeatureRolloutRule" />
  - name: FeatureRule_model
    x-displayName: FeatureRule
    description: <SchemaDefinition schemaRef="#/components/schemas/FeatureRule" />
  - name: FeatureSafeRolloutRule_model
    x-displayName: FeatureSafeRolloutRule
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/FeatureSafeRolloutRule"
      />
  - name: FeatureWithRevisions_model
    x-displayName: FeatureWithRevisions
    description: <SchemaDefinition schemaRef="#/components/schemas/FeatureWithRevisions" />
  - name: InformationSchema_model
    x-displayName: InformationSchema
    description: <SchemaDefinition schemaRef="#/components/schemas/InformationSchema" />
  - name: InformationSchemaTable_model
    x-displayName: InformationSchemaTable
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/InformationSchemaTable"
      />
  - name: LookbackOverride_model
    x-displayName: LookbackOverride
    description: <SchemaDefinition schemaRef="#/components/schemas/LookbackOverride" />
  - name: Member_model
    x-displayName: Member
    description: <SchemaDefinition schemaRef="#/components/schemas/Member" />
  - name: Metric_model
    x-displayName: Metric
    description: <SchemaDefinition schemaRef="#/components/schemas/Metric" />
  - name: MetricAnalysis_model
    x-displayName: MetricAnalysis
    description: <SchemaDefinition schemaRef="#/components/schemas/MetricAnalysis" />
  - name: MetricGroup_model
    x-displayName: MetricGroup
    description: <SchemaDefinition schemaRef="#/components/schemas/MetricGroup" />
  - name: MetricUsage_model
    x-displayName: MetricUsage
    description: <SchemaDefinition schemaRef="#/components/schemas/MetricUsage" />
  - name: Namespace_model
    x-displayName: Namespace
    description: <SchemaDefinition schemaRef="#/components/schemas/Namespace" />
  - name: NamespaceExperimentMember_model
    x-displayName: NamespaceExperimentMember
    description: >-
      <SchemaDefinition
      schemaRef="#/components/schemas/NamespaceExperimentMember" />
  - name: Organization_model
    x-displayName: Organization
    description: <SchemaDefinition schemaRef="#/components/schemas/Organization" />
  - name: PaginationFields_model
    x-displayName: PaginationFields
    description: <SchemaDefinition schemaRef="#/components/schemas/PaginationFields" />
  - name: Project_model
    x-displayName: Project
    description: <SchemaDefinition schemaRef="#/components/schemas/Project" />
  - name: Query_model
    x-displayName: Query
    description: <SchemaDefinition schemaRef="#/components/schemas/Query" />
  - name: RampSchedule_model
    x-displayName: RampSchedule
    description: <SchemaDefinition schemaRef="#/components/schemas/RampSchedule" />
  - name: RampScheduleTemplate_model
    x-displayName: RampScheduleTemplate
    description: <SchemaDefinition schemaRef="#/components/schemas/RampScheduleTemplate" />
  - name: SavedGroup_model
    x-displayName: SavedGroup
    description: <SchemaDefinition schemaRef="#/components/schemas/SavedGroup" />
  - name: ScheduleRule_model
    x-displayName: ScheduleRule
    description: <SchemaDefinition schemaRef="#/components/schemas/ScheduleRule" />
  - name: SdkConnection_model
    x-displayName: SdkConnection
    description: <SchemaDefinition schemaRef="#/components/schemas/SdkConnection" />
  - name: Segment_model
    x-displayName: Segment
    description: <SchemaDefinition schemaRef="#/components/schemas/Segment" />
  - name: Settings_model
    x-displayName: Settings
    description: <SchemaDefinition schemaRef="#/components/schemas/Settings" />
  - name: Team_model
    x-displayName: Team
    description: <SchemaDefinition schemaRef="#/components/schemas/Team" />
  - name: VisualChange_model
    x-displayName: VisualChange
    description: <SchemaDefinition schemaRef="#/components/schemas/VisualChange" />
  - name: VisualChangeset_model
    x-displayName: VisualChangeset
    description: <SchemaDefinition schemaRef="#/components/schemas/VisualChangeset" />
security:
  - bearerAuth: []
  - basicAuth: []
paths:
  /features:
    get:
      operationId: listFeatures
      summary: Get all features
      description: >
        Returns features with pagination. The skipPagination query parameter is

        honored only when API_ALLOW_SKIP_PAGINATION is set (self-hosted
        deployments).
      tags:
        - features
      parameters:
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/projectId'
        - $ref: '#/components/parameters/clientKey'
        - $ref: '#/components/parameters/skipPagination'
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    properties:
                      features:
                        type: array
                        items:
                          $ref: '#/components/schemas/Feature'
                    required:
                      - features
                    additionalProperties: false
                  - $ref: '#/components/schemas/PaginationFields'
      x-codeSamples:
        - lang: cURL
          source: |-
            curl -X GET 'https://api.growthbook.io/api/v1/features' \
              -H 'Authorization: Bearer YOUR_API_KEY'
    post:
      operationId: postFeature
      summary: Create a single feature
      tags:
        - features
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  description: >-
                    A unique key name for the feature. Feature keys can only
                    include letters, numbers, hyphens, and underscores.
                  type: string
                  minLength: 1
                archived:
                  type: boolean
                description:
                  description: Description of the feature
                  type: string
                owner:
                  description: >-
                    The userId or email address of the owner. If an email
                    address is provided, it will be used to look up the userId
                    of the matching organization member. If an ID is provided,
                    it will be validated as existing in the organization.
                  type: string
                project:
                  description: An associated project ID
                  type: string
                valueType:
                  description: The data type of the feature payload. Boolean by default.
                  type: string
                  enum:
                    - boolean
                    - string
                    - number
                    - json
                defaultValue:
                  description: >-
                    Default value when feature is enabled. Type must match
                    `valueType`.
                  type: string
                tags:
                  description: List of associated tags
                  type: array
                  items:
                    type: string
                environments:
                  description: >-
                    A dictionary of environments that are enabled for this
                    feature. Keys supply the names of environments. Environments
                    belong to organization and are not specified will be
                    disabled by default.
                  type: object
                  propertyNames:
                    type: string
                  additionalProperties:
                    type: object
                    properties:
                      enabled:
                        type: boolean
                      rules:
                        type: array
                        items:
                          anyOf:
                            - type: object
                              properties:
                                description:
                                  type: string
                                condition:
                                  description: Applied to everyone by default.
                                  type: string
                                savedGroupTargeting:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      matchType:
                                        type: string
                                        enum:
                                          - all
                                          - any
                                          - none
                                      savedGroups:
                                        type: array
                                        items:
                                          type: string
                                    required:
                                      - matchType
                                      - savedGroups
                                    additionalProperties: false
                                prerequisites:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      id:
                                        description: Feature ID
                                        type: string
                                      condition:
                                        type: string
                                    required:
                                      - id
                                      - condition
                                    additionalProperties: false
                                scheduleRules:
                                  type: array
                                  items:
                                    $ref: '#/components/schemas/ScheduleRule'
                                id:
                                  type: string
                                enabled:
                                  description: Enabled by default
                                  type: boolean
                                type:
                                  type: string
                                  const: force
                                value:
                                  type: string
                              required:
                                - type
                                - value
                              additionalProperties: false
                            - type: object
                              properties:
                                description:
                                  type: string
                                condition:
                                  description: Applied to everyone by default.
                                  type: string
                                savedGroupTargeting:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      matchType:
                                        type: string
                                        enum:
                                          - all
                                          - any
                                          - none
                                      savedGroups:
                                        type: array
                                        items:
                                          type: string
                                    required:
                                      - matchType
                                      - savedGroups
                                    additionalProperties: false
                                prerequisites:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      id:
                                        description: Feature ID
                                        type: string
                                      condition:
                                        type: string
                                    required:
                                      - id
                                      - condition
                                    additionalProperties: false
                                scheduleRules:
                                  type: array
                                  items:
                                    $ref: '#/components/schemas/ScheduleRule'
                                id:
                                  type: string
                                enabled:
                                  description: Enabled by default
                                  type: boolean
                                type:
                                  type: string
                                  const: rollout
                                value:
                                  type: string
                                coverage:
                                  description: >-
                                    Percent of traffic included in this
                                    experiment. Users not included in the
                                    experiment will skip this rule.
                                  type: number
                                hashAttribute:
                                  type: string
                              required:
                                - type
                                - value
                                - coverage
                                - hashAttribute
                              additionalProperties: false
                            - type: object
                              properties:
                                description:
                                  type: string
                                id:
                                  type: string
                                enabled:
                                  description: Enabled by default
                                  type: boolean
                                type:
                                  type: string
                                  const: experiment-ref
                                condition:
                                  type: string
                                savedGroupTargeting:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      matchType:
                                        type: string
                                        enum:
                                          - all
                                          - any
                                          - none
                                      savedGroups:
                                        type: array
                                        items:
                                          type: string
                                    required:
                                      - matchType
                                      - savedGroups
                                    additionalProperties: false
                                prerequisites:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      id:
                                        description: Feature ID
                                        type: string
                                      condition:
                                        type: string
                                    required:
                                      - id
                                      - condition
                                    additionalProperties: false
                                scheduleRules:
                                  type: array
                                  items:
                                    $ref: '#/components/schemas/ScheduleRule'
                                variations:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      value:
                                        type: string
                                      variationId:
                                        type: string
                                    required:
                                      - value
                                      - variationId
                                    additionalProperties: false
                                experimentId:
                                  type: string
                              required:
                                - type
                                - variations
                                - experimentId
                              additionalProperties: false
                            - type: object
                              properties:
                                description:
                                  type: string
                                condition:
                                  type: string
                                id:
                                  type: string
                                enabled:
                                  description: Enabled by default
                                  type: boolean
                                type:
                                  type: string
                                  const: experiment
                                trackingKey:
                                  type: string
                                hashAttribute:
                                  type: string
                                fallbackAttribute:
                                  type: string
                                disableStickyBucketing:
                                  type: boolean
                                bucketVersion:
                                  type: number
                                minBucketVersion:
                                  type: number
                                namespace:
                                  type: object
                                  properties:
                                    enabled:
                                      type: boolean
                                    name:
                                      type: string
                                    range:
                                      minItems: 2
                                      maxItems: 2
                                      type: array
                                      items:
                                        type: number
                                  required:
                                    - enabled
                                    - name
                                    - range
                                  additionalProperties: false
                                coverage:
                                  type: number
                                prerequisites:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      id:
                                        description: Feature ID
                                        type: string
                                      condition:
                                        type: string
                                    required:
                                      - id
                                      - condition
                                    additionalProperties: false
                                scheduleRules:
                                  type: array
                                  items:
                                    $ref: '#/components/schemas/ScheduleRule'
                                values:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      value:
                                        type: string
                                      weight:
                                        type: number
                                      name:
                                        type: string
                                    required:
                                      - value
                                      - weight
                                    additionalProperties: false
                                value:
                                  deprecated: true
                                  description: >-
                                    Support passing values under the value key
                                    as that was the original spec for
                                    FeatureExperimentRules
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      value:
                                        type: string
                                      weight:
                                        type: number
                                      name:
                                        type: string
                                    required:
                                      - value
                                      - weight
                                    additionalProperties: false
                              required:
                                - condition
                                - type
                              additionalProperties: false
                      definition:
                        description: >-
                          A JSON stringified
                          [FeatureDefinition](#tag/FeatureDefinition_model)
                        type: string
                      draft:
                        description: Use to write draft changes without publishing them.
                        type: object
                        properties:
                          enabled:
                            type: boolean
                          rules:
                            type: array
                            items:
                              anyOf:
                                - type: object
                                  properties:
                                    description:
                                      type: string
                                    condition:
                                      description: Applied to everyone by default.
                                      type: string
                                    savedGroupTargeting:
                                      type: array
                                      items:
                                        type: object
                                        properties:
                                          matchType:
                                            type: string
                                            enum:
                                              - all
                                              - any
                                              - none
                                          savedGroups:
                                            type: array
                                            items:
                                              type: string
                                        required:
                                          - matchType
                                          - savedGroups
                                        additionalProperties: false
                                    prerequisites:
                                      type: array
                                      items:
                                        type: object
                                        properties:
                                          id:
                                            description: Feature ID
                                            type: string
                                          condition:
                                            type: string
                                        required:
                                          - id
                                          - condition
                                        additionalProperties: false
                                    scheduleRules:
                                      type: array
                                      items:
                                        $ref: '#/components/schemas/ScheduleRule'
                                    id:
                                      type: string
                                    enabled:
                                      description: Enabled by default
                                      type: boolean
                                    type:
                                      type: string
                                      const: force
                                    value:
                                      type: string
                                  required:
                                    - type
                                    - value
                                  additionalProperties: false
                                - type: object
                                  properties:
                                    description:
                                      type: string
                                    condition:
                                      description: Applied to everyone by default.
                                      type: string
                                    savedGroupTargeting:
                                      type: array
                                      items:
                                        type: object
                                        properties:
                                          matchType:
                                            type: string
                                            enum:
                                              - all
                                              - any
                                              - none
                                          savedGroups:
                                            type: array
                                            items:
                                              type: string
                                        required:
                                          - matchType
                                          - savedGroups
                                        additionalProperties: false
                                    prerequisites:
                                      type: array
                                      items:
                                        type: object
                                        properties:
                                          id:
                                            description: Feature ID
                                            type: string
                                          condition:
                                            type: string
                                        required:
                                          - id
                                          - condition
                                        additionalProperties: false
                                    scheduleRules:
                                      type: array
                                      items:
                                        $ref: '#/components/schemas/ScheduleRule'
                                    id:
                                      type: string
                                    enabled:
                                      description: Enabled by default
                                      type: boolean
                                    type:
                                      type: string
                                      const: rollout
                                    value:
                                      type: string
                                    coverage:
                                      description: >-
                                        Percent of traffic included in this
                                        experiment. Users not included in the
                                        experiment will skip this rule.
                                      type: number
                                    hashAttribute:
                                      type: string
                                  required:
                                    - type
                                    - value
                                    - coverage
                                    - hashAttribute
                                  additionalProperties: false
                                - type: object
                                  properties:
                                    description:
                                      type: string
                                    id:
                                      type: string
                                    enabled:
                                      description: Enabled by default
                                      type: boolean
                                    type:
                                      type: string
                                      const: experiment-ref
                                    condition:
                                      type: string
                                    savedGroupTargeting:
                                      type: array
                                      items:
                                        type: object
                                        properties:
                                          matchType:
                                            type: string
                                            enum:
                                              - all
                                              - any
                                              - none
                                          savedGroups:
                                            type: array
                                            items:
                                              type: string
                                        required:
                                          - matchType
                                          - savedGroups
                                        additionalProperties: false
                                    prerequisites:
                                      type: array
                                      items:
                                        type: object
                                        properties:
                                          id:
                                            description: Feature ID
                                            type: string
                                          condition:
                                            type: string
                                        required:
                                          - id
                                          - condition
                                        additionalProperties: false
                                    scheduleRules:
                                      type: array
                                      items:
                                        $ref: '#/components/schemas/ScheduleRule'
                                    variations:
                                      type: array
                                      items:
                                        type: object
                                        properties:
                                          value:
                                            type: string
                                          variationId:
                                            type: string
                                        required:
                                          - value
                                          - variationId
                                        additionalProperties: false
                                    experimentId:
                                      type: string
                                  required:
                                    - type
                                    - variations
                                    - experimentId
                                  additionalProperties: false
                                - type: object
                                  properties:
                                    description:
                                      type: string
                                    condition:
                                      type: string
                                    id:
                                      type: string
                                    enabled:
                                      description: Enabled by default
                                      type: boolean
                                    type:
                                      type: string
                                      const: experiment
                                    trackingKey:
                                      type: string
                                    hashAttribute:
                                      type: string
                                    fallbackAttribute:
                                      type: string
                                    disableStickyBucketing:
                                      type: boolean
                                    bucketVersion:
                                      type: number
                                    minBucketVersion:
                                      type: number
                                    namespace:
                                      type: object
                                      properties:
                                        enabled:
                                          type: boolean
                                        name:
                                          type: string
                                        range:
                                          minItems: 2
                                          maxItems: 2
                                          type: array
                                          items:
                                            type: number
                                      required:
                                        - enabled
                                        - name
                                        - range
                                      additionalProperties: false
                                    coverage:
                                      type: number
                                    prerequisites:
                                      type: array
                                      items:
                                        type: object
                                        properties:
                                          id:
                                            description: Feature ID
                                            type: string
                                          condition:
                                            type: string
                                        required:
                                          - id
                                          - condition
                                        additionalProperties: false
                                    scheduleRules:
                                      type: array
                                      items:
                                        $ref: '#/components/schemas/ScheduleRule'
                                    values:
                                      type: array
                                      items:
                                        type: object
                                        properties:
                                          value:
                                            type: string
                                          weight:
                                            type: number
                                          name:
                                            type: string
                                        required:
                                          - value
                                          - weight
                                        additionalProperties: false
                                    value:
                                      deprecated: true
                                      description: >-
                                        Support passing values under the value
                                        key as that was the original spec for
                                        FeatureExperimentRules
                                      type: array
                                      items:
                                        type: object
                                        properties:
                                          value:
                                            type: string
                                          weight:
                                            type: number
                                          name:
                                            type: string
                                        required:
                                          - value
                                          - weight
                                        additionalProperties: false
                                  required:
                                    - condition
                                    - type
                                  additionalProperties: false
                          definition:
                            description: >-
                              A JSON stringified
                              [FeatureDefinition](#tag/FeatureDefinition_model)
                            type: string
                        required:
                          - rules
                        additionalProperties: false
                    required:
                      - enabled
                      - rules
                    additionalProperties: false
                prerequisites:
                  description: Feature IDs. Each feature must evaluate to `true`
                  type: array
                  items:
                    type: string
                jsonSchema:
                  description: >-
                    Use JSON schema to validate the payload of a JSON-type
                    feature value (enterprise only).
                  type: string
                customFields:
                  type: object
                  propertyNames:
                    type: string
                  additionalProperties:
                    type: string
              required:
                - id
                - owner
                - valueType
                - defaultValue
              additionalProperties: false
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  feature:
                    $ref: '#/components/schemas/Feature'
                required:
                  - feature
                additionalProperties: false
      x-codeSamples:
        - lang: cURL
          source: |-
            curl -X POST 'https://api.growthbook.io/api/v1/features' \
              -H 'Authorization: Bearer YOUR_API_KEY'
  /features/{id}:
    get:
      operationId: getFeature
      summary: Get a single feature
      tags:
        - features
      parameters:
        - $ref: '#/components/parameters/id'
        - $ref: '#/components/parameters/withRevisions'
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  feature:
                    $ref: '#/components/schemas/FeatureWithRevisions'
                required:
                  - feature
                additionalProperties: false
      x-codeSamples:
        - lang: cURL
          source: |-
            curl -X GET 'https://api.growthbook.io/api/v1/features/abc123' \
              -H 'Authorization: Bearer YOUR_API_KEY'
    post:
      operationId: updateFeature
      summary: Partially update a feature
      description: >
        Updates any combination of a feature's metadata (description, owner,
        tags, project), default value, environment settings (rules, kill
        switches, enabled state), prerequisites, holdout assignment, or JSON
        schema validation. All provided fields are merged into the existing
        feature and the result is immediately published as a new revision.


        Returns 403 if the API key lacks permission or if approval rules are
        enabled for an affected environment and the org setting "REST API always
        bypasses approval requirements" is off.
      tags:
        - features
      parameters:
        - $ref: '#/components/parameters/id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                description:
                  description: Description of the feature
                  type: string
                archived:
                  type: boolean
                project:
                  description: An associated project ID
                  type: string
                owner:
                  description: >-
                    The userId or email address of the owner. If an email
                    address is provided, it will be used to look up the userId
                    of the matching organization member. If an ID is provided,
                    it will be validated as existing in the organization.
                  type: string
                defaultValue:
                  type: string
                tags:
                  description: >-
                    List of associated tags. Will override tags completely with
                    submitted list
                  type: array
                  items:
                    type: string
                environments:
                  type: object
                  propertyNames:
                    type: string
                  additionalProperties:
                    type: object
                    properties:
                      enabled:
                        type: boolean
                      rules:
                        type: array
                        items:
                          anyOf:
                            - type: object
                              properties:
                                description:
                                  type: string
                                condition:
                                  description: Applied to everyone by default.
                                  type: string
                                savedGroupTargeting:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      matchType:
                                        type: string
                                        enum:
                                          - all
                                          - any
                                          - none
                                      savedGroups:
                                        type: array
                                        items:
                                          type: string
                                    required:
                                      - matchType
                                      - savedGroups
                                    additionalProperties: false
                                prerequisites:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      id:
                                        description: Feature ID
                                        type: string
                                      condition:
                                        type: string
                                    required:
                                      - id
                                      - condition
                                    additionalProperties: false
                                scheduleRules:
                                  type: array
                                  items:
                                    $ref: '#/components/schemas/ScheduleRule'
                                id:
                                  type: string
                                enabled:
                                  description: Enabled by default
                                  type: boolean
                                type:
                                  type: string
                                  const: force
                                value:
                                  type: string
                              required:
                                - type
                                - value
                              additionalProperties: false
                            - type: object
                              properties:
                                description:
                                  type: string
                                condition:
                                  description: Applied to everyone by default.
                                  type: string
                                savedGroupTargeting:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      matchType:
                                        type: string
                                        enum:
                                          - all
                                          - any
                                          - none
                                      savedGroups:
                                        type: array
                                        items:
                                          type: string
                                    required:
                                      - matchType
                                      - savedGroups
                                    additionalProperties: false
                                prerequisites:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      id:
                                        description: Feature ID
                                        type: string
                                      condition:
                                        type: string
                                    required:
                                      - id
                                      - condition
                                    additionalProperties: false
                                scheduleRules:
                                  type: array
                                  items:
                                    $ref: '#/components/schemas/ScheduleRule'
                                id:
                                  type: string
                                enabled:
                                  description: Enabled by default
                                  type: boolean
                                type:
                                  type: string
                                  const: rollout
                                value:
                                  type: string
                                coverage:
                                  description: >-
                                    Percent of traffic included in this
                                    experiment. Users not included in the
                                    experiment will skip this rule.
                                  type: number
                                hashAttribute:
                                  type: string
                              required:
                                - type
                                - value
                                - coverage
                                - hashAttribute
                              additionalProperties: false
                            - type: object
                              properties:
                                description:
                                  type: string
                                id:
                                  type: string
                                enabled:
                                  description: Enabled by default
                                  type: boolean
                                type:
                                  type: string
                                  const: experiment-ref
                                condition:
                                  type: string
                                savedGroupTargeting:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      matchType:
                                        type: string
                                        enum:
                                          - all
                                          - any
                                          - none
                                      savedGroups:
                                        type: array
                                        items:
                                          type: string
                                    required:
                                      - matchType
                                      - savedGroups
                                    additionalProperties: false
                                prerequisites:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      id:
                                        description: Feature ID
                                        type: string
                                      condition:
                                        type: string
                                    required:
                                      - id
                                      - condition
                                    additionalProperties: false
                                scheduleRules:
                                  type: array
                                  items:
                                    $ref: '#/components/schemas/ScheduleRule'
                                variations:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      value:
                                        type: string
                                      variationId:
                                        type: string
                                    required:
                                      - value
                                      - variationId
                                    additionalProperties: false
                                experimentId:
                                  type: string
                              required:
                                - type
                                - variations
                                - experimentId
                              additionalProperties: false
                            - type: object
                              properties:
                                description:
                                  type: string
                                condition:
                                  type: string
                                id:
                                  type: string
                                enabled:
                                  description: Enabled by default
                                  type: boolean
                                type:
                                  type: string
                                  const: experiment
                                trackingKey:
                                  type: string
                                hashAttribute:
                                  type: string
                                fallbackAttribute:
                                  type: string
                                disableStickyBucketing:
                                  type: boolean
                                bucketVersion:
                                  type: number
                                minBucketVersion:
                                  type: number
                                namespace:
                                  type: object
                                  properties:
                                    enabled:
                                      type: boolean
                                    name:
                                      type: string
                                    range:
                                      minItems: 2
                                      maxItems: 2
                                      type: array
                                      items:
                                        type: number
                                  required:
                                    - enabled
                                    - name
                                    - range
                                  additionalProperties: false
                                coverage:
                                  type: number
                                prerequisites:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      id:
                                        description: Feature ID
                                        type: string
                                      condition:
                                        type: string
                                    required:
                                      - id
                                      - condition
                                    additionalProperties: false
                                scheduleRules:
                                  type: array
                                  items:
                                    $ref: '#/components/schemas/ScheduleRule'
                                values:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      value:
                                        type: string
                                      weight:
                                        type: number
                                      name:
                                        type: string
                                    required:
                                      - value
                                      - weight
                                    additionalProperties: false
                                value:
                                  deprecated: true
                                  description: >-
                                    Support passing values under the value key
                                    as that was the original spec for
                                    FeatureExperimentRules
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      value:
                                        type: string
                                      weight:
                                        type: number
                                      name:
                                        type: string
                                    required:
                                      - value
                                      - weight
                                    additionalProperties: false
                              required:
                                - condition
                                - type
                              additionalProperties: false
                      definition:
                        description: >-
                          A JSON stringified
                          [FeatureDefinition](#tag/FeatureDefinition_model)
                        type: string
                      draft:
                        description: Use to write draft changes without publishing them.
                        type: object
                        properties:
                          enabled:
                            type: boolean
                          rules:
                            type: array
                            items:
                              anyOf:
                                - type: object
                                  properties:
                                    description:
                                      type: string
                                    condition:
                                      description: Applied to everyone by default.
                                      type: string
                                    savedGroupTargeting:
                                      type: array
                                      items:
                                        type: object
                                        properties:
                                          matchType:
                                            type: string
                                            enum:
                                              - all
                                              - any
                                              - none
                                          savedGroups:
                                            type: array
                                            items:
                                              type: string
                                        required:
                                          - matchType
                                          - savedGroups
                                        additionalProperties: false
                                    prerequisites:
                                      type: array
                                      items:
                                        type: object
                                        properties:
                                          id:
                                            description: Feature ID
                                            type: string
                                          condition:
                                            type: string
                                        required:
                                          - id
                                          - condition
                                        additionalProperties: false
                                    scheduleRules:
                                      type: array
                                      items:
                                        $ref: '#/components/schemas/ScheduleRule'
                                    id:
                                      type: string
                                    enabled:
                                      description: Enabled by default
                                      type: boolean
                                    type:
                                      type: string
                                      const: force
                                    value:
                                      type: string
                                  required:
                                    - type
                                    - value
                                  additionalProperties: false
                                - type: object
                                  properties:
                                    description:
                                      type: string
                                    condition:
                                      description: Applied to everyone by default.
                                      type: string
                                    savedGroupTargeting:
                                      type: array
                                      items:
                                        type: object
                                        properties:
                                          matchType:
                                            type: string
                                            enum:
                                              - all
                                              - any
                                              - none
                                          savedGroups:
                                            type: array
                                            items:
                                              type: string
                                        required:
                                          - matchType
                                          - savedGroups
                                        additionalProperties: false
                                    prerequisites:
                                      type: array
                                      items:
                                        type: object
                                        properties:
                                          id:
                                            description: Feature ID
                                            type: string
                                          condition:
                                            type: string
                                        required:
                                          - id
                                          - condition
                                        additionalProperties: false
                                    scheduleRules:
                                      type: array
                                      items:
                                        $ref: '#/components/schemas/ScheduleRule'
                                    id:
                                      type: string
                                    enabled:
                                      description: Enabled by default
                                      type: boolean
                                    type:
                                      type: string
                                      const: rollout
                                    value:
                                      type: string
                                    coverage:
                                      description: >-
                                        Percent of traffic included in this
                                        experiment. Users not included in the
                                        experiment will skip this rule.
                                      type: number
                                    hashAttribute:
                                      type: string
                                  required:
                                    - type
                                    - value
                                    - coverage
                                    - hashAttribute
                                  additionalProperties: false
                                - type: object
                                  properties:
                                    description:
                                      type: string
                                    id:
                                      type: string
                                    enabled:
                                      description: Enabled by default
                                      type: boolean
                                    type:
                                      type: string
                                      const: experiment-ref
                                    condition:
                                      type: string
                                    savedGroupTargeting:
                                      type: array
                                      items:
                                        type: object
                                        properties:
                                          matchType:
                                            type: string
                                            enum:
                                              - all
                                              - any
                                              - none
                                          savedGroups:
                                            type: array
                                            items:
                                              type: string
                                        required:
                                          - matchType
                                          - savedGroups
                                        additionalProperties: false
                                    prerequisites:
                                      type: array
                                      items:
                                        type: object
                                        properties:
                                          id:
                                            description: Feature ID
                                            type: string
                                          condition:
                                            type: string
                                        required:
                                          - id
                                          - condition
                                        additionalProperties: false
                                    scheduleRules:
                                      type: array
                                      items:
                                        $ref: '#/components/schemas/ScheduleRule'
                                    variations:
                                      type: array
                                      items:
                                        type: object
                                        properties:
                                          value:
                                            type: string
                                          variationId:
                                            type: string
                                        required:
                                          - value
                                          - variationId
                                        additionalProperties: false
                                    experimentId:
                                      type: string
                                  required:
                                    - type
                                    - variations
                                    - experimentId
                                  additionalProperties: false
                                - type: object
                                  properties:
                                    description:
                                      type: string
                                    condition:
                                      type: string
                                    id:
                                      type: string
                                    enabled:
                                      description: Enabled by default
                                      type: boolean
                                    type:
                                      type: string
                                      const: experiment
                                    trackingKey:
                                      type: string
                                    hashAttribute:
                                      type: string
                                    fallbackAttribute:
                                      type: string
                                    disableStickyBucketing:
                                      type: boolean
                                    bucketVersion:
                                      type: number
                                    minBucketVersion:
                                      type: number
                                    namespace:
                                      type: object
                                      properties:
                                        enabled:
                                          type: boolean
                                        name:
                                          type: string
                                        range:
                                          minItems: 2
                                          maxItems: 2
                                          type: array
                                          items:
                                            type: number
                                      required:
                                        - enabled
                                        - name
                                        - range
                                      additionalProperties: false
                                    coverage:
                                      type: number
                                    prerequisites:
                                      type: array
                                      items:
                                        type: object
                                        properties:
                                          id:
                                            description: Feature ID
                                            type: string
                                          condition:
                                            type: string
                                        required:
                                          - id
                                          - condition
                                        additionalProperties: false
                                    scheduleRules:
                                      type: array
                                      items:
                                        $ref: '#/components/schemas/ScheduleRule'
                                    values:
                                      type: array
                                      items:
                                        type: object
                                        properties:
                                          value:
                                            type: string
                                          weight:
                                            type: number
                                          name:
                                            type: string
                                        required:
                                          - value
                                          - weight
                                        additionalProperties: false
                                    value:
                                      deprecated: true
                                      description: >-
                                        Support passing values under the value
                                        key as that was the original spec for
                                        FeatureExperimentRules
                                      type: array
                                      items:
                                        type: object
                                        properties:
                                          value:
                                            type: string
                                          weight:
                                            type: number
                                          name:
                                            type: string
                                        required:
                                          - value
                                          - weight
                                        additionalProperties: false
                                  required:
                                    - condition
                                    - type
                                  additionalProperties: false
                          definition:
                            description: >-
                              A JSON stringified
                              [FeatureDefinition](#tag/FeatureDefinition_model)
                            type: string
                        required:
                          - rules
                        additionalProperties: false
                    required:
                      - enabled
                      - rules
                    additionalProperties: false
                prerequisites:
                  description: Feature IDs. Each feature must evaluate to `true`
                  type: array
                  items:
                    type: string
                jsonSchema:
                  description: >-
                    Use JSON schema to validate the payload of a JSON-type
                    feature value (enterprise only).
                  type: string
                customFields:
                  type: object
                  propertyNames:
                    type: string
                  additionalProperties:
                    type: string
                holdout:
                  description: >
                    Holdout to assign this feature to. Pass `null` to remove the
                    feature from its current holdout. Omit the field entirely to
                    leave the holdout unchanged.
                  anyOf:
                    - type: object
                      properties:
                        id:
                          description: Holdout ID
                          type: string
                        value:
                          description: >-
                            The feature value assigned to users in the holdout
                            treatment group
                          type: string
                      required:
                        - id
                        - value
                      additionalProperties: false
                    - type: 'null'
              additionalProperties: false
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  feature:
                    $ref: '#/components/schemas/Feature'
                required:
                  - feature
                additionalProperties: false
      x-codeSamples:
        - lang: cURL
          source: |-
            curl -X POST 'https://api.growthbook.io/api/v1/features/{id}' \
              -H 'Authorization: Bearer YOUR_API_KEY'
    delete:
      operationId: deleteFeature
      summary: Deletes a single feature
      description: >
        Permanently deletes a feature and all of its revisions.


        Archived features can be deleted freely. Deleting a live (non-archived)
        feature returns 403 unless the org setting "REST API always bypasses
        approval requirements" is enabled, or the API key lacks delete
        permission.
      tags:
        - features
      parameters:
        - $ref: '#/components/parameters/id'
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  deletedId:
                    description: The ID of the deleted feature
                    example: feature-123
                    type: string
                required:
                  - deletedId
                additionalProperties: false
      x-codeSamples:
        - lang: cURL
          source: |-
            curl -X DELETE 'https://api.growthbook.io/api/v1/features/abc123' \
              -H 'Authorization: Bearer YOUR_API_KEY'
  /features/{id}/toggle:
    post:
      operationId: toggleFeature
      summary: Toggle a feature in one or more environments
      description: >
        Enables or disables a feature in one or more environments
        simultaneously. Accepts a map of environment name → boolean and
        immediately publishes the change.


        Returns 403 if the API key lacks permission or if approval rules are
        enabled for an affected environment and the org setting "REST API always
        bypasses approval requirements" is off.
      tags:
        - features
      parameters:
        - $ref: '#/components/parameters/id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
                environments:
                  type: object
                  propertyNames:
                    type: string
                  additionalProperties:
                    anyOf:
                      - type: boolean
                        const: true
                      - type: boolean
                        const: false
                      - type: string
                        const: 'true'
                      - type: string
                        const: 'false'
                      - type: string
                        const: '1'
                      - type: string
                        const: '0'
                      - type: number
                        const: 1
                      - type: number
                        const: 0
                      - type: string
                        const: ''
              required:
                - environments
              additionalProperties: false
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  feature:
                    $ref: '#/components/schemas/Feature'
                required:
                  - feature
                additionalProperties: false
      x-codeSamples:
        - lang: cURL
          source: >-
            curl -X POST 'https://api.growthbook.io/api/v1/features/{id}/toggle'
            \
              -H 'Authorization: Bearer YOUR_API_KEY' \
              -H 'Content-Type: application/json' \
              -d '{"reason":"Kill switch activated","environments":{"production":false}}'
  /features/{id}/revert:
    post:
      operationId: revertFeature
      summary: Revert a feature to a specific revision
      description: >
        Creates a new revision whose rules and values match a
        previously-published revision, then immediately publishes it. This
        leaves a clear audit trail of the revert action in the revision history.


        Returns 403 if the API key lacks permission or if approval rules are
        enabled for an affected environment and the org setting "REST API always
        bypasses approval requirements" is off.
      tags:
        - features
      parameters:
        - $ref: '#/components/parameters/id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                revision:
                  type: number
                comment:
                  type: string
              required:
                - revision
              additionalProperties: false
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  feature:
                    $ref: '#/components/schemas/Feature'
                required:
                  - feature
                additionalProperties: false
      x-codeSamples:
        - lang: cURL
          source: >-
            curl -X POST 'https://api.growthbook.io/api/v1/features/{id}/revert'
            \
              -H 'Authorization: Bearer YOUR_API_KEY' \
              -H 'Content-Type: application/json' \
              -d '{"revision":3,"comment":"Bug found"}'
  /feature-keys:
    get:
      operationId: getFeatureKeys
      summary: Get list of feature keys
      tags:
        - features
      parameters:
        - $ref: '#/components/parameters/projectId'
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
      x-codeSamples:
        - lang: cURL
          source: |-
            curl -X GET 'https://api.growthbook.io/api/v1/feature-keys' \
              -H 'Authorization: Bearer YOUR_API_KEY'
  /stale-features:
    get:
      operationId: getFeatureStale
      summary: Get stale status for one or more features
      tags:
        - features
      parameters:
        - $ref: '#/components/parameters/ids'
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  features:
                    $ref: '#/components/schemas/features'
                required:
                  - features
                additionalProperties: false
      x-codeSamples:
        - lang: cURL
          source: |-
            curl -X GET 'https://api.growthbook.io/api/v1/stale-features' \
              -H 'Authorization: Bearer YOUR_API_KEY'
  /revisions:
    get:
      operationId: listRevisions
      summary: List feature revisions
      description: >-
        Returns a paginated list of feature revisions across all features in the
        organization. Optionally filtered by feature, status, author, and/or the
        calling user's involvement. Results are sorted newest-first.
      tags:
        - feature-revisions
      parameters:
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/skipPagination'
        - $ref: '#/components/parameters/featureId'
        - $ref: '#/components/parameters/status'
        - $ref: '#/components/parameters/author'
        - $ref: '#/components/parameters/mine'
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  revisions:
                    type: array
                    items:
                      $ref: '#/components/schemas/FeatureRevision'
                  limit:
                    type: integer
                  offset:
                    type: integer
                  count:
                    type: integer
                  total:
                    type: integer
                  hasMore:
                    type: boolean
                  nextOffset:
                    anyOf:
                      - type: integer
                      - type: 'null'
                required:
                  - revisions
                  - limit
                  - offset
                  - count
                  - total
                  - hasMore
                  - nextOffset
                additionalProperties: false
      x-codeSamples:
        - lang: cURL
          source: |-
            curl -X GET 'https://api.growthbook.io/api/v1/revisions' \
              -H 'Authorization: Bearer YOUR_API_KEY'
  /features/{id}/revisions:
    get:
      operationId: getFeatureRevisions
      summary: List revisions for a feature
      description: >-
        Returns a paginated list of revisions for this feature, sorted
        newest-first. Optionally filtered by status and/or author.
      tags:
        - feature-revisions
      parameters:
        - $ref: '#/components/parameters/id'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/skipPagination'
        - $ref: '#/components/parameters/status'
        - $ref: '#/components/parameters/author'
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  revisions:
                    type: array
                    items:
                      $ref: '#/components/schemas/FeatureRevision'
                  limit:
[...]
