openapi: 3.1.0
info:
  version: 1.0.0
  title: GrowthBook REST API
  description: |
    GrowthBook offers a full REST API for interacting with the GrowthBook application. This is currently in **beta** as we add more authenticated API routes and features.

    Request data can use either JSON or Form data encoding (with proper `Content-Type` headers). All response bodies are JSON-encoded.

    The API base URL for GrowthBook Cloud is `https://api.growthbook.io`. For self-hosted deployments, it is the same as your API_HOST environment variable (defaults to `http://localhost:3100`). The rest of these docs will assume you are using GrowthBook Cloud.

    ## Authentication

    We support both the HTTP Basic and Bearer authentication schemes for convenience.

    You first need to generate a new API Key in GrowthBook. Different keys have different permissions:

    - **Personal Access Tokens**: These are sensitive and provide the same level of access as the user has to an organization. These can be created by going to `Personal Access Tokens` under the your user menu.
    - **Secret Keys**: These are sensitive and provide the level of access for the role, which currently is either `admin` or `readonly`. Only Admins with the `manageApiKeys` permission can manage Secret Keys on behalf of an organization. These can be created by going to `Settings -> API Keys`

    If using HTTP Basic auth, pass the Secret Key as the username and leave the password blank:

    ```bash
    curl https://api.growthbook.io/api/v1 \
      -u secret_abc123DEF456:
    # The ":" at the end stops curl from asking for a password
    ```

    If using Bearer auth, pass the Secret Key as the token:

    ```bash
    curl https://api.growthbook.io/api/v1 \
    -H "Authorization: Bearer secret_abc123DEF456"
    ```

    ## Errors

    The API may return the following error status codes:

    - **400** - Bad Request - Often due to a missing required parameter
    - **401** - Unauthorized - No valid API key provided
    - **402** - Request Failed - The parameters are valid, but the request failed
    - **403** - Forbidden - Provided API key does not have the required access
    - **404** - Not Found - Unknown API route or requested resource
    - **429** - Too Many Requests - You exceeded the rate limit of 60 requests per minute. Try again later.
    - **5XX** - Server Error - Something went wrong on GrowthBook's end (these are rare)

    The response body will be a JSON object with the following properties:

    - **message** - Information about the error
servers:
  - url: 'https://api.growthbook.io/api/v1'
    description: GrowthBook Cloud
  - url: '{domain}/api/v1'
    description: Self-hosted GrowthBook
    variables:
      domain:
        default: 'http://localhost:3100'
tags:
  - name: projects
    x-displayName: Projects
    description: Projects are used to organize your feature flags and experiments
  - name: environments
    x-displayName: Environments
    description: 'GrowthBook comes with one environment by default (production), but you can add as many as you need. When used with feature flags, you can enable/disable feature flags on a per-environment basis.'
  - name: features
    x-displayName: Feature Flags
    description: Control your feature flags programatically
  - name: data-sources
    x-displayName: Data Sources
    description: How GrowthBook connects and queries your data
  - name: metrics
    x-displayName: Metrics
    description: Metrics used as goals and guardrails for experiments
  - name: experiments
    x-displayName: Experiments
    description: Experiments (A/B Tests)
  - name: dimensions
    x-displayName: Dimensions
    description: Dimensions used during experiment analysis
  - name: segments
    x-displayName: Segments
    description: Segments used during experiment analysis
  - name: sdk-connections
    x-displayName: SDK Connections
    description: Client keys and settings for connecting SDKs to a GrowthBook instance
  - name: visual-changesets
    x-displayName: Visual Changesets
    description: Groups of visual changes made by the visual editor to a single page
  - name: saved-groups
    x-displayName: Saved Groups
    description: Defined sets of attribute values which can be used with feature rules for targeting features at particular users.
  - name: organizations
    x-displayName: Organizations
    description: Organizations are used for multi-org deployments where different teams can run their own isolated feature flags and experiments. These endpoints are only via a super-admin's Personal Access Token.
  - name: members
    x-displayName: Members
    description: Members are users who have been invited to an organization.
  - name: fact-tables
    x-displayName: Fact Tables
    description: Fact Tables describe the shape of your data warehouse tables
  - name: fact-metrics
    x-displayName: Fact Metrics
    description: Fact Metrics are metrics built on top of Fact Table definitions
  - name: code-references
    x-displayName: Code References
    description: 'Intended for use with our code reference CI utility, [`gb-find-code-refs`](https://github.com/growthbook/gb-find-code-refs).'
  - name: DataSource_model
    x-displayName: DataSource
    description: <SchemaDefinition schemaRef="#/components/schemas/DataSource" />
  - name: Dimension_model
    x-displayName: Dimension
    description: <SchemaDefinition schemaRef="#/components/schemas/Dimension" />
  - name: Environment_model
    x-displayName: Environment
    description: <SchemaDefinition schemaRef="#/components/schemas/Environment" />
  - name: Experiment_model
    x-displayName: Experiment
    description: <SchemaDefinition schemaRef="#/components/schemas/Experiment" />
  - name: ExperimentAnalysisSettings_model
    x-displayName: ExperimentAnalysisSettings
    description: <SchemaDefinition schemaRef="#/components/schemas/ExperimentAnalysisSettings" />
  - name: ExperimentMetric_model
    x-displayName: ExperimentMetric
    description: <SchemaDefinition schemaRef="#/components/schemas/ExperimentMetric" />
  - name: ExperimentResults_model
    x-displayName: ExperimentResults
    description: <SchemaDefinition schemaRef="#/components/schemas/ExperimentResults" />
  - name: FactMetric_model
    x-displayName: FactMetric
    description: <SchemaDefinition schemaRef="#/components/schemas/FactMetric" />
  - name: FactTable_model
    x-displayName: FactTable
    description: <SchemaDefinition schemaRef="#/components/schemas/FactTable" />
  - name: FactTableFilter_model
    x-displayName: FactTableFilter
    description: <SchemaDefinition schemaRef="#/components/schemas/FactTableFilter" />
  - name: Feature_model
    x-displayName: Feature
    description: <SchemaDefinition schemaRef="#/components/schemas/Feature" />
  - name: FeatureDefinition_model
    x-displayName: FeatureDefinition
    description: <SchemaDefinition schemaRef="#/components/schemas/FeatureDefinition" />
  - name: FeatureEnvironment_model
    x-displayName: FeatureEnvironment
    description: <SchemaDefinition schemaRef="#/components/schemas/FeatureEnvironment" />
  - name: FeatureExperimentRefRule_model
    x-displayName: FeatureExperimentRefRule
    description: <SchemaDefinition schemaRef="#/components/schemas/FeatureExperimentRefRule" />
  - name: FeatureExperimentRule_model
    x-displayName: FeatureExperimentRule
    description: <SchemaDefinition schemaRef="#/components/schemas/FeatureExperimentRule" />
  - name: FeatureForceRule_model
    x-displayName: FeatureForceRule
    description: <SchemaDefinition schemaRef="#/components/schemas/FeatureForceRule" />
  - name: FeatureRolloutRule_model
    x-displayName: FeatureRolloutRule
    description: <SchemaDefinition schemaRef="#/components/schemas/FeatureRolloutRule" />
  - name: FeatureRule_model
    x-displayName: FeatureRule
    description: <SchemaDefinition schemaRef="#/components/schemas/FeatureRule" />
  - name: Member_model
    x-displayName: Member
    description: <SchemaDefinition schemaRef="#/components/schemas/Member" />
  - name: Metric_model
    x-displayName: Metric
    description: <SchemaDefinition schemaRef="#/components/schemas/Metric" />
  - name: Organization_model
    x-displayName: Organization
    description: <SchemaDefinition schemaRef="#/components/schemas/Organization" />
  - name: PaginationFields_model
    x-displayName: PaginationFields
    description: <SchemaDefinition schemaRef="#/components/schemas/PaginationFields" />
  - name: Project_model
    x-displayName: Project
    description: <SchemaDefinition schemaRef="#/components/schemas/Project" />
  - name: SavedGroup_model
    x-displayName: SavedGroup
    description: <SchemaDefinition schemaRef="#/components/schemas/SavedGroup" />
  - name: SdkConnection_model
    x-displayName: SdkConnection
    description: <SchemaDefinition schemaRef="#/components/schemas/SdkConnection" />
  - name: Segment_model
    x-displayName: Segment
    description: <SchemaDefinition schemaRef="#/components/schemas/Segment" />
  - name: VisualChange_model
    x-displayName: VisualChange
    description: <SchemaDefinition schemaRef="#/components/schemas/VisualChange" />
  - name: VisualChangeset_model
    x-displayName: VisualChangeset
    description: <SchemaDefinition schemaRef="#/components/schemas/VisualChangeset" />
paths:
  /features:
    get:
      summary: Get all features
      tags:
        - features
      parameters:
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/projectId'
      operationId: listFeatures
      x-codeSamples:
        - lang: cURL
          source: |
            curl https://api.growthbook.io/api/v1/features \
              -u secret_abc123DEF456:
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    required:
                      - features
                    properties:
                      features:
                        type: array
                        items:
                          $ref: '#/components/schemas/Feature'
                  - $ref: '#/components/schemas/PaginationFields'
    post:
      summary: Create a single feature
      parameters: []
      tags:
        - features
      operationId: postFeature
      x-codeSamples:
        - lang: cURL
          source: |
            curl -X POST https://api.growthbook.io/api/v1/features \
              -d '{ "id": "test-01", "description": "A cool feature", ... }'
              -u secret_abc123DEF456:
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - id
                - owner
                - valueType
                - defaultValue
              properties:
                id:
                  type: string
                  minLength: 1
                  description: 'A unique key name for the feature. Feature keys can only include letters, numbers, hyphens, and underscores.'
                archived:
                  type: boolean
                description:
                  type: string
                  description: Description of the feature
                owner:
                  type: string
                  description: Email of the person who owns this experiment
                project:
                  type: string
                  description: An associated project ID
                valueType:
                  type: string
                  description: The data type of the feature payload. Boolean by default.
                  enum:
                    - boolean
                    - string
                    - number
                    - json
                defaultValue:
                  description: Default value when feature is enabled. Type must match `valueType`.
                  type: string
                tags:
                  type: array
                  items:
                    type: string
                  description: List of associated tags
                environments:
                  type: object
                  description: A dictionary of environments that are enabled for this feature. Keys supply the names of environments. Environments belong to organization and are not specified will be disabled by default.
                  additionalProperties:
                    type: object
                    required:
                      - enabled
                      - rules
                    properties:
                      enabled:
                        type: boolean
                      rules:
                        type: array
                        items:
                          anyOf:
                            - type: object
                              required:
                                - type
                                - value
                              properties:
                                description:
                                  type: string
                                condition:
                                  type: string
                                  description: Applied to everyone by default.
                                savedGroupTargeting:
                                  type: array
                                  items:
                                    type: object
                                    required:
                                      - matchType
                                      - savedGroups
                                    properties:
                                      matchType:
                                        type: string
                                        enum:
                                          - all
                                          - any
                                          - none
                                      savedGroups:
                                        type: array
                                        items:
                                          type: string
                                id:
                                  type: string
                                enabled:
                                  type: boolean
                                  description: Enabled by default
                                type:
                                  type: string
                                  enum:
                                    - force
                                value:
                                  type: string
                            - type: object
                              required:
                                - type
                                - value
                                - coverage
                                - hashAttribute
                              properties:
                                description:
                                  type: string
                                condition:
                                  type: string
                                  description: Applied to everyone by default.
                                savedGroupTargeting:
                                  type: array
                                  items:
                                    type: object
                                    required:
                                      - matchType
                                      - savedGroups
                                    properties:
                                      matchType:
                                        type: string
                                        enum:
                                          - all
                                          - any
                                          - none
                                      savedGroups:
                                        type: array
                                        items:
                                          type: string
                                id:
                                  type: string
                                enabled:
                                  type: boolean
                                  description: Enabled by default
                                type:
                                  type: string
                                  enum:
                                    - rollout
                                value:
                                  type: string
                                coverage:
                                  type: number
                                  description: Percent of traffic included in this experiment. Users not included in the experiment will skip this rule.
                                hashAttribute:
                                  type: string
                            - type: object
                              required:
                                - type
                                - variations
                                - experimentId
                              properties:
                                description:
                                  type: string
                                id:
                                  type: string
                                enabled:
                                  type: boolean
                                  description: Enabled by default
                                type:
                                  type: string
                                  enum:
                                    - experiment-ref
                                condition:
                                  type: string
                                variations:
                                  type: array
                                  items:
                                    type: object
                                    required:
                                      - value
                                      - variationId
                                    properties:
                                      value:
                                        type: string
                                      variationId:
                                        type: string
                                experimentId:
                                  type: string
                      definition:
                        type: string
                        description: 'A JSON stringified [FeatureDefinition](#tag/FeatureDefinition_model)'
                      draft:
                        type: object
                        description: Use to write draft changes without publishing them.
                        required:
                          - rules
                        properties:
                          enabled:
                            type: boolean
                          rules:
                            type: array
                            items:
                              $ref: '#/paths/~1features/post/requestBody/content/application~1json/schema/properties/environments/additionalProperties/properties/rules/items'
                          definition:
                            type: string
                            description: 'A JSON stringified [FeatureDefinition](#tag/FeatureDefinition_model)'
                jsonSchema:
                  type: string
                  description: Use JSON schema to validate the payload of a JSON-type feature value (enterprise only).
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                required:
                  - feature
                properties:
                  feature:
                    $ref: '#/components/schemas/Feature'
  '/features/{id}':
    get:
      parameters:
        - $ref: '#/components/parameters/id'
      summary: Get a single feature
      tags:
        - features
      operationId: getFeature
      x-codeSamples:
        - lang: cURL
          source: |
            curl https://api.growthbook.io/api/v1/features/my_feature \
              -u secret_abc123DEF456:
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                required:
                  - feature
                properties:
                  feature:
                    $ref: '#/components/schemas/Feature'
    post:
      summary: Partially update a feature
      parameters:
        - $ref: '#/components/parameters/id'
      tags:
        - features
      operationId: updateFeature
      x-codeSamples:
        - lang: cURL
          source: |
            curl -X POST https://api.growthbook.io/api/v1/features/test-01 \
              -d '{ "description": "A cool feature flag", ... }'
              -u secret_abc123DEF456:
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                description:
                  type: string
                  description: Description of the feature
                archived:
                  type: boolean
                project:
                  type: string
                  description: An associated project ID
                owner:
                  type: string
                defaultValue:
                  type: string
                tags:
                  type: array
                  items:
                    type: string
                  description: List of associated tags. Will override tags completely with submitted list
                environments:
                  type: object
                  additionalProperties:
                    $ref: '#/paths/~1features/post/requestBody/content/application~1json/schema/properties/environments/additionalProperties'
                jsonSchema:
                  type: string
                  description: Use JSON schema to validate the payload of a JSON-type feature value (enterprise only).
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                required:
                  - feature
                properties:
                  feature:
                    $ref: '#/components/schemas/Feature'
  '/features/{id}/toggle':
    parameters:
      - $ref: '#/components/parameters/id'
    post:
      summary: Toggle a feature in one or more environments
      tags:
        - features
      operationId: toggleFeature
      x-codeSamples:
        - lang: cURL
          source: |
            curl -X POST https://api.growthbook.io/api/v1/features/my-feature/toggle \
              -d '{ "reason": "Kill switch activated", "environments": { "production": false } }' \
              -u secret_abc123DEF456:
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - environments
              properties:
                reason:
                  type: string
                environments:
                  type: object
                  additionalProperties:
                    enum:
                      - true
                      - false
                      - 'true'
                      - 'false'
                      - '1'
                      - '0'
                      - 1
                      - 0
                      - ''
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                required:
                  - feature
                properties:
                  feature:
                    $ref: '#/components/schemas/Feature'
  /feature-keys:
    get:
      summary: Get list of feature keys
      tags:
        - features
      parameters:
        - $ref: '#/components/parameters/projectId'
      operationId: getFeatureKeys
      x-codeSamples:
        - lang: cURL
          source: |
            curl https://api.growthbook.io/api/v1/feature-keys?projectId=prj_5l652 \
              -u secret_abc123DEF456:
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
  /projects:
    get:
      summary: Get all projects
      tags:
        - projects
      parameters:
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
      operationId: listProjects
      x-codeSamples:
        - lang: cURL
          source: |
            curl https://api.growthbook.io/api/v1/projects \
              -u secret_abc123DEF456:
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    required:
                      - projects
                    properties:
                      projects:
                        type: array
                        items:
                          $ref: '#/components/schemas/Project'
                  - $ref: '#/components/schemas/PaginationFields'
    post:
      parameters: []
      tags:
        - projects
      summary: Create a single project
      operationId: postProject
      x-codeSamples:
        - lang: cURL
          source: |
            curl -X POST https://api.growthbook.io/api/v1/projects \
              -d '{"name":"My Project", "description": "Super cool project"}' \
              -u secret_abc123DEF456:
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
              properties:
                name:
                  type: string
                description:
                  type: string
                settings:
                  description: Project settings.
                  type: object
                  properties:
                    statsEngine:
                      description: Stats engine.
                      type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                required:
                  - project
                properties:
                  project:
                    $ref: '#/components/schemas/Project'
  '/projects/{id}':
    get:
      parameters:
        - $ref: '#/components/parameters/id'
      summary: Get a single project
      tags:
        - projects
      operationId: getProject
      x-codeSamples:
        - lang: cURL
          source: |
            curl https://api.growthbook.io/api/v1/projects/prj_123abc \
              -u secret_abc123DEF456:
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                required:
                  - project
                properties:
                  project:
                    $ref: '#/components/schemas/Project'
    put:
      parameters:
        - $ref: '#/components/parameters/id'
      tags:
        - projects
      summary: Edit a single project
      operationId: putProject
      x-codeSamples:
        - lang: cURL
          source: |
            curl -X PUT https://api.growthbook.io/api/v1/projects/proj_abc123 \
              -d '{ "name": "My Subsidiary" }' \
              -u secret_abc123DEF456:
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  description: Project name.
                  type: string
                description:
                  description: Project description.
                  type: string
                settings:
                  description: Project settings.
                  type: object
                  properties:
                    statsEngine:
                      description: Stats engine.
                      type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                required:
                  - project
                properties:
                  project:
                    $ref: '#/components/schemas/Project'
    delete:
      parameters:
        - $ref: '#/components/parameters/id'
      tags:
        - projects
      summary: Deletes a single project
      operationId: deleteProject
      x-codeSamples:
        - lang: cURL
          source: |
            curl -X DELETE https://api.growthbook.io/api/v1/projects/prj__123abc \
              -u secret_abc123DEF456:
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                required:
                  - project
                properties:
                  deletedId:
                    type: string
                    description: The ID of the deleted project
                    example: prj__123abc
  /dimensions:
    get:
      summary: Get all dimensions
      tags:
        - dimensions
      parameters:
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/datasourceId'
      operationId: listDimensions
      x-codeSamples:
        - lang: cURL
          source: |
            curl https://api.growthbook.io/api/v1/dimensions \
              -u secret_abc123DEF456:
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    required:
                      - dimensions
                    properties:
                      dimensions:
                        type: array
                        items:
                          $ref: '#/components/schemas/Dimension'
                  - $ref: '#/components/schemas/PaginationFields'
  '/dimensions/{id}':
    parameters:
      - $ref: '#/components/parameters/id'
    get:
      summary: Get a single dimension
      tags:
        - dimensions
      operationId: getDimension
      x-codeSamples:
        - lang: cURL
          source: |
            curl https://api.growthbook.io/api/v1/dimensions/dim_123abc \
              -u secret_abc123DEF456:
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                required:
                  - dimension
                properties:
                  dimension:
                    $ref: '#/components/schemas/Dimension'
  /segments:
    get:
      summary: Get all segments
      tags:
        - segments
      parameters:
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/datasourceId'
      operationId: listSegments
      x-codeSamples:
        - lang: cURL
          source: |
            curl https://api.growthbook.io/api/v1/segments \
              -u secret_abc123DEF456:
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    required:
                      - segments
                    properties:
                      segments:
                        type: array
                        items:
                          $ref: '#/components/schemas/Segment'
                  - $ref: '#/components/schemas/PaginationFields'
  '/segments/{id}':
    parameters:
      - $ref: '#/components/parameters/id'
    get:
      summary: Get a single segment
      tags:
        - segments
      operationId: getSegment
      x-codeSamples:
        - lang: cURL
          source: |
            curl https://api.growthbook.io/api/v1/segments/seg_123abc \
              -u secret_abc123DEF456:
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                required:
                  - segment
                properties:
                  segment:
                    $ref: '#/components/schemas/Segment'
  /sdk-connections:
    get:
      summary: Get all sdk connections
      tags:
        - sdk-connections
      parameters:
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/projectId'
        - name: withProxy
          in: query
          schema:
            type: string
        - name: multiOrg
          in: query
          schema:
            type: string
      operationId: listSdkConnections
      x-codeSamples:
        - lang: cURL
          source: |
            curl https://api.growthbook.io/api/v1/sdk-connections \
              -u secret_abc123DEF456:
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    required:
                      - sdkConnections
                    properties:
                      connections:
                        type: array
                        items:
                          $ref: '#/components/schemas/SdkConnection'
                  - $ref: '#/components/schemas/PaginationFields'
    post:
      summary: Create a single sdk connection
      tags:
        - sdk-connections
      operationId: postSdkConnection
      x-codeSamples:
        - lang: cURL
          source: |
            curl -X POST https://api.growthbook.io/api/v1/sdk-connections \
              -d '{ name: "new-connection", ... }'
              -u secret_abc123DEF456:
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - language
                - environment
              properties:
                name:
                  type: string
                language:
                  type: string
                sdkVersion:
                  type: string
                environment:
                  type: string
                projects:
                  type: array
                  items:
                    type: string
                encryptPayload:
                  type: boolean
                includeVisualExperiments:
                  type: boolean
                includeDraftExperiments:
                  type: boolean
                includeExperimentNames:
                  type: boolean
                includeRedirectExperiments:
                  type: boolean
                proxyEnabled:
                  type: boolean
                proxyHost:
                  type: string
                hashSecureAttributes:
                  type: boolean
                remoteEvalEnabled:
                  type: boolean
                savedGroupReferencesEnabled:
                  type: boolean
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                required:
                  - sdkConnection
                properties:
                  sdkConnection:
                    $ref: '#/components/schemas/SdkConnection'
  '/sdk-connections/{id}':
    get:
      parameters:
        - $ref: '#/components/parameters/id'
      summary: Get a single sdk connection
      tags:
        - sdk-connections
      operationId: getSdkConnection
      x-codeSamples:
        - lang: cURL
          source: |
            curl https://api.growthbook.io/api/v1/sdk-connections/sdk_123abc \
              -u secret_abc123DEF456:
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                required:
                  - sdkConnection
                properties:
                  sdkConnection:
                    $ref: '#/components/schemas/SdkConnection'
    put:
      parameters:
        - $ref: '#/components/parameters/id'
      summary: Update a single sdk connection
      tags:
        - sdk-connections
      operationId: putSdkConnection
      x-codeSamples:
        - lang: cURL
          source: |
            curl -X PUT https://api.growthbook.io/api/v1/sdk-connections/connection_id \
              -d '{ name: "new-connection", ... }'
              -u secret_abc123DEF456:
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                language:
                  type: string
                sdkVersion:
                  type: string
                environment:
                  type: string
                projects:
                  type: array
                  items:
                    type: string
                encryptPayload:
                  type: boolean
                includeVisualExperiments:
                  type: boolean
                includeDraftExperiments:
                  type: boolean
                includeExperimentNames:
                  type: boolean
                includeRedirectExperiments:
                  type: boolean
                proxyEnabled:
                  type: boolean
                proxyHost:
                  type: string
                hashSecureAttributes:
                  type: boolean
                remoteEvalEnabled:
                  type: boolean
                savedGroupReferencesEnabled:
                  type: boolean
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                required:
                  - sdkConnection
                properties:
                  sdkConnection:
                    $ref: '#/components/schemas/SdkConnection'
    delete:
      summary: Deletes a single SDK connection
      parameters:
        - $ref: '#/components/parameters/id'
      tags:
        - sdk-connection
      operationId: deleteSdkConnection
      x-codeSamples:
        - lang: cURL
          source: |
            curl -X DELETE https://api.growthbook.io/api/v1/sdk-connections/connection_id \
              -u secret_abc123DEF456:
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                required:
                  - deletedId
                properties:
                  deletedId:
                    type: string
  /data-sources:
    get:
      summary: Get all data sources
      tags:
        - data-sources
      parameters:
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/projectId'
      operationId: listDataSources
      x-codeSamples:
        - lang: cURL
          source: |
            curl https://api.growthbook.io/api/v1/data-sources \
              -u secret_abc123DEF456:
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    required:
                      - dataSources
                    properties:
                      dataSources:
                        type: array
                        items:
                          $ref: '#/components/schemas/DataSource'
                  - $ref: '#/components/schemas/PaginationFields'
  '/data-sources/{id}':
    parameters:
      - $ref: '#/components/parameters/id'
    get:
      tags:
        - data-sources
      summary: Get a single data source
      operationId: getDataSource
      x-codeSamples:
        - lang: cURL
          source: |
            curl https://api.growthbook.io/api/v1/data-sources/ds_123abc \
              -u secret_abc123DEF456:
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                required:
                  - dataSource
                properties:
                  dataSource:
                    $ref: '#/components/schemas/DataSource'
  /experiments:
    get:
      summary: Get all experiments
      tags:
        - experiments
      parameters:
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/projectId'
        - $ref: '#/components/parameters/datasourceId'
        - name: experimentId
          in: query
          description: Filter the returned list by the experiment tracking key (id)
          schema:
            type: string
      operationId: listExperiments
      x-codeSamples:
        - lang: cURL
          source: |
            curl https://api.growthbook.io/api/v1/experiments \
              -u secret_abc123DEF456:
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    required:
                      - experiments
                    properties:
                      experiments:
                        type: array
                        items:
                          $ref: '#/components/schemas/Experiment'
                  - $ref: '#/components/schemas/PaginationFields'
    post:
      parameters: []
      tags:
        - experiments
      summary: Create a single experiment
      operationId: postExperiment
      x-codeSamples:
        - lang: cURL
          source: |
            curl -X POST https://api.growthbook.io/api/v1/experiments \
              -d '{"name": "test_experiment", "owner": "weijie.ou@example.com", ...}'
              -u secret_abc123DEF456:
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - variations
                - datasourceId
                - trackingKey
                - assignmentQueryId
              properties:
                datasourceId:
                  type: string
                  description: 'ID for the [DataSource](#tag/DataSource_model)'
                assignmentQueryId:
                  type: string
                  description: The ID property of one of the assignment query objects associated with the datasource
                trackingKey:
                  type: string
                name:
                  type: string
                  description: Name of the experiment
                project:
                  type: string
                  description: Project ID which the experiment belongs to
                hypothesis:
                  type: string
                  description: Hypothesis of the experiment
                description:
                  type: string
                  description: Description of the experiment
                tags:
                  type: array
                  items:
                    type: string
                metrics:
                  type: array
                  items:
                    type: string
                secondaryMetrics:
                  type: array
                  items:
                    type: string
                guardrailMetrics:
                  type: array
                  items:
                    type: string
                owner:
                  type: string
                  description: Email of the person who owns this experiment
                archived:
                  type: boolean
                status:
                  type: string
                  enum:
                    - draft
                    - running
                    - stopped
                autoRefresh:
                  type: boolean
                hashAttribute:
                  type: string
                fallbackAttribute:
                  type: string
                hashVersion:
                  type: number
                  enum:
                    - 1
                    - 2
                disableStickyBucketing:
                  type: boolean;
                bucketVersion:
                  type: number
                minBucketVersion:
                  type: number
                releasedVariationId:
                  type: string
                excludeFromPayload:
                  type: boolean
                inProgressConversions:
                  type: string
                  enum:
                    - loose
                    - strict
                attributionModel:
                  type: string
                  enum:
                    - firstExposure
                    - experimentDuration
                statsEngine:
                  type: string
                  enum:
                    - bayesian
                    - frequentist
                variations:
                  type: array
                  minItems: 2
                  items:
                    type: object
                    required:
                      - key
                      - name
                    properties:
                      id:
                        type: string
                      key:
                        type: string
                      name:
                        type: string
                      description:
                        type: string
                      screenshots:
                        type: array
                        items:
                          type: object
                          required:
                            - path
                          properties:
                            path:
                              type: string
                            width:
                              type: number
                            height:
                              type: number
                            description:
                              type: string
                phases:
                  type: array
                  items:
                    type: object
                    required:
                      - name
                      - dateStarted
                    properties:
                      name:
                        type: string
                      dateStarted:
                        type: string
                        format: date-time
                      dateEnded:
                        type: string
                        format: date-time
                      reasonForStopping:
                        type: string
                      seed:
                        type: string
                      coverage:
                        type: number
                      trafficSplit:
                        type: array
                        items:
                          type: object
                          required:
                            - variationId
                            - weight
                          properties:
                            variationId:
                              type: string
                            weight:
                              type: number
                      namespace:
                        type: object
                        required:
                          - namespaceId
                          - range
                        properties:
                          namespaceId:
                            type: string
                          range:
                            type: array
                            items:
                              type: number
                            minItems: 2
                            maxItems: 2
                          enabled:
                            type: boolean
                      targetingCondition:
                        type: string
                      reason:
                        type: string
                      condition:
                        type: string
                      savedGroupTargeting:
                        type: array
                        items:
                          type: object
                          required:
                            - matchType
                            - savedGroups
                          properties:
                            matchType:
                              type: string
                              enum:
                                - all
                                - any
                                - none
                            savedGroups:
                              type: array
                              items:
                                type: string
                      variationWeights:
                        type: array
                        items:
                          type: number
                regressionAdjustmentEnabled:
                  type: boolean
                  description: Controls whether regression adjustment (CUPED) is enabled for experiment analyses
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                required:
                  - experiment
                properties:
                  experiment:
                    $ref: '#/components/schemas/Experiment'
  '/experiments/{id}':
    get:
      parameters:
        - $ref: '#/components/parameters/id'
      summary: Get a single experiment
      tags:
        - experiments
      operationId: getExperiment
      x-codeSamples:
        - lang: cURL
          source: |
            curl https://api.growthbook.io/api/v1/experiments/exp_123abc \
              -u secret_abc123DEF456:
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                required:
                  - experiment
                properties:
                  experiment:
                    $ref: '#/components/schemas/Experiment'
    post:
      parameters:
        - $ref: '#/components/parameters/id'
      tags:
        - experiments
      summary: Update a single experiment
      operationId: updateExperiment
      x-codeSamples:
        - lang: cURL
          source: |
            curl -X POST https://api.growthbook.io/api/v1/experiments/exp_1234 \
              -d '{ "name": "test_experiment", "owner": "weijie.ou@example.com", ... }' \
              -u secret_abc123DEF456:
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                assignmentQueryId:
                  type: string
                trackingKey:
                  type: string
                name:
                  type: string
                  description: Name of the experiment
                project:
                  type: string
                  description: Project ID which the experiment belongs to
                hypothesis:
                  type: string
                  description: Hypothesis of the experiment
                description:
                  type: string
                  description: Description of the experiment
                tags:
                  type: array
                  items:
                    type: string
                metrics:
                  type: array
                  items:
                    type: string
                secondaryMetrics:
                  type: array
                  items:
                    type: string
                guardrailMetrics:
                  type: array
                  items:
                    type: string
                owner:
                  type: string
                  description: Email of the person who owns this experiment
                archived:
                  type: boolean
                status:
                  type: string
                  enum:
                    - draft
                    - running
                    - stopped
                autoRefresh:
                  type: boolean
                hashAttribute:
                  type: string
                fallbackAttribute:
                  type: string
                hashVersion:
                  type: number
                  enum:
                    - 1
                    - 2
                disableStickyBucketing:
                  type: boolean;
                bucketVersion:
                  type: number
                minBucketVersion:
                  type: number
                releasedVariationId:
                  type: string
                excludeFromPayload:
                  type: boolean
                inProgressConversions:
                  type: string
                  enum:
                    - loose
                    - strict
                attributionModel:
                  type: string
                  enum:
                    - firstExposure
                    - experimentDuration
                statsEngine:
                  type: string
                  enum:
                    - bayesian
                    - frequentist
                variations:
                  type: array
                  minItems: 2
                  items:
                    type: object
                    required:
                      - key
                      - name
                    properties:
                      id:
                        type: string
                      key:
                        type: string
                      name:
                        type: string
                      description:
                        type: string
                      screenshots:
                        type: array
                        items:
                          type: object
                          required:
                            - path
                          properties:
                            path:
                              type: string
                            width:
                              type: number
                            height:
                              type: number
                            description:
                              type: string
                phases:
                  type: array
                  items:
                    type: object
                    required:
                      - name
                      - dateStarted
                    properties:
                      name:
                        type: string
                      dateStarted:
                        type: string
                        format: date-time
                      dateEnded:
                        type: string
                        format: date-time
                      reasonForStopping:
                        type: string
                      seed:
                        type: string
                      coverage:
                        type: number
                      trafficSplit:
                        type: array
                        items:
                          type: object
                          required:
                            - variationId
                            - weight
                          properties:
                            variationId:
                              type: string
                            weight:
                              type: number
                      namespace:
                        type: object
                        required:
                          - namespaceId
                          - range
                        properties:
                          namespaceId:
                            type: string
                          range:
                            type: array
                            items:
                              type: number
                            minItems: 2
                            maxItems: 2
                          enabled:
                            type: boolean
                      targetingCondition:
                        type: string
                      reason:
                        type: string
                      condition:
                        type: string
                      savedGroupTargeting:
                        type: array
                        items:
                          type: object
                          required:
                            - matchType
                            - savedGroups
                          properties:
                            matchType:
                              type: string
                              enum:
                                - all
                                - any
                                - none
                            savedGroups:
                              type: array
                              items:
                                type: string
                      variationWeights:
                        type: array
                        items:
                          type: number
                regressionAdjustmentEnabled:
                  type: boolean
                  description: Controls whether regression adjustment (CUPED) is enabled for experiment analyses
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                required:
                  - experiment
                properties:
                  experiment:
                    $ref: '#/components/schemas/Experiment'
  '/experiments/{id}/results':
    parameters:
      - $ref: '#/components/parameters/id'
    get:
      summary: Get results for an experiment
      tags:
        - experiments
      operationId: getExperimentResults
      x-codeSamples:
        - lang: cURL
          source: |
            curl https://api.growthbook.io/api/v1/experiments/exp_123abc/results \
              -u secret_abc123DEF456:
      parameters:
        - name: phase
          in: query
          schema:
            type: string
        - name: dimension
          in: query
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                required:
                  - experiment
                properties:
                  result:
                    $ref: '#/components/schemas/ExperimentResults'
  /metrics:
    get:
      summary: Get all metrics
      tags:
        - metrics
      parameters:
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/projectId'
        - $ref: '#/components/parameters/datasourceId'
      operationId: listMetrics
      x-codeSamples:
        - lang: cURL
          source: |
            curl https://api.growthbook.io/api/v1/metrics \
              -u secret_abc123DEF456:
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    required:
                      - metrics
                    properties:
                      metrics:
                        type: array
                        items:
                          $ref: '#/components/schemas/Metric'
                  - $ref: '#/components/schemas/PaginationFields'
    post:
      parameters: []
      tags:
        - metrics
      summary: Create a single metric
      operationId: postMetric
      x-codeSamples:
        - lang: cURL
          source: |
            curl -X POST https://api.growthbook.io/api/v1/metrics \
              -d '{ "datasourceId": "ds_abc123", ... }'
              -u secret_abc123DEF456:
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - datasourceId
                - name
                - type
              properties:
                datasourceId:
                  type: string
                  description: 'ID for the [DataSource](#tag/DataSource_model)'
                managedBy:
                  type: string
                  description: 'Where this metric must be managed from. If not set (empty string), it can be managed from anywhere.'
                  enum:
                    - ''
                    - api
                owner:
                  type: string
                  description: Name of the person who owns this metric
                name:
                  type: string
                  description: Name of the metric
                description:
                  type: string
                  description: Description of the metric
                type:
                  type: string
                  description: 'Type of metric. See [Metrics documentation](/app/metrics)'
                  enum:
                    - binomial
                    - count
                    - duration
                    - revenue
                tags:
                  type: array
                  description: List of tags
                  items:
                    type: string
                projects:
                  type: array
                  description: List of project IDs for projects that can access this metric
                  items:
                    type: string
                archived:
                  type: boolean
                behavior:
                  type: object
                  required: []
                  properties:
                    goal:
                      type: string
                      enum:
                        - increase
                        - decrease
                    cappingSettings:
                      description: Controls how outliers are handled
                      type: object
                      required:
                        - type
                      properties:
                        type:
                          type: string
                          nullable: true
                          enum:
                            - none
                            - absolute
                            - percentile
                        value:
                          type: number
                          description: 'When type is absolute, this is the absolute value. When type is percentile, this is the percentile value (from 0.0 to 1.0).'
                        ignoreZeros:
                          type: boolean
                          description: 'If true and capping is `percentile`, zeros will be ignored when calculating the percentile.'
                    cap:
                      type: number
                      deprecated: true
                      description: '(deprecated, use cappingSettings instead) This should be non-negative'
                      minimum: 0
                    capping:
                      type: string
                      nullable: true
                      deprecated: true
                      description: '(deprecated, use cappingSettings instead) Used in conjunction with `capValue` to set the capping (winsorization). Do not specify or set to null for no capping. "absolute" will cap user values at the `capValue` if it is greater than 0. "percentile" will cap user values at the percentile of user values in an experiment using the `capValue` for the percentile, if greater than 0. <br/>  If `behavior.capping` is non-null, you must specify `behavior.capValue`.'
                      enum:
                        - absolute
                        - percentile
                    capValue:
                      type: number
                      deprecated: true
                      description: '(deprecated, use cappingSettings instead) This should be non-negative. <br/> Must specify `behavior.capping` when setting `behavior.capValue`.'
                      minimum: 0
                    windowSettings:
                      type: object
                      description: Controls the conversion window for the metric
                      required:
                        - type
                      properties:
                        type:
                          type: string
                          enum:
                            - none
                            - conversion
                            - lookback
                        delayHours:
                          type: number
                          description: Wait this many hours after experiment exposure before counting conversions
                        windowValue:
                          type: number
                        windowUnit:
                          type: string
                          enum:
                            - hours
                            - days
                            - weeks
                    conversionWindowStart:
                      type: number
                      deprecated: true
                      description: 'The start of a Conversion Window relative to the exposure date, in hours. This is equivalent to the [Conversion Delay](/app/metrics#conversion-delay). <br/> Must specify both `behavior.conversionWindowStart` and `behavior.conversionWindowEnd` or neither.'
                    conversionWindowEnd:
                      type: number
                      deprecated: true
                      description: 'The end of a [Conversion Window](/app/metrics#conversion-window) relative to the exposure date, in hours. This is equivalent to the [Conversion Delay](/app/metrics#conversion-delay) + Conversion Window Hours settings in the UI. In other words, if you want a 48 hour window starting after 24 hours, you would set conversionWindowStart to 24 and conversionWindowEnd to 72 (24+48). <br/> Must specify both `behavior.conversionWindowStart` and `behavior.conversionWindowEnd` or neither.'
                    priorSettings:
                      type: object
                      description: 'Controls the bayesian prior for the metric. If omitted, organization defaults will be used.'
                      required:
                        - override
                        - proper
                        - mean
                        - stddev
                      properties:
                        override:
                          type: boolean
                          description: 'If false, the organization default settings will be used instead of the other settings in this object'
                        proper:
                          type: boolean
                          description: 'If true, the `mean` and `stddev` will be used, otherwise we will use an improper flat prior.'
                        mean:
                          type: number
                          description: The mean of the prior distribution of relative effects in proportion terms (e.g. 0.01 is 1%)
                        stddev:
                          type: number
                          description: Must be > 0. The standard deviation of the prior distribution of relative effects in proportion terms.
                          minimum: 0
                          exclusiveMinimum: true
                    riskThresholdSuccess:
                      type: number
                      description: 'Threshold for Risk to be considered low enough, as a proportion (e.g. put 0.0025 for 0.25%). <br/> Must be a non-negative number and must not be higher than `riskThresholdDanger`.'
                      minimum: 0
                    riskThresholdDanger:
                      type: number
                      description: 'Threshold for Risk to be considered too high, as a proportion (e.g. put 0.0125 for 1.25%). <br/> Must be a non-negative number.'
                      minimum: 0
                    minPercentChange:
                      type: number
                      description: 'Minimum percent change to consider uplift significant, as a proportion (e.g. put 0.005 for 0.5%)'
                      minimum: 0
                    maxPercentChange:
                      type: number
                      description: 'Maximum percent change to consider uplift significant, as a proportion (e.g. put 0.5 for 50%)'
                      minimum: 0
                    minSampleSize:
                      type: number
                      minimum: 0
                sql:
                  type: object
                  description: 'Preferred way to define SQL. Only one of `sql`, `sqlBuilder` or `mixpanel` allowed, and at least one must be specified.'
                  required:
                    - identifierTypes
                    - conversionSQL
                  properties:
                    identifierTypes:
                      type: array
                      items:
                        type: string
                    conversionSQL:
                      type: string
                    userAggregationSQL:
                      type: string
                      description: 'Custom user level aggregation for your metric (default: `SUM(value)`)'
                    denominatorMetricId:
                      type: string
                      description: 'The metric ID for a [denominator metric for funnel and ratio metrics](/app/metrics#denominator-ratio--funnel-metrics)'
                sqlBuilder:
                  type: object
                  description: 'An alternative way to specify a SQL metric, rather than a full query. Using `sql` is preferred to `sqlBuilder`. Only one of `sql`, `sqlBuilder` or `mixpanel` allowed, and at least one must be specified.'
                  required:
                    - identifierTypeColumns
                    - tableName
                    - timestampColumnName
                  properties:
                    identifierTypeColumns:
                      type: array
                      items:
                        type: object
                        required:
                          - identifierType
                          - columnName
                        properties:
                          identifierType:
                            type: string
                          columnName:
                            type: string
                    tableName:
                      type: string
                    valueColumnName:
                      type: string
                    timestampColumnName:
                      type: string
                    conditions:
                      type: array
                      items:
                        type: object
                        required:
                          - column
                          - operator
                          - value
                        properties:
                          column:
                            type: string
                          operator:
                            type: string
                          value:
                            type: string
                mixpanel:
                  type: object
                  description: 'Only use for MixPanel (non-SQL) Data Sources. Only one of `sql`, `sqlBuilder` or `mixpanel` allowed, and at least one must be specified.'
                  required:
                    - eventName
                    - userAggregation
                  properties:
                    eventName:
                      type: string
                    eventValue:
                      type: string
                    userAggregation:
                      type: string
                    conditions:
                      type: array
                      items:
                        type: object
                        required:
                          - property
                          - operator
                          - value
                        properties:
                          property:
                            type: string
                          operator:
                            type: string
                          value:
                            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                required:
                  - metric
                properties:
                  metric:
                    $ref: '#/components/schemas/Metric'
  '/metrics/{id}':
    get:
      parameters:
        - $ref: '#/components/parameters/id'
      summary: Get a single metric
      tags:
        - metrics
      operationId: getMetric
      x-codeSamples:
        - lang: cURL
          source: |
            curl https://api.growthbook.io/api/v1/metrics/met_123abc \
              -u secret_abc123DEF456:
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                required:
                  - metric
                properties:
                  metric:
                    $ref: '#/components/schemas/Metric'
    put:
      parameters:
        - $ref: '#/components/parameters/id'
      tags:
        - metrics
      summary: Update a metric
      operationId: putMetric
      x-codeSamples:
        - lang: cURL
          source: |
            curl -XPUT https://api.growthbook.io/api/v1/metrics/met_123abc \
              -d '{"name": "net revenue", "description":"revenue minus lacroix spend"}' \
              -u secret_abc123DEF456:
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                managedBy:
                  type: string
                  description: 'Where this metric must be managed from. If not set (empty string), it can be managed from anywhere.'
                  enum:
                    - ''
                    - api
                owner:
                  type: string
                  description: Name of the person who owns this metric
                name:
                  type: string
                  description: Name of the metric
                description:
                  type: string
                  description: Description of the metric
                type:
                  type: string
                  description: 'Type of metric. See [Metrics documentation](/app/metrics)'
                  enum:
                    - binomial
                    - count
                    - duration
                    - revenue
                tags:
                  type: array
                  description: List of tags
                  items:
                    type: string
                projects:
                  type: array
                  description: List of project IDs for projects that can access this metric
                  items:
                    type: string
                archived:
                  type: boolean
                behavior:
                  type: object
                  required: []
                  properties:
                    goal:
                      type: string
                      enum:
                        - increase
                        - decrease
                    cappingSettings:
                      description: Controls how outliers are handled
                      type: object
                      required:
                        - type
                      properties:
                        type:
                          type: string
                          nullable: true
                          enum:
                            - none
                            - absolute
                            - percentile
                        value:
                          type: number
                          description: 'When type is absolute, this is the absolute value. When type is percentile, this is the percentile value (from 0.0 to 1.0).'
                        ignoreZeros:
                          type: boolean
                          description: 'If true and capping is `percentile`, zeros will be ignored when calculating the percentile.'
                    cap:
                      type: number
                      deprecated: true
                      description: '(deprecated, use cappingSettings instead) This should be non-negative'
                      minimum: 0
                    capping:
                      type: string
                      nullable: true
                      deprecated: true
                      description: '(deprecated, use cappingSettings instead) Used in conjunction with `capValue` to set the capping (winsorization). Do not specify or set to null for no capping. "absolute" will cap user values at the `capValue` if it is greater than 0. "percentile" will cap user values at the percentile of user values in an experiment using the `capValue` for the percentile, if greater than 0. <br/>  If `behavior.capping` is non-null, you must specify `behavior.capValue`.'
                      enum:
                        - absolute
                        - percentile
                    capValue:
                      type: number
                      deprecated: true
                      description: '(deprecated, use cappingSettings instead) This should be non-negative. <br/> Must specify `behavior.capping` when setting `behavior.capValue`.'
                      minimum: 0
                    windowSettings:
                      type: object
                      description: Controls the conversion window for the metric
                      required:
                        - type
                      properties:
                        type:
                          type: string
                          enum:
                            - none
                            - conversion
                            - lookback
                        delayHours:
                          type: number
                          description: Wait this many hours after experiment exposure before counting conversions
                        windowValue:
                          type: number
                        windowUnit:
                          type: string
                          enum:
                            - hours
                            - days
                            - weeks
                    conversionWindowStart:
                      type: number
                      deprecated: true
                      description: 'The start of a Conversion Window relative to the exposure date, in hours. This is equivalent to the [Conversion Delay](/app/metrics#conversion-delay). <br/> Must specify both `behavior.conversionWindowStart` and `behavior.conversionWindowEnd` or neither.'
                    conversionWindowEnd:
                      type: number
                      deprecated: true
                      description: 'The end of a [Conversion Window](/app/metrics#conversion-window) relative to the exposure date, in hours. This is equivalent to the [Conversion Delay](/app/metrics#conversion-delay) + Conversion Window Hours settings in the UI. In other words, if you want a 48 hour window starting after 24 hours, you would set conversionWindowStart to 24 and conversionWindowEnd to 72 (24+48). <br/> Must specify both `behavior.conversionWindowStart` and `behavior.conversionWindowEnd` or neither.'
                    priorSettings:
                      type: object
                      description: 'Controls the bayesian prior for the metric. If omitted, organization defaults will be used.'
                      required:
                        - override
                        - proper
                        - mean
                        - stddev
                      properties:
                        override:
                          type: boolean
                          description: 'If false, the organization default settings will be used instead of the other settings in this object'
                        proper:
                          type: boolean
                          description: 'If true, the `mean` and `stddev` will be used, otherwise we will use an improper flat prior.'
                        mean:
                          type: number
                          description: The mean of the prior distribution of relative effects in proportion terms (e.g. 0.01 is 1%)
                        stddev:
                          type: number
                          description: Must be > 0. The standard deviation of the prior distribution of relative effects in proportion terms.
                          minimum: 0
                          exclusiveMinimum: true
                    riskThresholdSuccess:
                      type: number
                      description: 'Threshold for Risk to be considered low enough, as a proportion (e.g. put 0.0025 for 0.25%). <br/> Must be a non-negative number and must not be higher than `riskThresholdDanger`.'
                      minimum: 0
                    riskThresholdDanger:
                      type: number
                      description: 'Threshold for Risk to be considered too high, as a proportion (e.g. put 0.0125 for 1.25%). <br/> Must be a non-negative number.'
                      minimum: 0
                    minPercentChange:
                      type: number
                      description: 'Minimum percent change to consider uplift significant, as a proportion (e.g. put 0.005 for 0.5%)'
                      minimum: 0
                    maxPercentChange:
                      type: number
                      description: 'Maximum percent change to consider uplift significant, as a proportion (e.g. put 0.5 for 50%)'
                      minimum: 0
                    minSampleSize:
                      type: number
                      minimum: 0
                sql:
                  type: object
                  description: 'Preferred way to define SQL. Only one of `sql`, `sqlBuilder` or `mixpanel` allowed.'
                  properties:
                    identifierTypes:
                      type: array
                      items:
                        type: string
                    conversionSQL:
                      type: string
                    userAggregationSQL:
                      type: string
                      description: 'Custom user level aggregation for your metric (default: `SUM(value)`)'
                    denominatorMetricId:
                      type: string
                      description: 'The metric ID for a [denominator metric for funnel and ratio metrics](/app/metrics#denominator-ratio--funnel-metrics)'
                sqlBuilder:
                  type: object
                  description: 'An alternative way to specify a SQL metric, rather than a full query. Using `sql` is preferred to `sqlBuilder`. Only one of `sql`, `sqlBuilder` or `mixpanel` allowed'
                  properties:
                    identifierTypeColumns:
                      type: array
                      items:
                        type: object
                        required:
                          - identifierType
                          - columnName
                        properties:
                          identifierType:
                            type: string
                          columnName:
                            type: string
                    tableName:
                      type: string
                    valueColumnName:
                      type: string
                    timestampColumnName:
                      type: string
                    conditions:
                      type: array
                      items:
                        type: object
                        required:
                          - column
                          - operator
                          - value
                        properties:
                          column:
                            type: string
                          operator:
                            type: string
                          value:
                            type: string
                mixpanel:
                  type: object
                  description: 'Only use for MixPanel (non-SQL) Data Sources. Only one of `sql`, `sqlBuilder` or `mixpanel` allowed.'
                  properties:
                    eventName:
                      type: string
                    eventValue:
                      type: string
                    userAggregation:
                      type: string
                    conditions:
                      type: array
                      items:
                        type: object
                        required:
                          - property
                          - operator
                          - value
                        properties:
                          property:
                            type: string
                          operator:
                            type: string
                          value:
                            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                required:
                  - updatedId
                properties:
                  updatedId:
                    type: string
    delete:
      summary: Deletes a metric
      parameters:
        - $ref: '#/components/parameters/id'
      tags:
        - metrics
      operationId: deleteMetric
      x-codeSamples:
        - lang: cURL
          source: |
            curl -X DELETE https://api.growthbook.io/api/v1/metrics/met_123abc \
              -u secret_abc123DEF456:
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                required:
                  - deletedId
                properties:
                  deletedId:
                    type: string
  '/experiments/{id}/visual-changesets':
    get:
      summary: Get all visual changesets
      tags:
        - visual-changesets
      parameters:
        - id: null
          name: id
          in: path
          required: true
          description: The experiment id the visual changesets belong to
          schema:
            type: string
      operationId: listVisualChangesets
      x-codeSamples:
        - lang: cURL
          source: |
            curl https://api.growthbook.io/api/v1/experiments/exp_123abc/visual-changesets \
              -u secret_abc123DEF456:
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    required:
                      - visualChangesets
                    properties:
                      visualChangesets:
                        type: array
                        items:
                          $ref: '#/components/schemas/VisualChangeset'
  '/visual-changesets/{id}':
    get:
      parameters:
        - $ref: '#/components/parameters/id'
        - in: query
          name: includeExperiment
          schema:
            type: integer
          description: Include the associated experiment in payload
      tags:
        - visual-changesets
      summary: Get a single visual changeset
      operationId: getVisualChangeset
      x-codeSamples:
        - lang: cURL
          source: |
            curl https://api.growthbook.io/api/v1/visual-changesets/ds_123abc \
              -u secret_abc123DEF456:
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                required:
                  - visualChangeset
                properties:
                  visualChangeset:
                    $ref: '#/components/schemas/VisualChangeset'
                  experiment:
                    $ref: '#/components/schemas/Experiment'
    put:
      parameters:
        - $ref: '#/components/parameters/id'
      tags:
        - visual-changesets
      summary: Update a visual changeset
      operationId: putVisualChangeset
      x-codeSamples:
        - lang: cURL
          source: |
            curl -XPUT https://api.growthbook.io/api/v1/visual-changesets/vc_123abc
              -d '{"editorUrl": "https://docs.growthbook.io", "urlPatterns":"[{ ... }]"}' \
              -u secret_abc123DEF456:
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                required:
                  - nModified
                  - visualChangeset
                properties:
                  nModified:
                    type: number
                  visualChangeset:
                    $ref: '#/components/schemas/VisualChangeset'
  '/visual-changesets/{id}/visual-change':
    parameters:
      - $ref: '#/components/parameters/id'
    post:
      tags:
        - visual-changesets
      summary: Create a visual change for a visual changeset
      operationId: postVisualChange
      x-codeSamples:
        - lang: cURL
          source: |
            curl -XPOST https://api.growthbook.io/api/v1/visual-changesets/vc_123abc/visual-change \
              -d '{"variation": "v_123abc", "domMutations":"[]"}' \
              -u secret_abc123DEF456:
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                required:
                  - nModified
                properties:
                  nModified:
                    type: number
  '/visual-changesets/{id}/visual-change/{visualChangeId}':
    parameters:
      - $ref: '#/components/parameters/id'
      - $ref: '#/components/parameters/visualChangeId'
    put:
      tags:
        - visual-changesets
      summary: Update a visual change for a visual changeset
      operationId: putVisualChange
      x-codeSamples:
        - lang: cURL
          source: |
            curl -XPUT https://api.growthbook.io/api/v1/visual-changesets/vc_123abc/visual-change/vch_abc123 \
              -d '{"variation": "v_123abc", "domMutations":"[]"}' \
              -u secret_abc123DEF456:
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                required:
                  - nModified
                properties:
                  nModified:
                    type: number
  /saved-groups:
    get:
      summary: Get all saved group
      tags:
        - saved-groups
      parameters:
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
      operationId: listSavedGroups
      x-codeSamples:
        - lang: cURL
          source: |
            curl https://api.growthbook.io/api/v1/saved-groups \
              -u secret_abc123DEF456:
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    required:
                      - savedGroups
                    properties:
                      savedGroups:
                        type: array
                        items:
                          $ref: '#/components/schemas/SavedGroup'
                  - $ref: '#/components/schemas/PaginationFields'
    post:
      parameters: []
      tags:
        - saved-groups
      summary: Create a single saved group
      operationId: postSavedGroup
      x-codeSamples:
        - lang: cURL
          source: |
            curl -X POST https://api.growthbook.io/api/v1/saved-groups \
              -d '{"name": "interal-users", "values": ["userId-123", "userId-345", "userId-678"], "attributeKey": "userId", "owner": ""}' \
              -u secret_abc123DEF456:
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
              properties:
                name:
                  type: string
                  description: The display name of the Saved Group
                type:
                  type: string
                  enum:
                    - condition
                    - list
                  description: The type of Saved Group (inferred from other arguments if missing)
                condition:
                  type: string
                  description: 'When type = ''condition'', this is the JSON-encoded condition for the group'
                attributeKey:
                  type: string
                  description: 'When type = ''list'', this is the attribute key the group is based on'
                values:
                  type: array
                  items:
                    type: string
                  description: 'When type = ''list'', this is the list of values for the attribute key'
                owner:
                  type: string
                  description: 'The person or team that owns this Saved Group. If no owner, you can pass an empty string.'
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                required:
                  - savedGroup
                properties:
                  savedGroup:
                    $ref: '#/components/schemas/SavedGroup'
  '/saved-groups/{id}':
    get:
      parameters:
        - $ref: '#/components/parameters/id'
      tags:
        - saved-groups
      summary: Get a single saved group
      operationId: getSavedGroup
      x-codeSamples:
        - lang: cURL
          source: |
            curl https://api.growthbook.io/api/v1/saved-groups/ds_123abc \
              -u secret_abc123DEF456:
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                required:
                  - savedGroup
                properties:
                  savedGroup:
                    $ref: '#/components/schemas/SavedGroup'
    post:
      summary: Partially update a single saved group
      parameters:
        - $ref: '#/components/parameters/id'
      tags:
        - saved-groups
      operationId: updateSavedGroup
      x-codeSamples:
        - lang: cURL
          source: |
            curl -X POST https://api.growthbook.io/api/v1/saved-groups/grp_123abc \
              -d '{"values": [ "userId-123", "userId-345" ]}' \
              -u secret_abc123DEF456:
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: []
              properties:
                name:
                  type: string
                  description: The display name of the Saved Group
                condition:
                  type: string
                  description: 'When type = ''condition'', this is the JSON-encoded condition for the group'
                values:
                  type: array
                  items:
                    type: string
                  description: 'When type = ''list'', this is the list of values for the attribute key'
                owner:
                  type: string
                  description: 'The person or team that owns this Saved Group. If no owner, you can pass an empty string.'
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                required:
                  - savedGroup
                properties:
                  savedGroup:
                    $ref: '#/components/schemas/SavedGroup'
    delete:
      summary: Deletes a single saved group
      parameters:
        - $ref: '#/components/parameters/id'
      tags:
        - saved-groups
      operationId: deleteSavedGroup
      x-codeSamples:
        - lang: cURL
          source: |
            curl -X DELETE https://api.growthbook.io/api/v1/saved-groups/grp_123abc \
              -u secret_abc123DEF456:
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                required:
                  - deletedId
                properties:
                  deletedId:
                    type: string
  /organizations:
    get:
      summary: Get all organizations (only for super admins on multi-org Enterprise Plan only)
      tags:
        - organizations
      parameters:
        - name: search
          in: query
          description: 'Search string to search organization names, owner emails, and external ids by'
          schema:
            type: string
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
      operationId: listOrganizations
      x-codeSamples:
        - lang: cURL
          source: |
            curl https://api.growthbook.io/api/v1/organizations \
              -u secret_abc123DEF456:
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    required:
                      - organizations
                    properties:
                      organizations:
                        type: array
                        items:
                          $ref: '#/components/schemas/Organization'
                  - $ref: '#/components/schemas/PaginationFields'
    post:
      parameters: []
      tags:
        - organizations
      summary: Create a single organization (only for super admins on multi-org Enterprise Plan only)
      operationId: postOrganization
      x-codeSamples:
        - lang: cURL
          source: |
            curl -X POST https://api.growthbook.io/api/v1/organizations \
              -d '{ "name": "My Subsidiary" }' \
              -u secret_abc123DEF456:
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
              properties:
                name:
                  type: string
                  description: The name of the organization
                externalId:
                  type: string
                  description: An optional identifier that you use within your company for the organization
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                required:
                  - organization
                properties:
                  organization:
                    $ref: '#/components/schemas/Organization'
  '/organizations/{id}':
    put:
      parameters:
        - $ref: '#/components/parameters/id'
      tags:
        - organizations
[...]
