openapi: 3.1.0
info:
  version: 1.0.0
  title: GrowthBook REST API
  description: |
    GrowthBook offers a full REST API for interacting with the application.

    Request data can use either JSON or Form data encoding (with proper `Content-Type` headers). All response bodies are JSON-encoded.

    The API base URL for GrowthBook Cloud is `https://api.growthbook.io`. For self-hosted deployments, it is the same as your API_HOST environment variable (defaults to `http://localhost:3100`). The rest of these docs will assume you are using GrowthBook Cloud.

    ## Authentication

    We support both the HTTP Basic and Bearer authentication schemes for convenience.

    You first need to generate a new API Key in GrowthBook. Different keys have different permissions:

    - **Personal Access Tokens**: These are sensitive and provide the same level of access as the user has to an organization. These can be created by going to `Personal Access Tokens` under the your user menu.
    - **Secret Keys**: These are sensitive and provide the level of access for the role, which currently is either `admin` or `readonly`. Only Admins with the `manageApiKeys` permission can manage Secret Keys on behalf of an organization. These can be created by going to `Settings -> API Keys`

    If using HTTP Basic auth, pass the Secret Key as the username and leave the password blank:

    ```bash
    curl https://api.growthbook.io/api/v1 \
      -u secret_abc123DEF456:
    # The ":" at the end stops curl from asking for a password
    ```

    If using Bearer auth, pass the Secret Key as the token:

    ```bash
    curl https://api.growthbook.io/api/v1 \
    -H "Authorization: Bearer secret_abc123DEF456"
    ```

    ## Errors

    The API may return the following error status codes:

    - **400** - Bad Request - Often due to a missing required parameter
    - **401** - Unauthorized - No valid API key provided
    - **402** - Request Failed - The parameters are valid, but the request failed
    - **403** - Forbidden - Provided API key does not have the required access
    - **404** - Not Found - Unknown API route or requested resource
    - **429** - Too Many Requests - You exceeded the rate limit of 60 requests per minute. Try again later.
    - **5XX** - Server Error - Something went wrong on GrowthBook's end (these are rare)

    The response body will be a JSON object with the following properties:

    - **message** - Information about the error
servers:
  - url: 'https://api.growthbook.io/api/v1'
    description: GrowthBook Cloud
  - url: '{domain}/api/v1'
    description: Self-hosted GrowthBook
    variables:
      domain:
        default: 'http://localhost:3100'
tags:
  - name: projects
    x-displayName: Projects
    description: Projects are used to organize your feature flags and experiments
  - name: environments
    x-displayName: Environments
    description: 'GrowthBook comes with one environment by default (production), but you can add as many as you need. When used with feature flags, you can enable/disable feature flags on a per-environment basis.'
  - name: features
    x-displayName: Feature Flags
    description: Control your feature flags programatically
  - name: data-sources
    x-displayName: Data Sources
    description: How GrowthBook connects and queries your data
  - name: fact-tables
    x-displayName: Fact Tables
    description: Fact Tables describe the shape of your data warehouse tables
  - name: fact-metrics
    x-displayName: Fact Metrics
    description: Fact Metrics are metrics built on top of Fact Table definitions
  - name: metrics
    x-displayName: Metrics (legacy)
    description: Metrics used as goals and guardrails for experiments
  - name: experiments
    x-displayName: Experiments
    description: Experiments (A/B Tests)
  - name: snapshots
    x-displayName: Experiment Snapshots
    description: Experiment Snapshots (the individual updates of an experiment)
  - name: dimensions
    x-displayName: Dimensions
    description: Dimensions used during experiment analysis
  - name: segments
    x-displayName: Segments
    description: Segments used during experiment analysis
  - name: sdk-connections
    x-displayName: SDK Connections
    description: Client keys and settings for connecting SDKs to a GrowthBook instance
  - name: visual-changesets
    x-displayName: Visual Changesets
    description: Groups of visual changes made by the visual editor to a single page
  - name: saved-groups
    x-displayName: Saved Groups
    description: Defined sets of attribute values which can be used with feature rules for targeting features at particular users.
  - name: organizations
    x-displayName: Organizations
    description: Organizations are used for multi-org deployments where different teams can run their own isolated feature flags and experiments. These endpoints are only via a super-admin's Personal Access Token.
  - name: members
    x-displayName: Members
    description: Members are users who have been invited to an organization.
  - name: code-references
    x-displayName: Code References
    description: 'Intended for use with our code reference CI utility, [`gb-find-code-refs`](https://github.com/growthbook/gb-find-code-refs).'
  - name: archetypes
    x-displayName: Archetypes
    description: Archetypes allow you to simulate the result of targeting rules on pre-set user attributes
  - name: queries
    x-displayName: Queries
    description: Retrieve queries used in experiments to calculate results.
  - name: settings
    x-displayName: Settings
    description: Get the organization settings.
  - name: custom-fields
    x-displayName: Custom Fields
    description: Custom fields for the organization.
  - name: attributes
    x-displayName: Attributes
    description: Used when targeting feature flags and experiments.
  - name: Archetype_model
    x-displayName: Archetype
    description: <SchemaDefinition schemaRef="#/components/schemas/Archetype" />
  - name: Attribute_model
    x-displayName: Attribute
    description: <SchemaDefinition schemaRef="#/components/schemas/Attribute" />
  - name: CodeRef_model
    x-displayName: CodeRef
    description: <SchemaDefinition schemaRef="#/components/schemas/CodeRef" />
  - name: CustomField_model
    x-displayName: CustomField
    description: <SchemaDefinition schemaRef="#/components/schemas/CustomField" />
  - name: DataSource_model
    x-displayName: DataSource
    description: <SchemaDefinition schemaRef="#/components/schemas/DataSource" />
  - name: Dimension_model
    x-displayName: Dimension
    description: <SchemaDefinition schemaRef="#/components/schemas/Dimension" />
  - name: Environment_model
    x-displayName: Environment
    description: <SchemaDefinition schemaRef="#/components/schemas/Environment" />
  - name: Experiment_model
    x-displayName: Experiment
    description: <SchemaDefinition schemaRef="#/components/schemas/Experiment" />
  - name: ExperimentAnalysisSettings_model
    x-displayName: ExperimentAnalysisSettings
    description: <SchemaDefinition schemaRef="#/components/schemas/ExperimentAnalysisSettings" />
  - name: ExperimentMetric_model
    x-displayName: ExperimentMetric
    description: <SchemaDefinition schemaRef="#/components/schemas/ExperimentMetric" />
  - name: ExperimentResults_model
    x-displayName: ExperimentResults
    description: <SchemaDefinition schemaRef="#/components/schemas/ExperimentResults" />
  - name: ExperimentSnapshot_model
    x-displayName: ExperimentSnapshot
    description: <SchemaDefinition schemaRef="#/components/schemas/ExperimentSnapshot" />
  - name: ExperimentWithEnhancedStatus_model
    x-displayName: ExperimentWithEnhancedStatus
    description: <SchemaDefinition schemaRef="#/components/schemas/ExperimentWithEnhancedStatus" />
  - name: FactMetric_model
    x-displayName: FactMetric
    description: <SchemaDefinition schemaRef="#/components/schemas/FactMetric" />
  - name: FactTable_model
    x-displayName: FactTable
    description: <SchemaDefinition schemaRef="#/components/schemas/FactTable" />
  - name: FactTableColumn_model
    x-displayName: FactTableColumn
    description: <SchemaDefinition schemaRef="#/components/schemas/FactTableColumn" />
  - name: FactTableFilter_model
    x-displayName: FactTableFilter
    description: <SchemaDefinition schemaRef="#/components/schemas/FactTableFilter" />
  - name: Feature_model
    x-displayName: Feature
    description: <SchemaDefinition schemaRef="#/components/schemas/Feature" />
  - name: FeatureDefinition_model
    x-displayName: FeatureDefinition
    description: <SchemaDefinition schemaRef="#/components/schemas/FeatureDefinition" />
  - name: FeatureEnvironment_model
    x-displayName: FeatureEnvironment
    description: <SchemaDefinition schemaRef="#/components/schemas/FeatureEnvironment" />
  - name: FeatureExperimentRefRule_model
    x-displayName: FeatureExperimentRefRule
    description: <SchemaDefinition schemaRef="#/components/schemas/FeatureExperimentRefRule" />
  - name: FeatureExperimentRule_model
    x-displayName: FeatureExperimentRule
    description: <SchemaDefinition schemaRef="#/components/schemas/FeatureExperimentRule" />
  - name: FeatureForceRule_model
    x-displayName: FeatureForceRule
    description: <SchemaDefinition schemaRef="#/components/schemas/FeatureForceRule" />
  - name: FeatureRevision_model
    x-displayName: FeatureRevision
    description: <SchemaDefinition schemaRef="#/components/schemas/FeatureRevision" />
  - name: FeatureRolloutRule_model
    x-displayName: FeatureRolloutRule
    description: <SchemaDefinition schemaRef="#/components/schemas/FeatureRolloutRule" />
  - name: FeatureRule_model
    x-displayName: FeatureRule
    description: <SchemaDefinition schemaRef="#/components/schemas/FeatureRule" />
  - name: FeatureSafeRolloutRule_model
    x-displayName: FeatureSafeRolloutRule
    description: <SchemaDefinition schemaRef="#/components/schemas/FeatureSafeRolloutRule" />
  - name: FeatureWithRevisions_model
    x-displayName: FeatureWithRevisions
    description: <SchemaDefinition schemaRef="#/components/schemas/FeatureWithRevisions" />
  - name: Member_model
    x-displayName: Member
    description: <SchemaDefinition schemaRef="#/components/schemas/Member" />
  - name: Metric_model
    x-displayName: Metric
    description: <SchemaDefinition schemaRef="#/components/schemas/Metric" />
  - name: MetricAnalysis_model
    x-displayName: MetricAnalysis
    description: <SchemaDefinition schemaRef="#/components/schemas/MetricAnalysis" />
  - name: Organization_model
    x-displayName: Organization
    description: <SchemaDefinition schemaRef="#/components/schemas/Organization" />
  - name: PaginationFields_model
    x-displayName: PaginationFields
    description: <SchemaDefinition schemaRef="#/components/schemas/PaginationFields" />
  - name: Project_model
    x-displayName: Project
    description: <SchemaDefinition schemaRef="#/components/schemas/Project" />
  - name: Query_model
    x-displayName: Query
    description: <SchemaDefinition schemaRef="#/components/schemas/Query" />
  - name: SavedGroup_model
    x-displayName: SavedGroup
    description: <SchemaDefinition schemaRef="#/components/schemas/SavedGroup" />
  - name: ScheduleRule_model
    x-displayName: ScheduleRule
    description: <SchemaDefinition schemaRef="#/components/schemas/ScheduleRule" />
  - name: SdkConnection_model
    x-displayName: SdkConnection
    description: <SchemaDefinition schemaRef="#/components/schemas/SdkConnection" />
  - name: Segment_model
    x-displayName: Segment
    description: <SchemaDefinition schemaRef="#/components/schemas/Segment" />
  - name: Settings_model
    x-displayName: Settings
    description: <SchemaDefinition schemaRef="#/components/schemas/Settings" />
  - name: VisualChange_model
    x-displayName: VisualChange
    description: <SchemaDefinition schemaRef="#/components/schemas/VisualChange" />
  - name: VisualChangeset_model
    x-displayName: VisualChangeset
    description: <SchemaDefinition schemaRef="#/components/schemas/VisualChangeset" />
  - name: Dashboard_model
    x-displayName: Dashboard
    description: <SchemaDefinition schemaRef="#/components/schemas/Dashboard" />
paths:
  /features:
    get:
      summary: Get all features
      tags:
        - features
      parameters:
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/projectId'
        - $ref: '#/components/parameters/clientKey'
      operationId: listFeatures
      x-codeSamples:
        - lang: cURL
          source: |
            curl https://api.growthbook.io/api/v1/features \
              -u secret_abc123DEF456:
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    required:
                      - features
                    properties:
                      features:
                        type: array
                        items:
                          $ref: '#/components/schemas/Feature'
                  - $ref: '#/components/schemas/PaginationFields'
    post:
      summary: Create a single feature
      parameters: []
      tags:
        - features
      operationId: postFeature
      x-codeSamples:
        - lang: cURL
          source: |
            curl -X POST https://api.growthbook.io/api/v1/features \
              -d '{ "id": "test-01", "description": "A cool feature", ... }'
              -u secret_abc123DEF456:
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - id
                - owner
                - valueType
                - defaultValue
              properties:
                id:
                  type: string
                  minLength: 1
                  description: 'A unique key name for the feature. Feature keys can only include letters, numbers, hyphens, and underscores.'
                archived:
                  type: boolean
                description:
                  type: string
                  description: Description of the feature
                owner:
                  type: string
                  description: Email of the person who owns this experiment
                project:
                  type: string
                  description: An associated project ID
                valueType:
                  type: string
                  description: The data type of the feature payload. Boolean by default.
                  enum:
                    - boolean
                    - string
                    - number
                    - json
                defaultValue:
                  description: Default value when feature is enabled. Type must match `valueType`.
                  type: string
                tags:
                  type: array
                  items:
                    type: string
                  description: List of associated tags
                environments:
                  type: object
                  description: A dictionary of environments that are enabled for this feature. Keys supply the names of environments. Environments belong to organization and are not specified will be disabled by default.
                  additionalProperties:
                    type: object
                    required:
                      - enabled
                      - rules
                    properties:
                      enabled:
                        type: boolean
                      rules:
                        type: array
                        items:
                          anyOf:
                            - title: Force Rule
                              type: object
                              required:
                                - type
                                - value
                              properties:
                                description:
                                  type: string
                                condition:
                                  type: string
                                  description: Applied to everyone by default.
                                savedGroupTargeting:
                                  type: array
                                  items:
                                    type: object
                                    required:
                                      - matchType
                                      - savedGroups
                                    properties:
                                      matchType:
                                        type: string
                                        enum:
                                          - all
                                          - any
                                          - none
                                      savedGroups:
                                        type: array
                                        items:
                                          type: string
                                scheduleRules:
                                  type: array
                                  items:
                                    $ref: '#/components/schemas/ScheduleRule'
                                  example:
                                    - enabled: true
                                      timestamp: null
                                    - enabled: false
                                      timestamp: '2025-06-23T16:09:37.769Z'
                                id:
                                  type: string
                                enabled:
                                  type: boolean
                                  description: Enabled by default
                                type:
                                  type: string
                                  enum:
                                    - force
                                value:
                                  type: string
                            - title: Rollout Rule
                              type: object
                              required:
                                - type
                                - value
                                - coverage
                                - hashAttribute
                              properties:
                                description:
                                  type: string
                                condition:
                                  type: string
                                  description: Applied to everyone by default.
                                savedGroupTargeting:
                                  type: array
                                  items:
                                    type: object
                                    required:
                                      - matchType
                                      - savedGroups
                                    properties:
                                      matchType:
                                        type: string
                                        enum:
                                          - all
                                          - any
                                          - none
                                      savedGroups:
                                        type: array
                                        items:
                                          type: string
                                prerequisites:
                                  type: array
                                  items:
                                    type: object
                                    required:
                                      - id
                                      - condition
                                    properties:
                                      id:
                                        type: string
                                        description: Feature ID
                                      condition:
                                        type: string
                                scheduleRules:
                                  type: array
                                  items:
                                    $ref: '#/components/schemas/ScheduleRule'
                                  example:
                                    - enabled: true
                                      timestamp: null
                                    - enabled: false
                                      timestamp: '2025-06-23T16:09:37.769Z'
                                id:
                                  type: string
                                enabled:
                                  type: boolean
                                  description: Enabled by default
                                type:
                                  type: string
                                  enum:
                                    - rollout
                                value:
                                  type: string
                                coverage:
                                  type: number
                                  description: Percent of traffic included in this experiment. Users not included in the experiment will skip this rule.
                                hashAttribute:
                                  type: string
                            - title: Experiment Rule
                              type: object
                              required:
                                - type
                                - variations
                                - experimentId
                              properties:
                                description:
                                  type: string
                                id:
                                  type: string
                                enabled:
                                  type: boolean
                                  description: Enabled by default
                                type:
                                  type: string
                                  enum:
                                    - experiment-ref
                                condition:
                                  type: string
                                savedGroupTargeting:
                                  type: array
                                  items:
                                    type: object
                                    required:
                                      - matchType
                                      - savedGroups
                                    properties:
                                      matchType:
                                        type: string
                                        enum:
                                          - all
                                          - any
                                          - none
                                      savedGroups:
                                        type: array
                                        items:
                                          type: string
                                prerequisites:
                                  type: array
                                  items:
                                    type: object
                                    required:
                                      - id
                                      - condition
                                    properties:
                                      id:
                                        type: string
                                        description: Feature ID
                                      condition:
                                        type: string
                                scheduleRules:
                                  type: array
                                  items:
                                    $ref: '#/components/schemas/ScheduleRule'
                                  example:
                                    - enabled: true
                                      timestamp: null
                                    - enabled: false
                                      timestamp: '2025-06-23T16:09:37.769Z'
                                variations:
                                  type: array
                                  items:
                                    type: object
                                    required:
                                      - value
                                      - variationId
                                    properties:
                                      value:
                                        type: string
                                      variationId:
                                        type: string
                                experimentId:
                                  type: string
                            - deprecated: true
                              title: Experiment (legacy)
                              type: object
                              required:
                                - condition
                                - type
                              properties:
                                description:
                                  type: string
                                condition:
                                  type: string
                                id:
                                  type: string
                                enabled:
                                  type: boolean
                                  description: Enabled by default
                                type:
                                  type: string
                                  enum:
                                    - experiment
                                trackingKey:
                                  type: string
                                hashAttribute:
                                  type: string
                                fallbackAttribute:
                                  type: string
                                disableStickyBucketing:
                                  type: boolean
                                bucketVersion:
                                  type: number
                                minBucketVersion:
                                  type: number
                                namespace:
                                  type: object
                                  required:
                                    - enabled
                                    - name
                                    - range
                                  properties:
                                    enabled:
                                      type: boolean
                                    name:
                                      type: string
                                    range:
                                      type: array
                                      items:
                                        type: number
                                      minItems: 2
                                      maxItems: 2
                                coverage:
                                  type: number
                                scheduleRules:
                                  type: array
                                  items:
                                    $ref: '#/components/schemas/ScheduleRule'
                                  example:
                                    - enabled: true
                                      timestamp: null
                                    - enabled: false
                                      timestamp: '2025-06-23T16:09:37.769Z'
                                values:
                                  type: array
                                  items:
                                    type: object
                                    required:
                                      - value
                                      - weight
                                    properties:
                                      value:
                                        type: string
                                      weight:
                                        type: number
                                      name:
                                        type: string
                                value:
                                  deprecated: true
                                  description: Support passing values under the value key as that was the original spec for FeatureExperimentRules
                                  type: array
                                  items:
                                    type: object
                                    required:
                                      - value
                                      - weight
                                    properties:
                                      value:
                                        type: string
                                      weight:
                                        type: number
                                      name:
                                        type: string
                      definition:
                        type: string
                        description: 'A JSON stringified [FeatureDefinition](#tag/FeatureDefinition_model)'
                      draft:
                        type: object
                        description: Use to write draft changes without publishing them.
                        required:
                          - rules
                        properties:
                          enabled:
                            type: boolean
                          rules:
                            type: array
                            items:
                              $ref: '#/paths/~1features/post/requestBody/content/application~1json/schema/properties/environments/additionalProperties/properties/rules/items'
                          definition:
                            type: string
                            description: 'A JSON stringified [FeatureDefinition](#tag/FeatureDefinition_model)'
                prerequisites:
                  type: array
                  description: Feature IDs. Each feature must evaluate to `true`
                  items:
                    type: string
                jsonSchema:
                  type: string
                  description: Use JSON schema to validate the payload of a JSON-type feature value (enterprise only).
                customFields:
                  type: object
                  additionalProperties:
                    type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                required:
                  - feature
                properties:
                  feature:
                    $ref: '#/components/schemas/Feature'
  '/features/{id}':
    get:
      parameters:
        - $ref: '#/components/parameters/id'
        - in: query
          name: withRevisions
          schema:
            type: string
            enum:
              - all
              - drafts
              - published
              - none
          required: false
          description: 'Also return feature revisions (all, draft, or published statuses)'
      summary: Get a single feature
      tags:
        - features
      operationId: getFeature
      x-codeSamples:
        - lang: cURL
          source: |
            curl https://api.growthbook.io/api/v1/features/my_feature \
              -u secret_abc123DEF456:
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                required:
                  - feature
                properties:
                  feature:
                    $ref: '#/components/schemas/FeatureWithRevisions'
    post:
      summary: Partially update a feature
      parameters:
        - $ref: '#/components/parameters/id'
      tags:
        - features
      operationId: updateFeature
      x-codeSamples:
        - lang: cURL
          source: |
            curl -X POST https://api.growthbook.io/api/v1/features/test-01 \
              -d '{ "description": "A cool feature flag", ... }'
              -u secret_abc123DEF456:
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                description:
                  type: string
                  description: Description of the feature
                archived:
                  type: boolean
                project:
                  type: string
                  description: An associated project ID
                owner:
                  type: string
                defaultValue:
                  type: string
                tags:
                  type: array
                  items:
                    type: string
                  description: List of associated tags. Will override tags completely with submitted list
                environments:
                  type: object
                  additionalProperties:
                    $ref: '#/paths/~1features/post/requestBody/content/application~1json/schema/properties/environments/additionalProperties'
                prerequisites:
                  type: array
                  description: Feature IDs. Each feature must evaluate to `true`
                  items:
                    type: string
                jsonSchema:
                  type: string
                  description: Use JSON schema to validate the payload of a JSON-type feature value (enterprise only).
                customFields:
                  type: object
                  additionalProperties:
                    type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                required:
                  - feature
                properties:
                  feature:
                    $ref: '#/components/schemas/Feature'
    delete:
      parameters:
        - $ref: '#/components/parameters/id'
      tags:
        - features
      summary: Deletes a single feature
      operationId: deleteFeature
      x-codeSamples:
        - lang: cURL
          source: |
            curl -X DELETE https://api.growthbook.io/api/v1/features/feature-123 \
              -u secret_abc123DEF456:
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                required:
                  - deleatedId
                properties:
                  deletedId:
                    type: string
                    description: The ID of the deleted feature
                    example: feature-123
  '/features/{id}/toggle':
    parameters:
      - $ref: '#/components/parameters/id'
    post:
      summary: Toggle a feature in one or more environments
      tags:
        - features
      operationId: toggleFeature
      x-codeSamples:
        - lang: cURL
          source: |
            curl -X POST https://api.growthbook.io/api/v1/features/my-feature/toggle \
              -d '{ "reason": "Kill switch activated", "environments": { "production": false } }' \
              -u secret_abc123DEF456:
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - environments
              properties:
                reason:
                  type: string
                environments:
                  type: object
                  additionalProperties:
                    enum:
                      - true
                      - false
                      - 'true'
                      - 'false'
                      - '1'
                      - '0'
                      - 1
                      - 0
                      - ''
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                required:
                  - feature
                properties:
                  feature:
                    $ref: '#/components/schemas/Feature'
  '/features/{id}/revert':
    parameters:
      - $ref: '#/components/parameters/id'
    post:
      summary: Revert a feature to a specific revision
      tags:
        - features
      operationId: revertFeature
      x-codeSamples:
        - lang: cURL
          source: |
            curl -X POST https://api.growthbook.io/api/v1/features/my-feature/revert \
              -d '{ "revision": 3, "comment": "Bug found" }' \
              -u secret_abc123DEF456:
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - revision
              properties:
                revision:
                  type: number
                comment:
                  type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                required:
                  - feature
                properties:
                  feature:
                    $ref: '#/components/schemas/Feature'
  '/features/{id}/revisions':
    get:
      parameters:
        - $ref: '#/components/parameters/id'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
      summary: Get all revisions for a feature
      tags:
        - features
      operationId: getFeatureRevisions
      x-codeSamples:
        - lang: cURL
          source: |
            curl https://api.growthbook.io/api/v1/features/my_feature/revisions?limit=10&offset=0 \
              -u secret_abc123DEF456:
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    required:
                      - revisions
                    properties:
                      revisions:
                        type: array
                        items:
                          $ref: '#/components/schemas/FeatureRevision'
                  - $ref: '#/components/schemas/PaginationFields'
  /feature-keys:
    get:
      summary: Get list of feature keys
      tags:
        - features
      parameters:
        - $ref: '#/components/parameters/projectId'
      operationId: getFeatureKeys
      x-codeSamples:
        - lang: cURL
          source: |
            curl https://api.growthbook.io/api/v1/feature-keys?projectId=prj_5l652 \
              -u secret_abc123DEF456:
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
  /projects:
    get:
      summary: Get all projects
      tags:
        - projects
      parameters:
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
      operationId: listProjects
      x-codeSamples:
        - lang: cURL
          source: |
            curl https://api.growthbook.io/api/v1/projects \
              -u secret_abc123DEF456:
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    required:
                      - projects
                    properties:
                      projects:
                        type: array
                        items:
                          $ref: '#/components/schemas/Project'
                  - $ref: '#/components/schemas/PaginationFields'
    post:
      parameters: []
      tags:
        - projects
      summary: Create a single project
      operationId: postProject
      x-codeSamples:
        - lang: cURL
          source: |
            curl -X POST https://api.growthbook.io/api/v1/projects \
              -d '{"name":"My Project", "description": "Super cool project"}' \
              -u secret_abc123DEF456:
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
              properties:
                name:
                  type: string
                description:
                  type: string
                settings:
                  description: Project settings.
                  type: object
                  properties:
                    statsEngine:
                      description: Stats engine.
                      type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                required:
                  - project
                properties:
                  project:
                    $ref: '#/components/schemas/Project'
  '/projects/{id}':
    get:
      parameters:
        - $ref: '#/components/parameters/id'
      summary: Get a single project
      tags:
        - projects
      operationId: getProject
      x-codeSamples:
        - lang: cURL
          source: |
            curl https://api.growthbook.io/api/v1/projects/prj_123abc \
              -u secret_abc123DEF456:
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                required:
                  - project
                properties:
                  project:
                    $ref: '#/components/schemas/Project'
    put:
      parameters:
        - $ref: '#/components/parameters/id'
      tags:
        - projects
      summary: Edit a single project
      operationId: putProject
      x-codeSamples:
        - lang: cURL
          source: |
            curl -X PUT https://api.growthbook.io/api/v1/projects/proj_abc123 \
              -d '{ "name": "My Subsidiary" }' \
              -u secret_abc123DEF456:
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  description: Project name.
                  type: string
                description:
                  description: Project description.
                  type: string
                settings:
                  description: Project settings.
                  type: object
                  properties:
                    statsEngine:
                      description: Stats engine.
                      type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                required:
                  - project
                properties:
                  project:
                    $ref: '#/components/schemas/Project'
    delete:
      parameters:
        - $ref: '#/components/parameters/id'
      tags:
        - projects
      summary: Deletes a single project
      operationId: deleteProject
      x-codeSamples:
        - lang: cURL
          source: |
            curl -X DELETE https://api.growthbook.io/api/v1/projects/prj__123abc \
              -u secret_abc123DEF456:
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                required:
                  - project
                properties:
                  deletedId:
                    type: string
                    description: The ID of the deleted project
                    example: prj__123abc
  /dimensions:
    get:
      summary: Get all dimensions
      tags:
        - dimensions
      parameters:
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/datasourceId'
      operationId: listDimensions
      x-codeSamples:
        - lang: cURL
          source: |
            curl https://api.growthbook.io/api/v1/dimensions \
              -u secret_abc123DEF456:
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    required:
                      - dimensions
                    properties:
                      dimensions:
                        type: array
                        items:
                          $ref: '#/components/schemas/Dimension'
                  - $ref: '#/components/schemas/PaginationFields'
    post:
      parameters: []
      tags:
        - dimensions
      summary: Create a single dimension
      operationId: postDimension
      x-codeSamples:
        - lang: cURL
          source: |
            curl -X POST https://api.growthbook.io/api/v1/dimensions \
              -d '{"name":"User Country", "datasourceId":"ds_123abc", "identifierType":"user", "query":"SELECT country FROM users"}' \
              -u secret_abc123DEF456:
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - datasourceId
                - identifierType
                - name
                - query
              properties:
                name:
                  type: string
                  description: Name of the dimension
                description:
                  type: string
                  description: Description of the dimension
                owner:
                  type: string
                  description: Owner of the dimension
                datasourceId:
                  type: string
                  description: ID of the datasource this dimension belongs to
                identifierType:
                  type: string
                  description: 'Type of identifier (user, anonymous, etc.)'
                query:
                  type: string
                  description: SQL query or equivalent for the dimension
                managedBy:
                  type: string
                  description: 'Where this dimension must be managed from. If not set (empty string), it can be managed from anywhere.'
                  enum:
                    - ''
                    - api
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                required:
                  - dimension
                properties:
                  dimension:
                    $ref: '#/components/schemas/Dimension'
  '/dimensions/{id}':
    get:
      parameters:
        - $ref: '#/components/parameters/id'
      summary: Get a single dimension
      tags:
        - dimensions
      operationId: getDimension
      x-codeSamples:
        - lang: cURL
          source: |
            curl https://api.growthbook.io/api/v1/dimensions/dim_123abc \
              -u secret_abc123DEF456:
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                required:
                  - dimension
                properties:
                  dimension:
                    $ref: '#/components/schemas/Dimension'
    post:
      parameters:
        - $ref: '#/components/parameters/id'
      tags:
        - dimensions
      summary: Update a single dimension
      operationId: updateDimension
      x-codeSamples:
        - lang: cURL
          source: |
            curl -X POST https://api.growthbook.io/api/v1/dimensions/dim_123abc \
              -d '{"name":"User Region"}' \
              -u secret_abc123DEF456:
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Name of the dimension
                description:
                  type: string
                  description: Description of the dimension
                owner:
                  type: string
                  description: Owner of the dimension
                datasourceId:
                  type: string
                  description: ID of the datasource this dimension belongs to
                identifierType:
                  type: string
                  description: 'Type of identifier (user, anonymous, etc.)'
                query:
                  type: string
                  description: SQL query or equivalent for the dimension
                managedBy:
                  type: string
                  description: 'Where this dimension must be managed from. If not set (empty string), it can be managed from anywhere.'
                  enum:
                    - ''
                    - api
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                required:
                  - dimension
                properties:
                  dimension:
                    $ref: '#/components/schemas/Dimension'
    delete:
      parameters:
        - $ref: '#/components/parameters/id'
      tags:
        - dimensions
      summary: Deletes a single dimension
      operationId: deleteDimension
      x-codeSamples:
        - lang: cURL
          source: |
            curl -X DELETE https://api.growthbook.io/api/v1/dimensions/dim_123abc \
              -u secret_abc123DEF456:
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                required:
                  - deletedId
                properties:
                  deletedId:
                    type: string
                    description: The ID of the deleted dimension
                    example: dim_123abc
  /segments:
    get:
      summary: Get all segments
      tags:
        - segments
      parameters:
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/datasourceId'
      operationId: listSegments
      x-codeSamples:
        - lang: cURL
          source: |
            curl https://api.growthbook.io/api/v1/segments \
              -u secret_abc123DEF456:
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    required:
                      - segments
                    properties:
                      segments:
                        type: array
                        items:
                          $ref: '#/components/schemas/Segment'
                  - $ref: '#/components/schemas/PaginationFields'
    post:
      parameters: []
      tags:
        - segments
      summary: Create a single segment
      operationId: postSegment
      x-codeSamples:
        - lang: cURL
          source: |
            curl -X POST https://api.growthbook.io/api/v1/segments \
              -d '{"name":"Annual Subscribers", "datasource":"ds_123abc", "identifierType":"user_id", "type":"SQL", "query":"SELECT plan FROM subscribers WHERE plan = 'annual'"}' \
              -u secret_abc123DEF456:
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - datasourceId
                - identifierType
                - type
              properties:
                name:
                  type: string
                  description: Name of the segment
                owner:
                  type: string
                  description: Owner of the segment
                description:
                  type: string
                  description: Description of the segment
                datasourceId:
                  type: string
                  description: ID of the datasource this segment belongs to
                identifierType:
                  type: string
                  description: 'Type of identifier (user, anonymous, etc.)'
                projects:
                  type: array
                  description: List of project IDs for projects that can access this segment
                  items:
                    type: string
                managedBy:
                  type: string
                  description: 'Where this Segment must be managed from. If not set (empty string), it can be managed from anywhere.'
                  enum:
                    - ''
                    - api
                type:
                  type: string
                  description: 'GrowthBook supports two types of Segments, SQL and FACT. SQL segments are defined by a SQL query, and FACT segments are defined by a fact table and filters.'
                  enum:
                    - SQL
                    - FACT
                query:
                  type: string
                  description: SQL query that defines the Segment. This is required for SQL segments.
                factTableId:
                  type: string
                  description: ID of the fact table this segment belongs to. This is required for FACT segments.
                filters:
                  type: array
                  description: Optional array of fact table filter ids that can further define the Fact Table based Segment.
                  items:
                    type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                required:
                  - segment
                properties:
                  segment:
                    $ref: '#/components/schemas/Segment'
  '/segments/{id}':
    get:
      parameters:
        - $ref: '#/components/parameters/id'
      summary: Get a single segment
      tags:
        - segments
      operationId: getSegment
      x-codeSamples:
        - lang: cURL
          source: |
            curl https://api.growthbook.io/api/v1/segments/seg_123abc \
              -u secret_abc123DEF456:
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                required:
                  - segment
                properties:
                  segment:
                    $ref: '#/components/schemas/Segment'
    post:
      parameters:
        - $ref: '#/components/parameters/id'
      tags:
        - segments
      summary: Update a single segment
      operationId: updateSegment
      x-codeSamples:
        - lang: cURL
          source: |
            curl -X POST https://api.growthbook.io/api/v1/segment/seg_123abc \
              -d '{"name":"User Region"}' \
              -u secret_abc123DEF456:
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Name of the segment
                description:
                  type: string
                  description: Description of the segment
                owner:
                  type: string
                  description: Owner of the segment
                datasourceId:
                  type: string
                  description: ID of the datasource this segment belongs to
                identifierType:
                  type: string
                  description: 'Type of identifier (user, anonymous, etc.)'
                projects:
                  type: array
                  description: List of project IDs for projects that can access this segment
                  items:
                    type: string
                managedBy:
                  type: string
                  description: 'Where this Segment must be managed from. If not set (empty string), it can be managed from anywhere.'
                  enum:
                    - ''
                    - api
                type:
                  type: string
                  description: 'GrowthBook supports two types of Segments, SQL and FACT. SQL segments are defined by a SQL query, and FACT segments are defined by a fact table and filters.'
                  enum:
                    - SQL
                    - FACT
                query:
                  type: string
                  description: SQL query that defines the Segment. This is required for SQL segments.
                factTableId:
                  type: string
                  description: ID of the fact table this segment belongs to. This is required for FACT segments.
                filters:
                  type: array
                  description: Optional array of fact table filter ids that can further define the Fact Table based Segment.
                  items:
                    type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                required:
                  - segment
                properties:
                  segment:
                    $ref: '#/components/schemas/Segment'
    delete:
      parameters:
        - $ref: '#/components/parameters/id'
      tags:
        - segments
      summary: Deletes a single segment
      operationId: deleteSegment
      x-codeSamples:
        - lang: cURL
          source: |
            curl -X DELETE https://api.growthbook.io/api/v1/segment/seg_123abc \
              -u secret_abc123DEF456:
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                required:
                  - deletedId
                properties:
                  deletedId:
                    type: string
                    description: The ID of the deleted segment
                    example: seg_123abc
  /sdk-connections:
    get:
      summary: Get all sdk connections
      tags:
        - sdk-connections
      parameters:
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/projectId'
        - name: withProxy
          in: query
          schema:
            type: string
        - name: multiOrg
          in: query
          schema:
            type: string
      operationId: listSdkConnections
      x-codeSamples:
        - lang: cURL
          source: |
            curl https://api.growthbook.io/api/v1/sdk-connections \
              -u secret_abc123DEF456:
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    required:
                      - sdkConnections
                    properties:
                      connections:
                        type: array
                        items:
                          $ref: '#/components/schemas/SdkConnection'
                  - $ref: '#/components/schemas/PaginationFields'
    post:
      summary: Create a single sdk connection
      tags:
        - sdk-connections
      operationId: postSdkConnection
      x-codeSamples:
        - lang: cURL
          source: |
            curl -X POST https://api.growthbook.io/api/v1/sdk-connections \
              -d '{ name: "new-connection", ... }'
              -u secret_abc123DEF456:
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - language
                - environment
              properties:
                name:
                  type: string
                language:
                  type: string
                sdkVersion:
                  type: string
                environment:
                  type: string
                projects:
                  type: array
                  items:
                    type: string
                encryptPayload:
                  type: boolean
                includeVisualExperiments:
                  type: boolean
                includeDraftExperiments:
                  type: boolean
                includeExperimentNames:
                  type: boolean
                includeRedirectExperiments:
                  type: boolean
                includeRuleIds:
                  type: boolean
                proxyEnabled:
                  type: boolean
                proxyHost:
                  type: string
                hashSecureAttributes:
                  type: boolean
                remoteEvalEnabled:
                  type: boolean
                savedGroupReferencesEnabled:
                  type: boolean
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                required:
                  - sdkConnection
                properties:
                  sdkConnection:
                    $ref: '#/components/schemas/SdkConnection'
  '/sdk-connections/{id}':
    get:
      parameters:
        - $ref: '#/components/parameters/id'
      summary: Get a single sdk connection
      tags:
        - sdk-connections
      operationId: getSdkConnection
      x-codeSamples:
        - lang: cURL
          source: |
            curl https://api.growthbook.io/api/v1/sdk-connections/sdk_123abc \
              -u secret_abc123DEF456:
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                required:
                  - sdkConnection
                properties:
                  sdkConnection:
                    $ref: '#/components/schemas/SdkConnection'
    put:
      parameters:
        - $ref: '#/components/parameters/id'
      summary: Update a single sdk connection
      tags:
        - sdk-connections
      operationId: putSdkConnection
      x-codeSamples:
        - lang: cURL
          source: |
            curl -X PUT https://api.growthbook.io/api/v1/sdk-connections/connection_id \
              -d '{ name: "new-connection", ... }'
              -u secret_abc123DEF456:
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                language:
                  type: string
                sdkVersion:
                  type: string
                environment:
                  type: string
                projects:
                  type: array
                  items:
                    type: string
                encryptPayload:
                  type: boolean
                includeVisualExperiments:
                  type: boolean
                includeDraftExperiments:
                  type: boolean
                includeExperimentNames:
                  type: boolean
                includeRedirectExperiments:
                  type: boolean
                includeRuleIds:
                  type: boolean
                proxyEnabled:
                  type: boolean
                proxyHost:
                  type: string
                hashSecureAttributes:
                  type: boolean
                remoteEvalEnabled:
                  type: boolean
                savedGroupReferencesEnabled:
                  type: boolean
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                required:
                  - sdkConnection
                properties:
                  sdkConnection:
                    $ref: '#/components/schemas/SdkConnection'
    delete:
      summary: Deletes a single SDK connection
      parameters:
        - $ref: '#/components/parameters/id'
      tags:
        - sdk-connection
      operationId: deleteSdkConnection
      x-codeSamples:
        - lang: cURL
          source: |
            curl -X DELETE https://api.growthbook.io/api/v1/sdk-connections/connection_id \
              -u secret_abc123DEF456:
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                required:
                  - deletedId
                properties:
                  deletedId:
                    type: string
  '/sdk-connections/lookup/{key}':
    get:
      parameters:
        - in: path
          name: key
          required: true
          description: The key of the requested sdkConnection
          schema:
            type: string
      summary: Find a single sdk connection by its key
      tags:
        - sdk-connections
      operationId: lookupSdkConnectionByKey
      x-codeSamples:
        - lang: cURL
          source: |
            curl https://api.growthbook.io/api/v1/sdk-connections/lookup/sdk-123abc \
              -u secret_abc123DEF456:
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                required:
                  - sdkConnection
                properties:
                  sdkConnection:
                    $ref: '#/components/schemas/SdkConnection'
  /data-sources:
    get:
      summary: Get all data sources
      tags:
        - data-sources
      parameters:
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/projectId'
      operationId: listDataSources
      x-codeSamples:
        - lang: cURL
          source: |
            curl https://api.growthbook.io/api/v1/data-sources \
              -u secret_abc123DEF456:
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    required:
                      - dataSources
                    properties:
                      dataSources:
                        type: array
                        items:
                          $ref: '#/components/schemas/DataSource'
                  - $ref: '#/components/schemas/PaginationFields'
  '/data-sources/{id}':
    parameters:
      - $ref: '#/components/parameters/id'
    get:
      tags:
        - data-sources
      summary: Get a single data source
      operationId: getDataSource
      x-codeSamples:
        - lang: cURL
          source: |
            curl https://api.growthbook.io/api/v1/data-sources/ds_123abc \
              -u secret_abc123DEF456:
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                required:
                  - dataSource
                properties:
                  dataSource:
                    $ref: '#/components/schemas/DataSource'
  /experiments:
    get:
      summary: Get all experiments
      tags:
        - experiments
      parameters:
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/projectId'
        - $ref: '#/components/parameters/datasourceId'
        - name: experimentId
          in: query
          description: Filter the returned list by the experiment tracking key (id)
          schema:
            type: string
      operationId: listExperiments
      x-codeSamples:
        - lang: cURL
          source: |
            curl https://api.growthbook.io/api/v1/experiments \
              -u secret_abc123DEF456:
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    required:
                      - experiments
                    properties:
                      experiments:
                        type: array
                        items:
                          $ref: '#/components/schemas/Experiment'
                  - $ref: '#/components/schemas/PaginationFields'
    post:
      parameters: []
      tags:
        - experiments
      summary: Create a single experiment
      operationId: postExperiment
      x-codeSamples:
        - lang: cURL
          source: |
            curl -X POST https://api.growthbook.io/api/v1/experiments \
              -d '{"name": "test_experiment", "owner": "weijie.ou@example.com", ...}'
              -u secret_abc123DEF456:
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - variations
                - trackingKey
                - assignmentQueryId
              properties:
                datasourceId:
                  type: string
                  description: 'ID for the [DataSource](#tag/DataSource_model)'
                assignmentQueryId:
                  type: string
                  description: The ID property of one of the assignment query objects associated with the datasource
                trackingKey:
                  type: string
                name:
                  type: string
                  description: Name of the experiment
                type:
                  type: string
                  enum:
                    - standard
                    - multi-armed-bandit
                project:
                  type: string
                  description: Project ID which the experiment belongs to
                hypothesis:
                  type: string
                  description: Hypothesis of the experiment
                description:
                  type: string
                  description: Description of the experiment
                tags:
                  type: array
                  items:
                    type: string
                metrics:
                  type: array
                  items:
                    type: string
                secondaryMetrics:
                  type: array
                  items:
                    type: string
                guardrailMetrics:
                  type: array
                  items:
                    type: string
                activationMetric:
                  type: string
                  description: Users must convert on this metric before being included
                segmentId:
                  type: string
                  description: Only users in this segment will be included
                queryFilter:
                  type: string
                  description: WHERE clause to add to the default experiment query
                owner:
                  type: string
                  description: Email of the person who owns this experiment
                archived:
                  type: boolean
                status:
                  type: string
                  enum:
                    - draft
                    - running
                    - stopped
                autoRefresh:
                  type: boolean
                hashAttribute:
                  type: string
                fallbackAttribute:
                  type: string
                hashVersion:
                  type: number
                  enum:
                    - 1
                    - 2
                disableStickyBucketing:
                  type: boolean
                bucketVersion:
                  type: number
                minBucketVersion:
                  type: number
                releasedVariationId:
                  type: string
                excludeFromPayload:
                  type: boolean
                inProgressConversions:
                  type: string
                  enum:
                    - loose
                    - strict
                attributionModel:
                  type: string
                  enum:
                    - firstExposure
                    - experimentDuration
                  description: Setting attribution model to `"experimentDuration"` is the same as selecting "Ignore Conversion Windows" for the Conversion Window Override.
                statsEngine:
                  type: string
                  enum:
                    - bayesian
                    - frequentist
                variations:
                  type: array
                  minItems: 2
                  items:
                    type: object
                    required:
                      - key
                      - name
                    properties:
                      id:
                        type: string
                      key:
                        type: string
                      name:
                        type: string
                      description:
                        type: string
                      screenshots:
                        type: array
                        items:
                          type: object
                          required:
                            - path
                          properties:
                            path:
                              type: string
                            width:
                              type: number
                            height:
                              type: number
                            description:
                              type: string
                phases:
                  type: array
                  items:
                    type: object
                    required:
                      - name
                      - dateStarted
                    properties:
                      name:
                        type: string
                      dateStarted:
                        type: string
                        format: date-time
                      dateEnded:
                        type: string
                        format: date-time
                      reasonForStopping:
                        type: string
                      seed:
                        type: string
                      coverage:
                        type: number
                      trafficSplit:
                        type: array
                        items:
                          type: object
                          required:
                            - variationId
                            - weight
                          properties:
                            variationId:
                              type: string
                            weight:
                              type: number
                      namespace:
                        type: object
                        required:
                          - namespaceId
                          - range
                        properties:
                          namespaceId:
                            type: string
                          range:
                            type: array
                            items:
                              type: number
                            minItems: 2
                            maxItems: 2
                          enabled:
                            type: boolean
                      targetingCondition:
                        type: string
                      prerequisites:
                        type: array
                        items:
                          type: object
                          required:
                            - id
                            - condition
                          properties:
                            id:
                              type: string
                              description: Feature ID
                            condition:
                              type: string
                      reason:
                        type: string
                      condition:
                        type: string
                      savedGroupTargeting:
                        type: array
                        items:
                          type: object
                          required:
                            - matchType
                            - savedGroups
                          properties:
                            matchType:
                              type: string
                              enum:
                                - all
                                - any
                                - none
                            savedGroups:
                              type: array
                              items:
                                type: string
                      variationWeights:
                        type: array
                        items:
                          type: number
                regressionAdjustmentEnabled:
                  type: boolean
                  description: Controls whether regression adjustment (CUPED) is enabled for experiment analyses
                sequentialTestingEnabled:
                  type: boolean
                  description: Only applicable to frequentist analyses
                sequentialTestingTuningParameter:
                  type: number
                shareLevel:
                  type: string
                  enum:
                    - public
                    - organization
                banditScheduleValue:
                  type: number
                banditScheduleUnit:
                  type: string
                  enum:
                    - days
                    - hours
                banditBurnInValue:
                  type: number
                banditBurnInUnit:
                  type: string
                  enum:
                    - days
                    - hours
                customFields:
                  type: object
                  additionalProperties:
                    type: string
                customMetricSlices:
                  type: array
                  items:
                    type: object
                    properties:
                      slices:
                        type: array
                        items:
                          type: object
                          properties:
                            column:
                              type: string
                            levels:
                              type: array
                              items:
                                type: string
                          required:
                            - column
                            - levels
                    required:
                      - slices
                  description: Custom slices that apply to ALL applicable metrics in the experiment
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                required:
                  - experiment
                properties:
                  experiment:
                    $ref: '#/components/schemas/Experiment'
  /experiment-names:
    get:
      summary: Get a list of experiments with names and ids
      tags:
        - experiments
      parameters:
        - $ref: '#/components/parameters/projectId'
      operationId: getExperimentNames
      x-codeSamples:
        - lang: cURL
          source: |
            curl https://api.growthbook.io/api/v1/experiment-names?projectId=prj_5l652 \
              -u secret_abc123DEF456:
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                required:
                  - experiments
                properties:
                  experiments:
                    type: array
                    items:
                      type: object
                      required:
                        - id
                        - name
                      properties:
                        id:
                          type: string
                        name:
                          type: string
  '/experiments/{id}':
    get:
      parameters:
        - $ref: '#/components/parameters/id'
      summary: Get a single experiment
      tags:
        - experiments
      operationId: getExperiment
      x-codeSamples:
        - lang: cURL
          source: |
            curl https://api.growthbook.io/api/v1/experiments/exp_123abc \
              -u secret_abc123DEF456:
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                required:
                  - experiment
                properties:
                  experiment:
                    $ref: '#/components/schemas/ExperimentWithEnhancedStatus'
    post:
      parameters:
        - $ref: '#/components/parameters/id'
      tags:
        - experiments
      summary: Update a single experiment
      operationId: updateExperiment
      x-codeSamples:
        - lang: cURL
          source: |
            curl -X POST https://api.growthbook.io/api/v1/experiments/exp_1234 \
              -d '{ "name": "test_experiment", "owner": "weijie.ou@example.com", ... }' \
              -u secret_abc123DEF456:
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                datasourceId:
                  type: string
                  description: Can only be set if existing experiment does not have a datasource
                assignmentQueryId:
                  type: string
                trackingKey:
                  type: string
                name:
                  type: string
                  description: Name of the experiment
                type:
                  type: string
                  enum:
                    - standard
                    - multi-armed-bandit
                project:
                  type: string
                  description: Project ID which the experiment belongs to
                hypothesis:
                  type: string
                  description: Hypothesis of the experiment
                description:
                  type: string
                  description: Description of the experiment
                tags:
                  type: array
                  items:
                    type: string
                metrics:
                  type: array
                  items:
                    type: string
                secondaryMetrics:
                  type: array
                  items:
                    type: string
                guardrailMetrics:
                  type: array
                  items:
                    type: string
                activationMetric:
                  type: string
                  description: Users must convert on this metric before being included
                segmentId:
                  type: string
                  description: Only users in this segment will be included
                queryFilter:
                  type: string
                  description: WHERE clause to add to the default experiment query
                owner:
                  type: string
                  description: Email of the person who owns this experiment
                archived:
                  type: boolean
                status:
                  type: string
                  enum:
                    - draft
                    - running
                    - stopped
                autoRefresh:
                  type: boolean
                hashAttribute:
                  type: string
                fallbackAttribute:
                  type: string
                hashVersion:
                  type: number
                  enum:
                    - 1
                    - 2
                disableStickyBucketing:
                  type: boolean
                bucketVersion:
                  type: number
                minBucketVersion:
                  type: number
                releasedVariationId:
                  type: string
                excludeFromPayload:
                  type: boolean
                inProgressConversions:
                  type: string
                  enum:
                    - loose
                    - strict
                attributionModel:
                  type: string
                  enum:
                    - firstExposure
                    - experimentDuration
                  description: Setting attribution model to `"experimentDuration"` is the same as selecting "Ignore Conversion Windows" for the Conversion Window Override.
                statsEngine:
                  type: string
                  enum:
                    - bayesian
                    - frequentist
                variations:
                  type: array
                  minItems: 2
                  items:
                    type: object
                    required:
                      - key
                      - name
                    properties:
                      id:
                        type: string
                      key:
                        type: string
                      name:
                        type: string
                      description:
                        type: string
                      screenshots:
                        type: array
                        items:
                          type: object
                          required:
                            - path
                          properties:
                            path:
                              type: string
                            width:
                              type: number
                            height:
                              type: number
                            description:
                              type: string
                phases:
                  type: array
                  items:
                    type: object
                    required:
                      - name
                      - dateStarted
                    properties:
                      name:
                        type: string
                      dateStarted:
                        type: string
                        format: date-time
                      dateEnded:
                        type: string
                        format: date-time
                      reasonForStopping:
                        type: string
                      seed:
                        type: string
                      coverage:
                        type: number
                      trafficSplit:
                        type: array
                        items:
                          type: object
                          required:
                            - variationId
                            - weight
                          properties:
                            variationId:
                              type: string
                            weight:
                              type: number
                      namespace:
                        type: object
                        required:
                          - namespaceId
                          - range
                        properties:
                          namespaceId:
                            type: string
                          range:
                            type: array
                            items:
                              type: number
                            minItems: 2
                            maxItems: 2
                          enabled:
                            type: boolean
                      targetingCondition:
                        type: string
                      prerequisites:
                        type: array
                        items:
                          type: object
                          required:
                            - id
                            - condition
                          properties:
                            id:
                              type: string
                              description: Feature ID
                            condition:
                              type: string
                      reason:
                        type: string
                      condition:
                        type: string
                      savedGroupTargeting:
                        type: array
                        items:
                          type: object
                          required:
                            - matchType
                            - savedGroups
                          properties:
                            matchType:
                              type: string
                              enum:
                                - all
                                - any
                                - none
                            savedGroups:
                              type: array
                              items:
                                type: string
                      variationWeights:
                        type: array
                        items:
                          type: number
                regressionAdjustmentEnabled:
                  type: boolean
                  description: Controls whether regression adjustment (CUPED) is enabled for experiment analyses
                sequentialTestingEnabled:
                  type: boolean
                  description: Only applicable to frequentist analyses
                sequentialTestingTuningParameter:
                  type: number
                shareLevel:
                  type: string
                  enum:
                    - public
                    - organization
                banditScheduleValue:
                  type: number
                banditScheduleUnit:
                  type: string
                  enum:
                    - days
                    - hours
                banditBurnInValue:
                  type: number
                banditBurnInUnit:
                  type: string
                  enum:
                    - days
                    - hours
                customFields:
                  type: object
                  additionalProperties:
                    type: string
                customMetricSlices:
                  type: array
                  items:
                    type: object
                    properties:
                      slices:
                        type: array
                        items:
                          type: object
                          properties:
                            column:
                              type: string
                            levels:
                              type: array
                              items:
                                type: string
                          required:
                            - column
                            - levels
                    required:
                      - slices
                  description: Custom slices that apply to ALL applicable metrics in the experiment
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                required:
                  - experiment
                properties:
                  experiment:
                    $ref: '#/components/schemas/Experiment'
  '/experiments/{id}/snapshot':
    parameters:
      - name: id
        in: path
        required: true
        description: The experiment id of the experiment to update
        schema:
          type: string
    post:
      tags:
        - experiments
        - snapshots
      summary: Create Experiment Snapshot
      operationId: postExperimentSnapshot
      x-codeSamples:
        - lang: cURL
          source: |
            curl -X POST https://api.growthbook.io/api/v1/experiments/exp_1234/snapshot \
              -d '{"triggeredBy":"schedule"}' \
              -u secret_abc123DEF456:
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                triggeredBy:
                  type: string
                  description: Set to "schedule" if you want this request to trigger notifications and other events as it if were a scheduled update. Defaults to manual.
                  enum:
                    - manual
                    - schedule
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                required:
                  - snapshot
                properties:
                  snapshot:
                    $ref: '#/components/schemas/ExperimentSnapshot'
  '/experiments/{id}/results':
    parameters:
      - $ref: '#/components/parameters/id'
    get:
      summary: Get results for an experiment
      tags:
        - experiments
      operationId: getExperimentResults
      x-codeSamples:
        - lang: cURL
          source: |
            curl https://api.growthbook.io/api/v1/experiments/exp_123abc/results \
              -u secret_abc123DEF456:
      parameters:
        - name: phase
          in: query
          schema:
            type: string
        - name: dimension
          in: query
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                required:
                  - experiment
                properties:
                  result:
                    $ref: '#/components/schemas/ExperimentResults'
  '/experiments/{id}/visual-changesets':
    get:
      summary: Get all visual changesets
      tags:
        - visual-changesets
      parameters:
        - id: null
          name: id
          in: path
          required: true
          description: The experiment id the visual changesets belong to
          schema:
            type: string
      operationId: listVisualChangesets
      x-codeSamples:
        - lang: cURL
          source: |
            curl https://api.growthbook.io/api/v1/experiments/exp_123abc/visual-changesets \
              -u secret_abc123DEF456:
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    required:
                      - visualChangesets
                    properties:
                      visualChangesets:
                        type: array
                        items:
                          $ref: '#/components/schemas/VisualChangeset'
  '/snapshots/{id}':
    parameters:
      - name: id
        in: path
        required: true
        description: 'The id of the requested resource (a snapshot ID, not experiment ID)'
        schema:
          type: string
    get:
      tags:
        - snapshots
      summary: Get an experiment snapshot status
      operationId: getExperimentSnapshot
      x-codeSamples:
        - lang: cURL
          source: |
            curl -X GET https://api.growthbook.io/api/v1/snapshots/snp_1234 \
              -u secret_abc123DEF456:
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                required:
                  - snapshot
                properties:
                  snapshot:
                    $ref: '#/components/schemas/ExperimentSnapshot'
  /metrics:
    get:
      summary: Get all metrics
      tags:
        - metrics
      parameters:
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/projectId'
        - $ref: '#/components/parameters/datasourceId'
      operationId: listMetrics
      x-codeSamples:
        - lang: cURL
          source: |
            curl https://api.growthbook.io/api/v1/metrics \
              -u secret_abc123DEF456:
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    required:
                      - metrics
                    properties:
                      metrics:
                        type: array
                        items:
                          $ref: '#/components/schemas/Metric'
                  - $ref: '#/components/schemas/PaginationFields'
    post:
      parameters: []
      tags:
        - metrics
      summary: Create a single metric
      operationId: postMetric
      x-codeSamples:
        - lang: cURL
          source: |
            curl -X POST https://api.growthbook.io/api/v1/metrics \
              -d '{ "datasourceId": "ds_abc123", ... }'
              -u secret_abc123DEF456:
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - datasourceId
                - name
                - type
              properties:
                datasourceId:
                  type: string
                  description: 'ID for the [DataSource](#tag/DataSource_model)'
                managedBy:
                  type: string
                  description: 'Where this metric must be managed from. If not set (empty string), it can be managed from anywhere. If set to "api", it can be managed via the API only.'
                  enum:
                    - ''
                    - api
                owner:
                  type: string
                  description: Name of the person who owns this metric
                name:
                  type: string
                  description: Name of the metric
                description:
                  type: string
                  description: Description of the metric
                type:
                  type: string
                  description: 'Type of metric. See [Metrics documentation](/app/metrics/legacy)'
                  enum:
                    - binomial
                    - count
                    - duration
                    - revenue
                tags:
                  type: array
                  description: List of tags
                  items:
                    type: string
                projects:
                  type: array
                  description: List of project IDs for projects that can access this metric
                  items:
                    type: string
                archived:
                  type: boolean
                behavior:
                  type: object
                  required: []
[...]
