.recommendedOrgBox {
  padding: 1.2rem;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  margin-bottom: 1rem;

  .recommendedOrgRow {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .recommendedOrgLogo {
    margin-right: 10px;
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 40px;
    overflow: hidden;
    background: #acefae;

    .recommendedOrgLogoText {
      color: #175947;
      font-size: 30px;
      font-weight: bold;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  .recommendedOrgInfo {
    flex: 1;
    .recommendedOrgName {
      font-size: 18px;
      font-weight: bold;
    }
    .recommendedOrgMembers {
      font-size: 14px;
      color: #666;
    }
  }
}

.switchModeButton {
  width: 100%;
  border: 1px solid #e0e0e0;
  border-radius: 50px;
  font-size: 16px;
  padding: 6px 4px;
  span {
    vertical-align: middle;
    font-size: 14px;
  }
}

.container {
  color: var(--color-text-high);
}

.textMid {
  color: var(--color-text-mid);
}
