// Hack to increase specificity and override .modal .modal-header
.modal-header-backgroundless.modal-header-backgroundless {
  background-color: transparent;
}

.sql-editor-wrapper {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  border-bottom-left-radius: 6px !important;
  border-bottom-right-radius: 6px !important;

  > div {
    border-bottom-left-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
  }
}
