@import "../../styles/colors.scss";

.conditionbox {
  border: 1px solid #e8e9ec;
}
.conditionslist {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  margin-bottom: 8px;
  li {
    position: relative;
  }
  li:after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1px;
    border-bottom: 1px solid $gray-200;
  }
  li:last-child:after {
    display: none;
  }
  .listitem {
    padding: 1.1em 0 0.7em;
  }

  .firstselect {
    min-width: 25%;
  }
  .and {
    position: absolute;
    left: 0;
    font-weight: 500;
    font-size: 13px;
    top: 2em;
  }
  .passif {
    position: absolute;
    left: 0;
    font-weight: 500;
    font-size: 13px;
    top: 0.75em;
  }
  .listrow {
    padding-left: 2.6em;
  }
}
.addcondition {
  margin-left: 0; //2.6em;
}
.addicon {
}

.matchingInput {
  padding-top: 8px;
  padding-bottom: 8px;
  min-height: 38px;
}

@media (max-width: 520px) {
  .addcondition {
    margin-left: 0;
  }
}
