.trigger {
  cursor: pointer;
}

.badge {
  transition:
    opacity 0.1s ease,
    background-color 0.1s ease;
}

.badgeInactive {
  opacity: 0.4;
  background-color: var(--gray-a2);
}

.trigger:hover .badgeInactive {
  opacity: 0.7;
  background-color: var(--violet-a3);
}
