@import "../../styles/colors.scss";

.legend {
  font-size: 0.8em;
}

.legend_box {
  width: 14px;
  height: 14px;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid $gray3;
}

.previewBar {
  position: relative;
  font-size: 0.8em;
}

.percentMarker {
  position: absolute;
  bottom: -8px;
  height: 8px;
  width: 100%;
  text-align: center;
  border-radius: 0 0 6px 6px;
  border: 2px solid $gray2;
  border-top: 0;
  span {
    position: relative;
    bottom: -10px;
  }
}
