.card {
  border: 1px solid var(--gray-a5);
  border-radius: 8px;
  padding: 16px;
  background-color: transparent;
}

.legend_box {
  width: 8px;
  height: 8px;
  border-radius: 9999px;
  display: inline-block;
  vertical-align: middle;
  flex-shrink: 0;
}

.used {
  background-color: var(--violet-5);
}

.unused {
  background-color: transparent;
  background-image: repeating-linear-gradient(
    -45deg,
    var(--violet-a5) 0 2px,
    transparent 2px 4px
  );
  border: 1px solid var(--violet-a5);
}

.selected {
  background-color: var(--violet-9);
}

.bar_wrapper {
  position: relative;
}

.bar_holder {
  position: relative;
  height: 24px;
  border-radius: 4px;
  margin: 6px 0 0 0;
  background-color: transparent;
  overflow: hidden;
}

.bar {
  position: absolute;
  top: 0;
  bottom: 0;
}

.barUnused {
  border: 1px solid var(--violet-a4);
  background-color: transparent;
  background-image: repeating-linear-gradient(
    45deg,
    var(--violet-a3) 0 5px,
    transparent 3px 10px
  );
}

.otherInUse {
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: var(--violet-5);
}

.rangeSelected {
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: var(--violet-9);
  border-radius: 0;
}

.labels_row {
  position: relative;
  height: 18px;
  margin-top: 4px;
}

.segmentLabel {
  position: absolute;
  top: 0;
  font-size: var(--font-size-1);
  line-height: var(--line-height-1);
  color: var(--color-text-low);
}
