@import "../../styles/colors.scss";

.legend {
  font-size: 0.8em;
  color: #555;
}

.legend_box {
  width: 14px;
  height: 14px;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #ccc;
}

.unused {
  background: $light-green;
}
.used {
  background: $gray1;
}

.bar {
  position: absolute;
  top: 0;
  bottom: 0;
}

.bar_holder {
  position: relative;
  border: 1px solid #ccc;
  height: 30px;
  margin: 5px 0 40px 0;
}

.hmarker {
  position: absolute;
  width: 4px;
  margin-left: -2px;
  background-color: purple;
  top: 100%;
  height: 12px;
}

.label {
  position: absolute;
  margin-left: -2px;
  top: 100%;
  margin-top: 8px;
  border-top: 4px solid purple;
  text-align: center;
  color: purple;
  font-weight: bold;
}
