@import "../../styles/colors.scss";

.error {
  border-color: $red;
}
.conditionbox {
  border: 1px solid #e8e9ec;
}
.conditionslist {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  margin-bottom: 8px;
  li {
    position: relative;
  }
  li:after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1px;
    border-bottom: 1px solid $gray-200;
  }
  li:last-child:after {
    display: none;
  }
  .listitem {
    padding: 1.1em 0 0.7em;
  }

  .firstselect {
    min-width: 25%;
  }
  .and {
    position: absolute;
    left: 0;
    font-weight: 500;
    font-size: 13px;
    top: 2em;
  }
  .listrow {
    padding-left: 2.6em;
  }
}
