@import "../../styles/colors.scss";

.dragging {
  z-index: 100 !important;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  background-color: var(--color-panel-solid);
}
.thead {
  tr th {
    padding-bottom: 8px;
  }
}
.tr {
  position: relative;
  td {
    padding-top: 12px;
    padding-bottom: 12px;
    vertical-align: top;
    border-top: none;
    border-bottom: 1px solid var(--border-color-100);
  }
}
.tr:last-of-type td {
  border-bottom: none !important;
}

.colorMarker {
  width: 4px;
  position: absolute;
  top: 12px;
  left: 0;
  height: calc(100% - 24px);
}

.percentInput {
  width: 7em;
}
.percentInputWrap {
  span {
    position: absolute;
    right: 26px;
    top: 7px;
    z-index: 10000;
    color: $gray-600;
  }
}

.hideArrows {
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }
}
