type: object
required:
  - datasourceId
  - assignmentQueryId
  - experimentId
  - segmentId
  - queryFilter
  - inProgressConversions
  - attributionModel
  - statsEngine
  - goals
  - secondaryMetrics
  - guardrails
properties:
  datasourceId:
    type: string
  assignmentQueryId:
    type: string
  experimentId:
    type: string
  segmentId:
    type: string
  queryFilter:
    type: string
  inProgressConversions:
    enum:
      - include
      - exclude
  attributionModel:
    enum:
      - firstExposure
      - experimentDuration
      - lookbackOverride
    description: Setting attribution model to `"experimentDuration"` is the same as selecting "Ignore Conversion Windows" for the Conversion Window Override. Setting it to `"lookbackOverride"` requires a `lookbackOverride` object to be provided.
  lookbackOverride:
    $ref: "./LookbackOverride.yaml"
  statsEngine:
    enum:
      - bayesian
      - frequentist
  regressionAdjustmentEnabled:
    type: boolean
  sequentialTestingEnabled:
    type: boolean
  sequentialTestingTuningParameter:
    type: number
  goals:
    type: array
    items:
      $ref: "./ExperimentMetric.yaml"
  secondaryMetrics:
    type: array
    items:
      $ref: "./ExperimentMetric.yaml"
  guardrails:
    type: array
    items:
      $ref: "./ExperimentMetric.yaml"
  activationMetric:
    $ref: "./ExperimentMetric.yaml"
