.image {
  display: none;
}
.container {
  max-width: 1000px;
}

.text,
.center {
  display: block;
  padding: 8px 20px;
  margin: 0 5px;
  font-size: 1.5em;
}
.center {
  border-top: 1px solid #ddd;
}

@media (min-width: 768px) {
  .container {
    padding: 20px 120px;
  }
  .image {
    display: inline-block;
  }
  .center {
    font-size: 1.5em;
    position: absolute;
    width: 150px;
    left: 50%;
    top: 50%;
    line-height: 40px;
    margin: -20px 0 0 -75px;
    padding: 0;
    border: 0;
  }
  .text {
    position: absolute;
    font-size: 1.8em;
    width: 28%;
    padding: 0;
    margin: 0;
  }
  .bottom {
    bottom: 15%;
  }
  .top {
    top: 15%;
  }
  .left {
    left: 20px;
    text-align: right;
  }
  .right {
    right: 20px;
    text-align: left;
  }
}

@media (min-width: 1000px) {
  .text {
    font-size: 2em;
  }
  .center {
    font-size: 1.8em;
  }
}

@media (min-width: 1200px) {
  .center {
    font-size: 2em;
  }
}
