@import "../../styles/colors.scss";

.tile {
  display: block;
  width: 280px;
  padding: 20px;
  border-radius: 5px;
  background: $dark-purple;
  text-align: center;
  color: #fff;
  transition: background-color 0.3s;
  margin: 2em;

  &.large {
    @media (min-width: 1200px) {
      width: 360px;
    }
  }

  &:hover,
  &:active,
  &:visited {
    color: #fff;
    text-decoration: none;
  }

  &:hover {
    background: $purple;
  }

  img {
    height: 100px;
    margin-bottom: 1em;
  }
}
