-server
-Xmx2G
-XX:+UseG1GC
-XX:G1HeapRegionSize=32M
-XX:+UseGCOverheadLimit
-XX:+ExplicitGCInvokesConcurrent
-XX:+HeapDumpOnOutOfMemoryError
-XX:OnOutOfMemoryError=kill -9 %p
-Djavax.net.ssl.trustStore=/etc/trino/keystore.jks
-Djavax.net.ssl.trustStorePassword=changeit
-Dsun.security.krb5.debug=true
-Dsun.security.spnego.debug=true
-Djavax.security.auth.useSubjectCredsOnly=false
-Djava.security.krb5.conf=/etc/krb5.conf
