name: CI

# Runs on every push to every branch
on:
  push:
    branches:
      - "**"

jobs:
  # Linting, type-checking, and tests
  ci:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: '16'
          cache: 'yarn'

      - name: Set up Python 3.8
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
          cache: 'pip'

      - name: Cache eslint
        uses: actions/cache@v2
        with:
          path: ${{ github.workspace }}/.eslintcache
          key: ${{ runner.os }}-eslint-${{ hashFiles('**/yarn.lock') }}-${{ hashFiles('**/*.ts', '**/*.tsx') }}
          restore-keys: |
            ${{ runner.os }}-eslint-
      
      - name: Install dependencies
        run: |
          # Main app
          yarn

          # Stats engine
          pip install numpy scipy pandas pytest black flake8 nbformat gbstats

          # Docs
          cd docs
          yarn
          cd ..

      - name: App/SDK - get changed files
        id: app-changed-files
        uses: tj-actions/changed-files@v34
        with:
          files: |
            packages/**
            yarn.lock
            .github/workflows/ci.yml

      - name: App/SDK - build, lint, type-check, and test 
        if: steps.app-changed-files.outputs.any_changed == 'true'
        run: |
          # Build SDK packages (required for linting/type checks to work)
          yarn workspace @growthbook/growthbook build
          yarn workspace @growthbook/growthbook-react build

          # Linting
          yarn lint
          yarn workspace stats lint

          # Typescript type checks
          yarn type-check

          # Test suites
          yarn test
        env:
          CI: true


      - name: Docs - get changed files
        id: docs-changed-files
        uses: tj-actions/changed-files@v34
        with:
          files: |
            docs/**
            .github/workflows/ci.yml

      - name: Docs - type-check
        if: steps.docs-changed-files.outputs.any_changed == 'true'
        run: |
          cd docs
          yarn typecheck
          cd ..