name: CI
on:
  pull_request:
    paths:
      - "packages/**"
      - "yarn.lock"
      - ".eslintrc"
      - ".eslintignore"
      - ".prettierignore"

jobs:
  # Linting, type-checking, and tests
  ci:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: '16'
          cache: 'yarn'

      - name: Set up Python 3.8
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
          cache: 'pip'

      - name: Cache eslint
        uses: actions/cache@v2
        with:
          path: ${{ github.workspace }}/.eslintcache
          key: ${{ runner.os }}-eslint-${{ hashFiles('**/yarn.lock') }}-${{ hashFiles('**/*.ts', '**/*.tsx') }}
          restore-keys: |
            ${{ runner.os }}-eslint-
      
      - name: Install dependencies
        run: |
          # Main app
          yarn install

          # Stats engine
          pip install numpy scipy pandas pytest black flake8 mypy nbformat gbstats

      - name: Build, lint, type-check, and test 
        run: |
          # Build SDK packages (required for linting/type checks to work)
          yarn workspace @growthbook/growthbook build
          yarn workspace @growthbook/growthbook-react build

          # Linting
          yarn lint
          yarn workspace stats lint

          # Typescript type checks
          yarn type-check

          # Test suites
          yarn test
        env:
          CI: true
