name: CI
on:
  push:
    branches: [main]
    paths:
      - "packages/**"
      - "pnpm-lock.yaml"
      - ".eslintrc"
      - ".eslintignore"
      - ".prettierignore"
  pull_request:
    paths:
      - "packages/**"
      - "pnpm-lock.yaml"
      - ".eslintrc"
      - ".eslintignore"
      - ".prettierignore"

jobs:
  # Linting, type-checking, and tests
  ci:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install pnpm
        uses: pnpm/action-setup@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: "pnpm"

      - name: Set up Python 3.11
        uses: actions/setup-python@v5
        with:
          python-version: 3.11
          cache: "pip"

      - name: Cache eslint
        uses: actions/cache@v4
        with:
          path: ${{ github.workspace }}/.eslintcache
          key: ${{ runner.os }}-eslint-${{ hashFiles('**/pnpm-lock.yaml') }}-${{ hashFiles('**/*.ts', '**/*.tsx') }}
          restore-keys: |
            ${{ runner.os }}-eslint-

      - name: Install dependencies
        run: |
          # Main app
          pnpm install

          # Stats engine
          pip install pipx
          pipx install poetry
        env:
          CI: true

      - name: Build dependencies
        run: |
          # Build required dependencies (sdks/shared package)
          # This is required for linting/type checks to work
          pnpm run setup
        env:
          CI: true

      - name: Lint
        run: |
          pnpm lint:ci
          pnpm --filter stats lint:ci
        env:
          CI: true

      - name: Check api types
        run: |
          pnpm generate-api-types
          [[ -n $(git status --porcelain) ]] && echo "You need to run pnpm generate-api-types" && git status --porcelain && exit 1 || true

      - name: Check doc
        run: |
          cd docs
          pnpm install
          pnpm gen
          [[ -n $(git status --porcelain) ]] && echo "You need to run pnpm gen-doc" && git status --porcelain && exit 1 || true

      - name: Type-check
        run: |
          pnpm type-check
        env:
          CI: true

      - name: Test
        run: |
          pnpm test
        env:
          CI: true
