name: CI
on:
  push:
    branches: [main]
    paths:
      - "packages/**"
      - "yarn.lock"
      - ".eslintrc"
      - ".eslintignore"
      - ".prettierignore"
  pull_request:
    paths:
      - "packages/**"
      - "yarn.lock"
      - ".eslintrc"
      - ".eslintignore"
      - ".prettierignore"

jobs:
  # Linting, type-checking, and tests
  ci:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Set up Python 3.11
        uses: actions/setup-python@v5
        with:
          python-version: 3.11

      - name: Cache eslint
        uses: actions/cache@v4
        with:
          path: ${{ github.workspace }}/.eslintcache
          key: ${{ runner.os }}-eslint-${{ hashFiles('yarn.lock', '.eslint*', 'package.json') }}
          restore-keys: |
            ${{ runner.os }}-eslint-

      - name: Restore yarn dependencies cache
        uses: actions/cache@v4
        id: yarn-cache
        with:
          path: |
            **/node_modules
          key: ${{ runner.os }}-yarn-${{ hashFiles('yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-

      - name: Install yarn dependencies
        if: steps.yarn-cache.outputs.cache-hit != 'true'
        run: yarn install --frozen-lockfile

      - name: Install python dependencies
        run: |
          pip install pipx
          pipx install poetry
          poetry config virtualenvs.in-project true

      - name: Cache poetry dependencies
        uses: actions/cache@v4
        id: poetry-cache
        with:
          path: packages/stats/.venv
          # Key is based on the OS and the hash of the lock file
          key: ${{ runner.os }}-poetry-${{ hashFiles('packages/stats/poetry.lock') }}
          restore-keys: |
            ${{ runner.os }}-poetry-

      - name: Build dependencies
        run: |
          # Build required dependencies (sdks/shared package)
          # This is required for linting/type checks to work
          yarn setup
        env:
          CI: true

      - name: Lint
        run: |
          yarn lint:ci
          yarn workspace stats lint:ci
        env:
          CI: true

      - name: Check api types
        run: |
          yarn generate-api-types
          [[ -n $(git status --porcelain) ]] && echo "You need to run yarn generate-api-types" && git status --porcelain && exit 1 || true

      - name: Check doc
        run: |
          cd docs
          yarn
          yarn gen
          [[ -n $(git status --porcelain) ]] && echo "You need to run yarn gen-doc" && git status --porcelain && exit 1 || true

      - name: Type-check
        run: |
          yarn type-check
        env:
          CI: true

      - name: Test
        run: |
          yarn test
        env:
          CI: true
