name: Notify on failure

on:
  workflow_run:
    workflows:
      [
        CI,
        Find feature flag code references,
        Deploy Branch to Docker Hub,
        Deploy,
        Docs,
        PR Preview Environment,
        Release,
        Rollback to SHA,
      ]
    types: [completed]
    branches: [main]

jobs:
  notify-not-success:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'failure' || github.event.workflow_run.conclusion == 'timed_out' }}
    steps:
      - name: Send GitHub Action data to a Slack workflow
        uses: slackapi/slack-github-action@v2.1.0
        with:
          payload-delimiter: "_"
          webhook: ${{ secrets.SLACK_WEBHOOK_URL }}
          webhook-type: webhook-trigger
          payload: |
            workflow_name: "${{ github.event.workflow_run.name }}"
            workflow_url: "${{ github.event.workflow_run.html_url }}"
