name: PR Preview Environment

on:
  pull_request:
    branches:
      - main
    paths:
      - "packages/**"
      - "!**.md"
      - "pnpm-lock.yaml"
      - "Dockerfile"
      - ".dockerignore"
    types: [opened, reopened, closed, synchronize, ready_for_review]

jobs:
  preview:
    if: ${{ github.repository == 'growthbook/growthbook' }}
    runs-on: ubuntu-latest
    outputs:
      url: ${{ steps.deploy.outputs.url }}
    concurrency:
      group: pr-${{ github.event.number }}
      cancel-in-progress: true
    environment:
      name: preview
      url: ${{ steps.deploy.outputs.url }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Generate Fly Dockerfile
        run: cat Dockerfile preview/Dockerfile.append > preview/Dockerfile.generated

      - name: Setup fly cli
        uses: superfly/flyctl-actions/setup-flyctl@master

      - name: Deploy PR preview
        id: deploy
        uses: superfly/fly-pr-review-apps@1.3.0
        env:
          FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}
        with:
          config: preview-pr-fly.toml
          name: pr-${{ github.event.number }}-growthbook
          org: growthbook
          region: sjc
          secrets:
            APP_ORIGIN=https://pr-${{ github.event.number }}-growthbook.fly.dev
            API_HOST=https://pr-${{ github.event.number }}-growthbook.fly.dev:4433
            MONGODB_URI=${{ secrets.MONGODB_URI_STAGING }}
            JWT_SECRET=${{ secrets.MONGODB_URI_STAGING }}
            LICENSE_KEY=${{ secrets.STAGING_LICENSE_KEY }}

      - name: Allocate public IP
        run: flyctl ips allocate-v4 --shared -a pr-${{ github.event.number }}-growthbook
        if: ${{ github.event.action != 'closed' }}
        env:
          FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}
