name: PR Preview Environment

on:
  pull_request:
    branches:
      - main
    paths:
      - "packages/**"
      - "!**.md"
      - "yarn.lock"
      - "Dockerfile"
      - ".dockerignore"

jobs:
  preview:
    runs-on: buildjet-32vcpu-ubuntu-2204
    if: ${{ github.repository == 'growthbook/growthbook' }}
    steps:
    - name: Context
      uses: okteto/context@latest
      with:
        url: ${{ secrets.OKTETO_URL }}
        token: ${{ secrets.OKTETO_TOKEN }}

    - name: Deploy preview environment
      uses: okteto/deploy-preview@latest
      env:
       GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        name: pr-${{ github.event.number }}-bttf
        timeout: 30m
