name: Release

on:
  # Make a new tagged release
  push:
    tags:
      - "v*"

jobs:
  # Tag the latest docker release with the tag
  docker:
    runs-on: buildjet-32vcpu-ubuntu-2204
    if: ${{ github.repository == 'growthbook/growthbook' }}
    steps:
      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Add tag to latest image
        run: |
          TAG=${GITHUB_REF#refs/tags/v}
          
          # Pull the latest image
          docker pull growthbook/growthbook:latest

          # Add the version tag
          docker image tag growthbook/growthbook:latest growthbook/growthbook:$TAG

          # Push the new tag
          docker push growthbook/growthbook:$TAG
