name: Rollback to SHA
on:
  workflow_dispatch:
    inputs:
      sha:
        description: 'SHA of git commit to be rolled back to'
        required: true
        type: string
jobs:
  # Build and publish the commit to docker
  docker:
    runs-on: ubuntu-latest
    if: ${{ github.repository == 'growthbook/growthbook' }}
    permissions:
      contents: read
      id-token: write
    steps:
      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Build, tag, and push image to Docker Hub
        uses: docker/setup-buildx-action@v3
        run: |
          docker buildx imagetools create -t growthbook/growthbook:latest growthbook/growthbook:git-${{ inputs.sha }}

  # Deploy the back-end for GrowthBook Cloud
  prod:
    runs-on: ubuntu-latest
    needs: [docker]
    if: ${{ github.repository == 'growthbook/growthbook' }}
    steps:
      - name: Configure AWS credentials for GrowthBook Cloud
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Deploy docker image to ECS for GrowthBook Cloud API
        run: aws ecs update-service --cluster prod-api --service prod-api --force-new-deployment --region us-east-1
