name: Rollback to SHA
on:
  workflow_dispatch:
    inputs:
      sha:
        description: "The first 7 characters of the commit SHA to be rolled back to"
        required: true
        type: string
jobs:
  # Build and publish the commit to docker
  docker:
    runs-on: ubuntu-latest
    if: ${{ github.repository == 'growthbook/growthbook' }}
    permissions:
      contents: read
      id-token: write
    steps:
      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Install buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Tag image as latest in DockerHub
        run: |
          docker buildx imagetools create -t growthbook/growthbook:latest growthbook/growthbook:git-${{ inputs.sha }}

      - name: Tag image as latest in ECR
        run: |
          ECR_REGISTRY=${{ steps.login-ecr.outputs.registry }}
          docker buildx imagetools create -t $ECR_REGISTRY/growthbook:latest $ECR_REGISTRY/growthbook:git-${{ inputs.sha }}

  # Deploy the back-end for GrowthBook Cloud
  prod:
    runs-on: ubuntu-latest
    needs: [docker]
    if: ${{ github.repository == 'growthbook/growthbook' }}
    steps:
      - name: Configure AWS credentials for GrowthBook Cloud
        uses: aws-actions/configure-aws-credentials@v5
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Deploy ECR image to ECS for GrowthBook Cloud API
        run: aws ecs update-service --cluster prod-api --service prod-api --force-new-deployment --region us-east-1

      - name: Deploy ECR image to ECS for GrowthBook Cloud API Python
        run: aws ecs update-service --cluster prod-api-python --service prod-api-python --force-new-deployment --region us-east-1

      - name: Deploy ECR image to ECS for GrowthBook Cloud API Jobs
        run: aws ecs update-service --cluster prod-api-jobs --service prod-api-jobs --force-new-deployment --region us-east-1
